<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    body {
      font-family: Roboto,sans-serif;
    }
    .errorp-img-wrap {
      margin: 32px;
    }
    .errorp-img-error {
      display: block;
      margin: auto;
      width: 250px;
      height: 250px;
    }
    .errorp-text {
      text-align: center;
      color: #9f9f9f;
      font-weight: 600;
      font-size: 32px;
    }
    .errorp-text-error {
      font-size: 45px;

    }
  </style>
  <meta charset="UTF-8">
  <title>{{ error }}</title>
</head>
<body>
<div>
  <div class="errorp-img-wrap">
    <img src="/public/img/error_robot.png" alt="Img error" class="errorp-img-error">
  </div>
  <div class="errorp-text">
    <div class="errorp-text-error">{{ error }}</div>
    <div>{{ description }}</div>
  </div>
</div>
</body>
</html>