@import "constats";
@import "mixins";

.about-me-edit-wrap {
  @include rest-padding-xs;
  max-width: 840px;
  padding: 8px 8px;
  margin: auto;
}

.about-me-edit {
  @include rest-margin-xs;
  @include set-padding-xs(16px);
  background-color: white;
  padding: 32px;
  margin-left: 8px;
  margin-right: 8px;

  &__common {

  }
}

.about-mee-common-title {
  display: inline-block;
  width: 150px;
  color: $gray-color2;
}


.about-mee-row {
  margin: 16px 0;
}

.about-mee-common-name-inputs-bl {
  margin-left: 5px;

  &__second-name {
    margin-left: 20px
  }
}

.about-mee-common-gender-bl {
  margin-left: 5px;

  &__female {
    margin-left: 20px
  }
}

.about-mee-btn-tab {
  height: 70px;
  width: 100%;
}

.about-mee-categories {
  border-right: 1px solid lightgray;
  @media screen and (max-width: 600px) {
    border-right:none;
  }

  &__title {
    color: $gray-color2;
  }
}

.category-edit {
  border-radius: 4px;
  cursor: pointer;
  display: table;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }

  &__letter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
    font-size: 22px;
    color: white;
  }
}

.category-edit-chip md-chip {
  width: 95%;
}

.category-element-box-type {


}