@import "mixins";


.activity-descr {
  @include rest-margin-xs;
  margin: 8px;
  padding: 16px;
  background-color: white
}

.activity-descr-contacts {
  &__text {
    line-height: 34px;
  }
}

.activity-descr-contacts-divider {
  margin: 16px 0;
}

.activity-descr-contact-block {
  margin: 5px 0;
}

.activity-descr-sub-head {
  vertical-align: middle;

  &__icon {
    vertical-align: middle !important;
    margin-right: 8px;
  }
}