.admin-p {
  max-width: 600px;
  margin: auto;
  &__block {

  }
  &__item {
    background-color: white;
    padding: 16px;
    margin: 16px;
  }
}

.admin-feedback-img {
  width: 100px;
  height: auto;
  margin-left: 8px;
}