@import "constats";

html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden !important;
}

md-toolbar h3 {
  font-weight: 500;
}

.md-ripple-container, .md-ripple-placed {
  transition: none;
}
.md-open-menu-container.md-active {
  opacity: 1;
  transition: none;
  transition-duration: 0ms;
}

md-dialog.md-transition-in {
  opacity: 1;
  transition: none;
  -webkit-transform: none;
  transform: none;
}


md-dialog.md-transition-out {
  opacity: 0;
  transition: none;
  -webkit-transform: none;
  transform: none;
}

/*Disable transition for fading in menu items dialog.*/
.md-open-menu-container.md-active > md-menu-content > * {
  opacity: 1;
  transition: none;
  transition-duration: 0ms;
  transition-delay: 0ms;
}

.md-button  {
  transition: none;
  transition-duration: 0ms;
  transition-delay: 0ms;
}

md-dialog._md-transition-in {
  transition: none;
  transition-duration: 0ms;
  transition-delay: 0ms;
}

md-input-container label {
  transition: none!important;
  transition-duration: 0ms!important;
  transition-delay: 0ms!important;
}


md-slider ._md-thumb-container, ._md-focus-ring, ._md-track-fill, ._md-thumb {
  transition: none!important;
  transition-duration: 0ms!important;
  transition-delay: 0ms!important;
}

md-select-menu {
  transition: none!important;
  transition-duration: 0ms!important;
  transition-delay: 0ms!important;
}

md-select-menu md-content {
  transition: none!important;
  transition-duration: 0ms!important;
  transition-delay: 0ms!important;
}

[role="tabpanel"],
md-tabs {
  transition: none;
}

md-nav-bar md-nav-ink-bar {
  background: rgb(63,81,181);
}

md-tabs md-ink-bar {
  color: rgb(63,81,181);
  background-color: rgb(63,81,181);
}

/*
CUSTOM INKBAR COLOR
*/
md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
  background: #d7d7d7;
}
/*
- OEF - CUSTOM INKBAR COLOR
*/

md-tabs .md-tab.md-active {
  color: black !important;
}


md-datepicker button md-icon{
  color: $gray-color1;
}

md-chips.md-default-theme .md-chips, md-chips .md-chips {
  box-shadow: none !important;
}


[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

md-virtual-repeat-container {
  z-index: 104 !important;
}

md-backdrop.md-select-backdrop {
  z-index:103;
}

.md-select-menu-container {
  z-index:104;
}