@import "constats";
@import "mixins";


.blog-p {
  padding: 16px;
  margin-top: -380px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1350px;

  @media screen and  (max-width:600px) {
    padding: 0;
  }

  &__header {
    color: white;
    @media screen and  (max-width:600px) {
      margin-left: 8px;
    }
  }

  &__content {
    margin: 0 40px 0 80px !important;
    max-width: 600px;
    min-height: 600px; // hot fix

    &_lg {
      max-width: 1000px;
    }

    &_md {
      max-width: 700px;
    }

    @media screen  and (max-width:600px) {
      margin: 0 !important;
      max-width: 100%;
    }

  }
}

.blog-p-ribbon {
  width: 100%;
  height: 410px;
  background-color: #EC407A;
}

.default-blog-item {
  &__card {
      margin: 32px 0 !important;
  }
}

.blog-edit-block {
  background-color: white;
  margin-bottom: 32px;
  padding: 16px;
}

.blog-detail {
  font-size: 16px;
  line-height: 26px;

  p {
    margin: 13.5px 0;
    display: block;
  }
  a {
    color: #3f51b5;
    display: inline;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  p i {
    border-left: 2px #4db74d solid;
    padding-left: 16px;
    display: inline-block;
  }
  img {
    max-width: 100%;
    height: auto;
    /* box-sizing: border-box; */
    /* padding: 0 40px; */
    border: 1px lightgray solid;
  }
}