h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.slide-toggle {
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.animate-enter {
  -webkit-transition: 1s linear all;
  transition: 1s linear all;
  opacity: 0;
}

.error {
  color:rgb(221,44,0);
  font-size: 12px;
  letter-spacing: 0.020em;
  line-height: 17px !important;
  margin: 10px 0;
}


.emojione {
  font-size: inherit !important;
  height: 2ex !important;;
  width: 2.1ex !important;;
  min-height: 18px !important;;
  min-width: 18px !important;;
  display: inline-block !important;;
  margin: -.2ex .15em .2ex !important;;
  line-height: normal !important;;
  vertical-align: middle !important;;
  max-width: 100% !important;;
  top: 0 !important;
  background-image: none !important;
}


// hz start
div.md-container.md-mode-indeterminate {
  background-color: transparent;
  height: 3px
}

div.md-bar.md-bar1, div.md-bar.md-bar2{
  background-color: #7986CB;
}

.angular-google-map-container {
  height: 500px;
  width: 100%;
}

.animate-enter.animate-enter-active {
  opacity: 1;
}

.container {
  width: 250px;
}

.container p, .container h1 {
  width: 210px;
}

.md-dialog-container {
  position: fixed;
  top: 50%;
}

.activity_icon {
  vertical-align: middle;
  color: gray;
  margin-right: 5px;
}

md-input-container.hide-error-msg .md-errors-spacer:empty { display: none; }

.fix_for_emoji {
  padding-left: 12px !important;
  padding-bottom: 2px !important;
  height: 33px !important;
}

.crop-area-post {
  background: #E4E4E4;
  overflow: hidden;
  width:400px;
  height:300px;
}

.crop-area-avatar {
  background: #E4E4E4;
  overflow: hidden;
  width:550px;
  height:550px;
}

// hz end