@import "constats";
@import "mixins";

.error-block {
  padding: 24px;

  &__img-wrap {
    margin: 28px;
  }

  &__text {
    text-align: center;
    color: #9f9f9f;
    font-weight: 600;
    font-size: 32px;
  }
}

.error-img-error {
  display: block;
  margin: auto;
  width: 250px;
  height: 250px;
}

.error-text-error {
  font-size: 45px;
}