.feedback-bug-img-container {
  position: relative;
}

.feedback-bug-img-wrap {
  display:table-cell;
  vertical-align:middle;
  text-align:center;
  height:300px;
  width:400px;

  &__img {
    max-height: 300px;
    max-width: 400px;
  }
}

.feedback-stars-wrap {
  margin: 16px 0;
}

.feedback-dlg {
  width: 450px;
  max-height: 100%;

  &__toolbar {
    background-color: white !important;
    color: black !important;
  }

  &__content {
    overflow-x: hidden !important;
    padding: 16px;
  }
}