@import "constats";
@import "mixins";

.gmap {
  position: relative;

  &__control {
    position: absolute;
    width:90%;
    top: 10px;
    right: 10px;
    z-index: 10;
  }

  &__wrapper {

  }
}

.gmap-control {
  &__input-wrap {
    background-color: white;
    border-radius: 3px;
    padding-top: 10px;
    height: 40px;
  }

  &__btn {
    width: 50px;
    min-width: 50px;
    height: 40px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.gmap-control-input-wrap {
  &__input {
    border: none !important;
  }
}

.gmap-control-btn {
  &__icon {
    line-height: 40px !important;
  }
}

.gmap__wrapper .angular-google-map-container {
  height: 400px;
}