@import "constats";
@import "mixins";

$padding: 16px;
$margin-block: 8px;



.help-p {
  padding: 16px;
  margin-top: -380px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1350px;

  @media screen and  (max-width:960px) {
    padding: 0;
  }

  &__header {
    margin-left: 120px;
    color: white;

    @media screen and  (max-width:960px) {
      margin-left: 8px;
    }

  }

  &__menu {
    width: 280px;
    min-width: 280px;

    @media screen and  (max-width:960px) {
      width: 100%;
      background-color: #1976d2;
      padding: 16px;
    }
  }

  &__content {
    margin: 0 40px 0 80px !important;
    max-width: 800px;

    @media screen  and (max-width:960px) {
      margin: 0 !important;
      max-width: 100%;
    }

  }
}

.help-p-menu {
  &__item {
    width: 100%;
    text-align: left;
    margin: 2px;
    padding: 4px;

    &_selected {
      border-left: 2px solid white;
      margin: 16px 0;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: .01em;
      line-height: 24px;
    }
  }
}


.help-p-block {
  margin: $margin-block;
  background-color: white;
  padding: $padding;
  @include rest-margin-xs;

  @media screen and  (max-width:960px) {
    margin: 0 !important;
  }

  &__item {
    margin: 20px 0;
  }
}

.help-p-ribbon {
  width: 100%;
  height: 410px;
  background-color: #1976d2;
}

.help-present-img-wrap {
}

.help-present-img {
  width: 200px;
  height: 200px;
}

.help-rtext {
  margin-left: 16px;
}

.help-ltext {
  margin-right: 16px;
}

.help-p-menu-item-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.help-p-menu__item a {
  color: white;
  display: block;
  padding-left: 8px;
}

.help-icon {
  vertical-align: bottom;
}

.help-add-btn {
  display: inline-block;
  background-color: $color4;
  border-radius: 50%;
  &__icon {
    color: white;
    vertical-align: bottom;
  }
}

.help-geo-search-btn {
  display: inline-block;
  background-color: $color4;
  border-radius: 2%;
  &__icon {
    color: white;
    vertical-align: bottom;
  }
}


.help-location-on-icon {
  color: #ff5656;
  vertical-align: bottom;
}


.help-delete-post-btn {
  color:rgb(255,87,34);
}

.help-contact-add {
  display: inline-block;
  background-color: black;
  border-radius: 50%;
  &__icon {
    color: white;
    vertical-align: bottom;
  }
}

.help-help-btn-wrap {
  display: inline-block;
  background-color: $color4;
  border-radius: 5%;
  &__icon {
    color: white;
    vertical-align: bottom;
  }
  &__text {
    color: white;
  }
}

.help-p-list {

}

.help-p-list li {
  margin: 8px;
}

.help-line-wrap {
  width: 80px;
}

.help-line {
  height: 100%;
  width: 40px;
  border-right: 2px solid $gray-color3;
}

.help-chema-img {
  width: 80px;
  height: 80px;
 }

.help-chema-item-wrap {
  margin: 16px 0;
}
.help-chema-item {
  border-radius: 10px;
  padding: 5px;

  &__icon {
    color: white;
    vertical-align: bottom;
  }

  &_alice {
    background-color: #EC407A;
    color: white;
  }

  &_ivan {
    background-color: #2196F3;
    color: white;
  }
}