.img-crop-region-progress-wrap {
  height: 10px;
  width: 100%;
}

.img-crop-region-avatar-max {
  width: 100%;
}

.img-crop-region-avatar-min-med-wrap {
  margin-left: 40px;
}

.img-crop-region-avatar-med {
  width: 200px;
  height: auto;
  border-radius: 50%;
}


.img-crop-region-avatar-min {
  width: 40px;
  height: auto;
  border-radius: 50%;
}