@import "constats";

.frame-square {
  background: $gray-color0;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
}

.frame-round {
  @extend .frame-square;
  border-radius: 50%;
  overflow: hidden;

  .crop {border-radius: 50%;}
}

.crop {
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 0;

  img {
    display: block;
    min-width: 100%;
    min-height: 100%;
    width: 100%; // test
    height: auto; // test
    margin: auto;
    position: absolute;
    // from start
//    top: -100%;
//    bottom: -100%;
    right: -100%;
    left: -100%;
  }
}