@import "mixins";
@import "constats";


.header {

  margin: 45px 0 30px 0;

  &__logo {
    width: 100%;
    text-align: center;
    display: inline-block;
    padding: 0;
    margin: 0;
  }
}

.logo {
  &__img {
    height: 130px;
    width: auto;
    display: block;
  }

  &__text {
    //margin-top: 0;
    //padding-top: 0;
    @include logo(50px);
  }

  &__text-min {
    @include logo(22px);
  }
}


.menu-item.md-button.md-focused {
  background-color: rgba(0,0,0,0) !important;
}

.menu-item {
  width: 100%;
  height: 48px;
  line-height: 48px;
  text-align:left !important;
  font-size: 14px;
  margin: 0 !important;

  &_selected {
    background-color: $gray-color0;
  }

  &_not-upper {
    text-transform: none;
  }

  &__icon {
    margin: 0 15px 0 30px;
  }

  &__activity {
    font-size: 16px;
    color: $color4;
    font-weight: 600;
  }

  &__text {
    font-size: 14px;
    font-weight: 600;
    color: $gray-color3;
  }
}

.menu-item_selected md-icon {
  color: $color4 !important;
  &:hover {
    color: $color4;
  }
}

.toolbar-wrap {
  z-index: 1;
  background-color: white;

  &__toolbar {
    background-color: inherit !important;
    color: black !important;
  }

  &__toolbar_min {
    margin-top: 0;
    margin-left: 24px;
  }

  &__tabs {

  }
}

.toolbar {
  &__tools {

  }
}

.tools {
  &__menu-btn {
    margin-right: 15px !important;
  }

  &__current {
    @include ellipsis;
  }

  &__user-menu-wrap {

  }
}

.menu-btn {
  &__icon {
    color: inherit !important;
  }
}

.user-menu-wrap {
  &__menu-auth-wrap {

  }

  &__menu-not-auth {
  }
}

.menu-auth-wrap {
  &__avatar-wrap {
    height: 36px;
    width: 36px;
  }

  &__menu {

  }
}

.menu-not-auth {
  &__btn {

  }
  &__content {
    overflow: hidden;
    max-height: none !important;
  }
}

.avatar-wrap {
  &__img {
    height: 36px;
    width: 36px;
    border-radius: 50%;
  }
}

.user-menu {
  &__bnt {

  }

  &__conten {

  }
}

.menu-btn {

  min-width: 0!important;

  &__icon {
    color:inherit !important;
  }
  &_not-upper {
    text-transform: none;
  }
}


.menu-login {
  padding: 20px;

  &__text {
    color: $gray-color2;
    padding-left: 2px;
    margin-bottom: 8px;
    display: block;
  }

  &__input {
    margin: 9px 0;
  }

  &__btn {
    display: block;
    margin: 9px 0;
  }

  &__social {

  }
}

.menu-login-social-btn {
  min-width: 32px !important;
  min-height: 32px !important;
  line-height: normal !important;

  &__img {
    width: 32px;
    height: 32px;
    padding: 8px;
    line-height: normal;
  }
}


.right-main-content {
  &__toolbar-wrap {

  }

  &__content {
    overflow-x: hidden;
    //background-color: rgba(245, 245, 245, 1);
    height: 100%;
  }

}

.content-view {
  height: 100%;
}


.sidenav {
  width: 250px;
  max-width: 250px;
  min-width: 250px;

  &__links {
    margin: 5px;
    padding: 0 30px
  }
}

.sidnav-links {
  &__link-wrap {
    margin-top: 5px;
    margin-right: 8px;
    font-size: 12px;
    letter-spacing: .020em;
    color: $gray-color1;
  }
}

.sidnav-link-wrap {
  &__link {
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }
}

.sidnav-social-link {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-left: 8px;
  &__img {
    width: 100%;
    height: 100%;
  }
}

.p-content {
  padding-top: 20px;
  max-width: 1280px;
  margin: auto;
}

.search-input-wrap {

}

.search-input-wrap .md-errors-spacer { display:none; }

.main-notification {
  padding: 8px 36px;
  background: white;
  border-bottom: 2px solid rgba(211, 211, 211, 0.5);
  z-index: 61;
}

.main-notification-stars-wrap {
  margin-left: 16px;
  margin-right: 32px;
}

.notification-btn-skip {
  min-width: 100px;
}


//md-sidenav {
//  background-color: rgb(250,250,250) !important;
//  z-index: 0;
//}