@import "constats";
@import "mixins";

.like-panel {
  &__like-btn {
    margin-left: 0 !important;  // overload default button
    margin-right: 0 !important;  // overload default button
  }

  &__dislike-btn {
    margin-right: 0 !important;  // overload default button
  }

  &__helpers-btn {
    margin-right: 0 !important;  // overload default button
  }

  &__share-btn {
    margin-right: 0 !important;  // overload default button
  }

  &__text {
    @include icon-text;
    color: $gray-color1;
  }

  &__helpers-block {
    margin-right: 8px;
  }
}

.like-btn {
  &__icon {
    color: $gray-color1;

    &_liked {
      color: #EC407A;
    }

    &_hov:hover {
      color: #ff4686;
    }
  }
}

.dislike-btn {
  &__icon {
    color: $gray-color1;

    &_disliked {
      color: #039BE5;
    }

    &_hov:hover {
      color: #03adff;
    }
  }
}


.helpers-btn {
  &__icon {
    color: $gray-color1;

    &_helped {
      color: #80CBC4;
    }

    &_hov:hover {
      color: #8fe2db;
    }
  }
}


.like-panel-helper {
  position: relative;
  &:hover {
    z-index: 5;
  }

  &__img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
}

.like-panel-helper-img-wrap {
  display: block;
  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: solid 2px rgba(255,255,255,0.87);

}

.like-panel-helper-0 {
  left: 10px;
  z-index: 3;
}

.like-panel-helper-1 {
  left: 5px;
  z-index: 2;
}

.like-panel-helper-2 {
  z-index: 1;
}