@import "constats";

@mixin list-item {
  &_hov:hover {
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .2),
    0 3px 4px 0 rgba(0, 0, 0, .14),
    0 3px 3px -2px rgba(0, 0, 0, .12);
    cursor: pointer;
  }
}

@mixin ellipsis {
  display:inline-block;
  white-space: nowrap;
  overflow:hidden !important;
  text-overflow: ellipsis;
}


@mixin icon-text {
  font-size: 14px;
  font-weight: 600 !important;
  letter-spacing: 0.010em;
  line-height: 14px;
}

@mixin rest-margin-xs {
  @media screen and (max-width: 600px) {
    margin-right: 0;
    margin-left: 0;
  }
}

@mixin set-margin-xs($val) {
  @media screen and (max-width: 600px) {
    margin-right: $val;
    margin-left: $val;
  }
}

@mixin rest-padding-xs {
  @media screen and (max-width: 600px) {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}

@mixin set-padding-xs($val) {
  @media screen and (max-width: 600px) {
    padding-right: $val !important;
    padding-left: $val !important;
  }
}

@mixin logo($val) {
  font-size: $val;
  font-weight: 600;
  line-height: 50px;
  color: #2c2c2c;
  display: inline-block;
  margin: 0;

  &:first-letter {
    font-size: $val + 0.1 * $val;
    color: $color4;
    border-bottom: 3px solid #2c2c2c;
  }
}