@import "constats";
@import "mixins";


.pingvin-info {
  margin: auto;
  padding: 16px;
  max-width: 1000px;

  &__promo {
    margin: 16px 64px 24px 16px;
    max-width: 380px;
    @media screen and (max-width: 599px) {
      margin-right: 8px;
      margin-left: 8px;
      max-width: none;
    }
  }

  &__login {
    background-color: white;
    max-width: 100%;
  }

  &__logo {
    @include logo(80px);
  }

  &__description {
    color: $gray-color3;
    margin-top: 120px;
    margin-bottom: 40px;
    text-align: center;
  }

  &__description1 {
    color: $gray-color3;
    text-align: left;
    margin-top: 60px;
    margin-bottom: 30px;
  }

  &__logo-description {
    color: $gray-color3;
    margin: 40px auto;
    text-align: center;
  }
}

.p-info-tile {
  position: absolute;
  top: 0;
}

.p-info-tile-wrap figure {
  position: static !important;
}

.promo {
  &__logo {
    @include logo(60px);
  }

  &__img {
    width: 100%;
    height: auto;
    margin: 20px auto;
  }

  &__link-wrap {
    text-align: center;
  }
}

.promo-block {
  margin: 60px 32px 0 32px;
  @media screen and (max-width: 599px) {
    margin: 60px 0 0 0;
  }

  &__title {
    color: $gray-color3;
    text-align: center;
    margin-bottom: 8px;
  }


  &__text {
    color: $gray-color2;
    text-align: center;
  }

  &__img-wrap {
    width: 200px;
    height: 200px;
    margin: 20px auto;
  }

  &__img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
  }

}