@import "constats";
@import "mixins";

$padding: 16px;
$margin-block: 8px;


.list-one-col {
  max-width: 700px;
  margin: auto;

  &__no-info {
    text-align: center;
    font-size: 16px;
    margin: 32px;
    color: $gray-color2;
  }
}


.one-col-el {

  margin-bottom: 8px;

  &__time {
    padding: 8px;
  }

  &__post {

  }

  &__descr {
  }
}
