@import "constats";
@import "mixins";

$header-height: 210px;
$padding-text-header-tb: 30px;
$padding-text-header-rl: 16px;

.post-list-item {
  @include list-item;
  @include rest-margin-xs;

  &__header {
  }

  &__title {

  }

  &__content {

  }

  &__footer {

  }

  &__action {

  }
}


.post-item-header {
  &__line {
    height: 5px;
  }

  &__block {

  }
}



.post-item-header-block {

  &__block {
    font-family: 'Bad Script', cursive;
    color: white;
    font-size: 35px;
    line-height: 45px;
    text-align: center;
    vertical-align: middle;
    padding: $padding-text-header-tb $padding-text-header-rl;
    height: $header-height - $padding-text-header-tb*2;
    //overflow:hidden !important;
    //text-overflow: ellipsis;
  }

  &__img {

  }
}


.post-item-title {
  &__text {
    overflow:hidden !important;
    text-overflow: ellipsis;
  }
  &__icons {
    //margin-top: 5px;
  }
}

.post-title-icons {
  &__icon {
    margin-right: 10px;

    &_moderated {
      color: rgb(140, 191, 255) !important;
    }

    &_done {
      color: #97e297 !important;
    }
  }

  &__distance-text {
    white-space: nowrap;
    font-weight: 600;
    line-height: 24px !important;
  }
}

.post-item-footer {
  &__user-name {
  }

  &__time {
    margin-top: 5px;
    font-size: 12px;
    letter-spacing: 0.020em;
    color: $gray-color2;

  }
}

