@import "mixins";
@import "constats";

.helpers-help-offers {
  min-height: 300px;
}

.helpers-help-offers-row {
  margin-bottom: 16px;

  &__act-block {
    width: 100px;
  }
}

.helpers-help-offers-row-act {
  &__end {
    margin-left: 8px;
    padding-left: 6px;
  }
}

.helpers-help-offers-label {
  text-align: center;
}