@import "constats";
@import "mixins";

.post-detail-dialog {
  width: 820px;
  max-height: 100%;

  &__toolbar {
    background-color: white !important;
    color: black !important;
  }

  &__content {
    height: 100%;
    overflow: hidden;
  }
}


.post-detail-content {
  padding: 16px;
  @include set-padding-xs(8px);

  &__header {

  }

  &__simple-params {

  }
}


.post-detail-content-header {
  &__user-name {
    margin-bottom: 5px;
  }
}


.post-detail-simple-params {

  &__item {
    margin: 3px !important;
    padding: 8px !important;
    background-color: #eaeaea;
    border-radius: 10px;
    display: inline-block;
  }

}

.post-detail-simple-params-item {
  cursor: default;

  &__icon {
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    color: gray;
  }

  &__text {
    display: inline-block;
    vertical-align: middle;
    color: gray;

    max-width: 230px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }
}

.post-detail-geo-img-wrap {
  max-width: 800px;
  height: auto;

  &__img {
    width: 100%;
  }
}

.post-detail-like-panel {
  padding: 8px;
}

.post-detail-comment-bl {
  width: 390px;
  max-width: 390px;
  border-left: 1px solid lightgray;

  @media screen and (max-width: 960px) {
    max-width: none;
    border-left: none;
    padding-top: 16px;
    width: 100%;
  }

  &__list {
    padding-top: 20px;
    min-height: 250px !important;
  }

  &__btn-box {
    border-top: 1px solid #f4f4f4;
    padding-top:5px;
    margin-right: 5px
  }
}

.post-detail-comment-list-box {
  padding: 16px;
  @include set-padding-xs(8px);

  &__empty {
    text-align: center;
  }

  &__area {

  }
}

.post-detail-comment-area {
  &__btn-wrap {

  }

  &__list {

  }
}

.post-detail-comment-btn-sh-more {
  width: 100%;
  margin: 0 !important;
}


.post-detail-comment-item {

  &__avatar {
  }

  &__text-wrap {
    margin: 8px 0 !important;
  }

}

.post-detail-comment-input-emulate {
  margin: 0 !important;

  &__inp {
    padding-left: 7px !important;
  }
}

.post-detail-dialog-progress-wrap {
  padding: 64px;
}