$size-item: 350px;

.posts-list {

  @media screen and (min-width: 400px) {
    margin: auto;
    width: $size-item;
    min-width: $size-item;
  }

  @media screen and (min-width: 700px) {
    margin: auto;
    width: $size-item * 2;
    min-width: $size-item * 2;
  }

  @media screen and (min-width: 1280px) {
    margin: auto;
    width: $size-item * 3;
    min-width: $size-item * 3;
  }

  @media screen and (max-width: 600px) {
    width: 100%;
  }

  &__item {
    width: $size-item;
    margin: 0;
    padding: 0;

    @media screen and (max-width: 600px) {
      width: 100%;
    }

    &_invisible {
      opacity: 0;
    }

    &_visible {
      opacity: 1;
    }
  }
}

