@import "mixins";
@import "constats";

.post-done-help {
  width: 500px;
  max-height: 100%;

  &__toolbar {
    background-color: white !important;
    color: black !important;
  }


  &__content {
    overflow-x: hidden !important;
    min-height: 200px;
    padding: 16px;
  }
}


.post-done-help-content {
  &__hint {
    margin: 16px 0;
  }

  &__block  {
    margin-top: 16px;
  }
}

.post-done-help-rating {
  &__stars {
    height: 40px;
  }

  &__text {
    margin-left: 30px;
    @media screen and (max-width: 600px) {
      margin-left: 0;
    }
  }
}

.bigstar .ngrateit-star {
  background-size: 32px;
}

.bigstar {
  width: 160px;
}