@import "constats";
@import "mixins";

.post-new {
  width: 470px;
  max-height: 100%;

  &__toolbar {
    background-color: white !important;
    color: black !important;
  }


  &__content {
    overflow-x: hidden !important;
    padding: 16px;
  }
}


.post-new-textarea {
  box-sizing: border-box;
  width:100%;
}

.post-new-helpers-count {
  color: rgba(0,0,0,0.38);
  padding-left: 5px;
}

.post-new-icon-addable {
  margin-right: 10px;
}

.post-new-additionally-buttons {
  margin-top: 16px;
}

.post-new-additionally-first-btn {
  margin-left: 0 !important;
  padding-left: 0 !important;

}

.post-new-addition {
  width: 450px;
  max-height: 100%;

  &__toolbar {
    background-color: white !important;
    color: black !important;
  }


  &__content {
    overflow-x: hidden !important;
    padding: 16px;
  }
}


.post-new-addition-content {
  &__hint {
    margin: 16px 0;
  }

  &__block  {
    margin-top: 16px;
  }
}

.post-new-location-label {
  @include ellipsis();
  display: inline-block;
  max-width: 300px;
}

.post-new-img-wrap {
  margin-right: 16px;;
  &__img {
    width: 100px;
    height: auto;
  }
}