.post-new-category-btn {
    width:100%;
    text-align:left !important;
    margin: 0 !important;
}

.post-new-sub-category-btn {
  width:100%;
  text-align:left !important;
  margin: 0 !important;
  padding-left: 32px !important;
}
