
.post-new-header-area {
  max-width: 400px;
}

.post-new-color {
  border-radius: 50%;
  opacity: 0.3;

  &_selected {
    border-radius: 50%;
    opacity: 1;
  }
}

.style1 {
  background-color: #1DE9B6;
}
.style2 {
  background-color: #30a9f9;;
}
.style3 {
  background-color: #fa1e69;
}
.style4 {
  background-color: #ff4638;
}
.style5 {
  background-color: #00cde0;

}
.style6 {
  background-color: #e069f4;
}


.cstyle1 {
  color: #1DE9B6;
}
.cstyle2 {
  color: #30a9f9;;
}
.cstyle3 {
  color: #fa1e69;
}
.cstyle4 {
  color: #ff4638;
}
.cstyle5 {
  color: #00cde0;
}
.cstyle6 {
  color: #e069f4;
}