.ol-count {  counter-reset: item  }
.ol-count > li { display: block; margin-bottom: 16px; margin-top: 16px; }
.ol-count > li:before { content: counters(item, ".") " "; counter-increment: item; }

.list-marg > li { margin-bottom: 16px; margin-top: 16px; }