@import "constats";
@import "mixins";


.search-page {
  padding: 16px;

  &__panel  {
    margin: 0 8px 16px 8px;
    background-color: white;
    padding: 16px;
    @include rest-margin-xs;
  }

  &__content {
    width: 100%;
    min-height: 1px;
  }
}

.search-page-form-select-wrap {
  margin-right: 16px;
}

.search-menu-content {
  padding: 16px;
}

.search-page-input-wrap {
  margin: 8px 0 !important;
}