@import "constats";
@import "mixins";

.settings-bl-wrap {
  @include rest-padding-xs;
  max-width: 840px;
  padding: 8px 8px;
  margin: auto;
}

.settings-bl {
  @include rest-margin-xs;
  @include set-padding-xs(16px);
  background-color: white;
  padding: 32px;
  margin-left: 8px;
  margin-right: 8px;
}


.settings-btn-tab {
  height: 70px;
  width: 100%;
}

.settings-hint {
  margin: 16px 0;
}


.settings-divider {
  margin: 16px 0;
}