@import "constats";
@import "mixins";

.share-dialog {
  width: 250px;
  max-height: 100%;

  &__toolbar {
    background-color: white !important;
    color: black !important;
  }


  &__content {
    overflow-x: hidden !important;
    padding: 16px;
  }
}


.share-dialog-content {
  &__hint {
    margin: 16px 0;
  }

  &__block  {
    margin-top: 16px;
  }
}

.block-share-btns {
  margin: auto;
}

.share-btn {
  min-width: 0;
  min-height: 0;
  line-height: normal;
  padding: 10px !important;

  &__img {
    width: 64px;
    height: 64px;
  }
}

