.signup {
  width: 450px;
  max-height: 100%;

  &__toolbar {
    background-color: white !important;
    color: black !important;
  }

  &__content {
    overflow-x: hidden !important;
    padding: 16px;
  }
}


.signup-content {
  &__hint {
    margin: 16px 0;
  }

  &__block  {
    margin-top: 16px;
  }
}