@import "constats";
@import "mixins";


.user-comment-not-cnmt {
  text-align:center;
  margin: 20px 0;
}

.user-comment-comment {

  @include rest-padding-xs;

  &__avatar {
  }


  &__text {
  }

}

.user-comment-text {
  &__name-time {
    margin-top: 16px;
    margin-bottom: 3px;
  }

  &__rate {
    margin: 3px 0;
  }

  &__comment {
    margin-top: 3px;
    margin-bottom: 10px;
  }
}

.user-comment-nt {
  &__name {
  }

  &__time {

  }
}
