@import "mixins";

$lr-padding: 16px;
$margin: 8px;
$width: 200px;
$width-item: $width + 2 * $lr-padding;

.user-list {
  width: 3 * ($width-item + 2 * $margin);
  margin:0 auto;
  text-align: left;

  @media screen and (min-width:600px) and (max-width:960px) {
    width: 2 * ($width-item + 2 * $margin);
    margin:0 auto;
    text-align: left;
  }


  @media screen and (min-width: 1280px) {
    width: 3 * ($width-item + 2 * $margin);
    margin:0 auto;
    text-align: left;
  }

  &__user-box {
    @include list-item;
    @include rest-margin-xs;
    display: inline-block;
    margin:$margin;
    padding: $lr-padding;
    background-color: white;


    @media screen and (max-width: 600px) {
      width: auto;
      display: block;
      padding-top: $lr-padding / 2;
      padding-bottom: $lr-padding / 2;
    }

  }
}


.item-user-box {

  &__img {
    height: 200px;
    width: 200px;
    @media screen and (max-width: 600px) {
      height: 50px;
      width: 50px;
      min-width: 50px;
      margin-right: 10px;
    }
  }

  &__name {
    @include ellipsis;
    text-align: center;
    width: $width;
    margin: 10px 0;
    font-size: 16px;
    line-height: 20px;
    max-height: 40px;

    @media screen and (max-width: 600px) {
      width: auto;
      text-align: left;
    }
  }

  &__footer {
  }
}

.user-item-footer {

  color: $gray-color1;

  &__helps {
    margin-right: 6px;
  }

  &__mhelps {
  }

  &__honors {
  }
}

.user-item-footer-el {
  &__icon {
    vertical-align: middle;
    line-height: normal;
    padding: 8px;
  }

  &__icon-first {
    vertical-align: middle;
    line-height: normal;
    padding: 8px 8px 8px 0;
  }

  &__text {
    @include icon-text;
    vertical-align: middle;
    line-height: normal;

  }
}



