@import "constats";
@import "mixins";

$padding: 16px;
$margin-block: 8px;

$element-size-slider: 50px;
$button-size-slider: 30px;


@mixin user-detail-block {
  margin: $margin-block;
  background-color: white;
  padding: $padding;
  @include rest-margin-xs;
}

.user-detail {
  @include rest-padding-xs;
  padding: 8px;
  max-width: 840px;
  margin: auto;

  &__header {
    background-color: white;
    padding: $padding;
    margin: 0 $margin-block $margin-block;
    @include rest-margin-xs;
  }

  &__content {

  }
}


.user-detail-header {
  &__name {
    @include ellipsis;
  }

  &__btn {

  }
}

.user-detal-content {

  &__avatar-block {
    width: 250px+2*$padding+2*$margin;
    @media screen and (max-width: 960px) {
      width: auto;
    }
  }

  &__info-block {

  }
}


.detail-bl-avatar {
  margin: $margin-block;
  background-color: white;
  @include rest-margin-xs;

  @media screen and (max-width: 960px) {
    //width: 250px+2*$padding+2*$margin;
  }

  @media screen and (max-width: 600px) {
    width: auto;
  }

  &__img-wrap {
    position: relative;
    padding: $padding;
  }

  &__btn-wrap {
    padding: $padding;
  }

}

.detail-bl-avatar-img-wrap {
  &__icon-wrap {
    display: none;
    position: absolute;
    right: $padding;
    top: $padding;
  }

  &__img {
    height: 250px;
    width: 250px;
  }
}

.detail-bl-avatar-close-icon {
  color: white;
  text-shadow: 1px 1px 1px black, 0 0 0.5em black;
}

.detail-bl-avatar-wrap-button {
  width: 250px;
  height: 250px;
}

.detail-bl-avatar-wrap-button:hover .detail-bl-avatar-img-wrap__icon-wrap {
  display: block;
}



.detail-bl-categories {
  @include user-detail-block;
  @media screen and (max-width: 960px) {
    height: 100%;
  }

}

.add-photo-btn {
  width: 100%;

  &__icon {
    margin-right: 10px;
    vertical-align: middle
  }

  &__text {
    color: $gray-color2;
  }
}


.detail-bl-info {
  @include user-detail-block;

  &__gender-age {

  }

  &__info {

  }
}

.info-gender-age {
  &__gender {
    margin-right: 20px;
  }

  &__age {

  }
}


.age-gender {
  &__head {
    display: inline-block;
  }
  &__text {
    margin-left: 10px;
  }
}

.detail-bl-comments {
  @include user-detail-block;
}



.user-detail-element-box-type {
  width: $element-size-slider;
  height: $element-size-slider;
  margin-right: 4px;
  border-radius: 2px;
  display: table !important;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }

  &__letter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
    font-size: 22px;
    color: white;
    cursor: default;
  }
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  padding: 0 !important;
}

.slider-list-with-buttons {
  margin: 0 15px;
}

.slider-list-remove-transform {
  transform: none !important;
}


.slider-block {
  position: relative;
  height: $element-size-slider;

}

.slider-button {

  line-height: 20px !important;
  width: $button-size-slider !important;
  height: $button-size-slider !important;
  min-height: $button-size-slider !important;
  min-width: $button-size-slider !important;
  margin: ($element-size-slider - $button-size-slider) / 2 0 !important;

  &__icon {
    font-size: 20px;
    height: 20px;
    width: 20px;
    min-height: 20px;
    min-width: 20px;
    color: $color4 !important;
  }

}

.slider-button-wrap {
  position: absolute;
  height: 100%;

  &_right {
    right: 0;
  }
  &_left {
    left: 0;
  }
}

.user-detail-hint {
  text-align: center;
  margin: 20px 0;
}
