.new-user-avatar {
  width: 600px;
  max-height: 100%;

  &__toolbar {
    background-color: white !important;
    color: black !important;
  }


  &__content {
    overflow-x: hidden !important;
    padding: 16px;
  }
}


.new-user-avatar-content {
  &__hint {
    margin: 16px 0;
  }

  &__block  {
    margin-top: 16px;
  }
}