@import "constats";

.load-bnt {
  margin: 10px 0;
}

.icon-wrap {
  &__icon {
    color: $gray-color1 !important;
    max-width: 24px;
    white-space: nowrap;
    overflow: hidden;

    &_hov:hover {
      color: $gray-color2 !important;
    }

    &_cur {
      cursor: pointer;
    }
  }
}


.image-container {
  &__img {
    width: 100%;
    height: 100%;
  }
}


.avatar-min {
  margin-right: 15px;
  height: 40px;
  width: 40px;
  min-width: 40px;

  &__img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
}


.link {
  display: inline;
  cursor: pointer;

  &_blue:hover {
    color: rgb(63,81,181);
    text-decoration: underline;
  }

  &_b {
    color: rgb(63,81,181);
  }
}


.circle {
  border-radius: 50%;
}


.rst_btn_upper span {
  text-transform: none;
}

.btn_bold span {
  font-weight: bold !important;
}

.btn_minimize {
  min-width: 0 !important;
}


.secondarily {
  color: $gray-color2;
  font-size: 12px;
  letter-spacing: 0.020em;
  line-height: 17px !important;
}


.content-scroll {
  position: relative;
  height: 100%;
  overflow: hidden;

  @media screen and (max-width: 960px) {
    position: static;
    overflow: auto;
    height: auto;
  }

}

.reset-mp {
  margin: 0 !important;
  padding: 0 !important;
}

.reset-m {
  margin: 0 !important;
}

.reset-lrp {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.reset-lrm {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.long-word {
  white-space: pre-line;
  word-wrap: break-word;
}

.second_plan_dialog {
  z-index: 70;
}



