html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden !important; }

md-toolbar h3 {
  font-weight: 500; }

.md-ripple-container, .md-ripple-placed {
  transition: none; }

.md-open-menu-container.md-active {
  opacity: 1;
  transition: none;
  transition-duration: 0ms; }

md-dialog.md-transition-in {
  opacity: 1;
  transition: none;
  -webkit-transform: none;
  transform: none; }

md-dialog.md-transition-out {
  opacity: 0;
  transition: none;
  -webkit-transform: none;
  transform: none; }

/*Disable transition for fading in menu items dialog.*/
.md-open-menu-container.md-active > md-menu-content > * {
  opacity: 1;
  transition: none;
  transition-duration: 0ms;
  transition-delay: 0ms; }

.md-button {
  transition: none;
  transition-duration: 0ms;
  transition-delay: 0ms; }

md-dialog._md-transition-in {
  transition: none;
  transition-duration: 0ms;
  transition-delay: 0ms; }

md-input-container label {
  transition: none !important;
  transition-duration: 0ms !important;
  transition-delay: 0ms !important; }

md-slider ._md-thumb-container, ._md-focus-ring, ._md-track-fill, ._md-thumb {
  transition: none !important;
  transition-duration: 0ms !important;
  transition-delay: 0ms !important; }

md-select-menu {
  transition: none !important;
  transition-duration: 0ms !important;
  transition-delay: 0ms !important; }

md-select-menu md-content {
  transition: none !important;
  transition-duration: 0ms !important;
  transition-delay: 0ms !important; }

[role="tabpanel"],
md-tabs {
  transition: none; }

md-nav-bar md-nav-ink-bar {
  background: #3f51b5; }

md-tabs md-ink-bar {
  color: #3f51b5;
  background-color: #3f51b5; }

/*
CUSTOM INKBAR COLOR
*/
md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
  background: #d7d7d7; }

/*
- OEF - CUSTOM INKBAR COLOR
*/
md-tabs .md-tab.md-active {
  color: black !important; }

md-datepicker button md-icon {
  color: #b3b3b3; }

md-chips.md-default-theme .md-chips, md-chips .md-chips {
  box-shadow: none !important; }

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important; }

md-virtual-repeat-container {
  z-index: 104 !important; }

md-backdrop.md-select-backdrop {
  z-index: 103; }

.md-select-menu-container {
  z-index: 104; }

.load-bnt {
  margin: 10px 0; }

.icon-wrap__icon {
  color: #b3b3b3 !important;
  max-width: 24px;
  white-space: nowrap;
  overflow: hidden; }
  .icon-wrap__icon_hov:hover {
    color: #7a7a7a !important; }
  .icon-wrap__icon_cur {
    cursor: pointer; }

.image-container__img {
  width: 100%;
  height: 100%; }

.avatar-min {
  margin-right: 15px;
  height: 40px;
  width: 40px;
  min-width: 40px; }
  .avatar-min__img {
    border-radius: 50%;
    width: 100%;
    height: 100%; }

.link {
  display: inline;
  cursor: pointer; }
  .link_blue:hover {
    color: #3f51b5;
    text-decoration: underline; }
  .link_b {
    color: #3f51b5; }

.circle {
  border-radius: 50%; }

.rst_btn_upper span {
  text-transform: none; }

.btn_bold span {
  font-weight: bold !important; }

.btn_minimize {
  min-width: 0 !important; }

.secondarily {
  color: #7a7a7a;
  font-size: 12px;
  letter-spacing: 0.020em;
  line-height: 17px !important; }

.content-scroll {
  position: relative;
  height: 100%;
  overflow: hidden; }
  @media screen and (max-width: 960px) {
    .content-scroll {
      position: static;
      overflow: auto;
      height: auto; } }

.reset-mp {
  margin: 0 !important;
  padding: 0 !important; }

.reset-m {
  margin: 0 !important; }

.reset-lrp {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.reset-lrm {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.long-word {
  white-space: pre-line;
  word-wrap: break-word; }

.second_plan_dialog {
  z-index: 70; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  margin-top: 1rem; }

a {
  text-decoration: none;
  color: black;
  cursor: pointer; }

.slide-toggle {
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.animate-enter {
  -webkit-transition: 1s linear all;
  transition: 1s linear all;
  opacity: 0; }

.error {
  color: #dd2c00;
  font-size: 12px;
  letter-spacing: 0.020em;
  line-height: 17px !important;
  margin: 10px 0; }

.emojione {
  font-size: inherit !important;
  height: 2ex !important;
  width: 2.1ex !important;
  min-height: 18px !important;
  min-width: 18px !important;
  display: inline-block !important;
  margin: -.2ex .15em .2ex !important;
  line-height: normal !important;
  vertical-align: middle !important;
  max-width: 100% !important;
  top: 0 !important;
  background-image: none !important; }

div.md-container.md-mode-indeterminate {
  background-color: transparent;
  height: 3px; }

div.md-bar.md-bar1, div.md-bar.md-bar2 {
  background-color: #7986CB; }

.angular-google-map-container {
  height: 500px;
  width: 100%; }

.animate-enter.animate-enter-active {
  opacity: 1; }

.container {
  width: 250px; }

.container p, .container h1 {
  width: 210px; }

.md-dialog-container {
  position: fixed;
  top: 50%; }

.activity_icon {
  vertical-align: middle;
  color: gray;
  margin-right: 5px; }

md-input-container.hide-error-msg .md-errors-spacer:empty {
  display: none; }

.fix_for_emoji {
  padding-left: 12px !important;
  padding-bottom: 2px !important;
  height: 33px !important; }

.crop-area-post {
  background: #E4E4E4;
  overflow: hidden;
  width: 400px;
  height: 300px; }

.crop-area-avatar {
  background: #E4E4E4;
  overflow: hidden;
  width: 550px;
  height: 550px; }

.header {
  margin: 45px 0 30px 0; }
  .header__logo {
    width: 100%;
    text-align: center;
    display: inline-block;
    padding: 0;
    margin: 0; }

.logo__img {
  height: 130px;
  width: auto;
  display: block; }
.logo__text {
  font-size: 50px;
  font-weight: 600;
  line-height: 50px;
  color: #2c2c2c;
  display: inline-block;
  margin: 0; }
  .logo__text:first-letter {
    font-size: 55px;
    color: #3f51b5;
    border-bottom: 3px solid #2c2c2c; }
.logo__text-min {
  font-size: 22px;
  font-weight: 600;
  line-height: 50px;
  color: #2c2c2c;
  display: inline-block;
  margin: 0; }
  .logo__text-min:first-letter {
    font-size: 24.2px;
    color: #3f51b5;
    border-bottom: 3px solid #2c2c2c; }

.menu-item.md-button.md-focused {
  background-color: transparent !important; }

.menu-item {
  width: 100%;
  height: 48px;
  line-height: 48px;
  text-align: left !important;
  font-size: 14px;
  margin: 0 !important; }
  .menu-item_selected {
    background-color: #f1f1f1; }
  .menu-item_not-upper {
    text-transform: none; }
  .menu-item__icon {
    margin: 0 15px 0 30px; }
  .menu-item__activity {
    font-size: 16px;
    color: #3f51b5;
    font-weight: 600; }
  .menu-item__text {
    font-size: 14px;
    font-weight: 600;
    color: #565656; }

.menu-item_selected md-icon {
  color: #3f51b5 !important; }
  .menu-item_selected md-icon:hover {
    color: #3f51b5; }

.toolbar-wrap {
  z-index: 1;
  background-color: white; }
  .toolbar-wrap__toolbar {
    background-color: inherit !important;
    color: black !important; }
  .toolbar-wrap__toolbar_min {
    margin-top: 0;
    margin-left: 24px; }

.tools__menu-btn {
  margin-right: 15px !important; }
.tools__current {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis; }

.menu-btn__icon {
  color: inherit !important; }

.menu-auth-wrap__avatar-wrap {
  height: 36px;
  width: 36px; }

.menu-not-auth__content {
  overflow: hidden;
  max-height: none !important; }

.avatar-wrap__img {
  height: 36px;
  width: 36px;
  border-radius: 50%; }

.menu-btn {
  min-width: 0 !important; }
  .menu-btn__icon {
    color: inherit !important; }
  .menu-btn_not-upper {
    text-transform: none; }

.menu-login {
  padding: 20px; }
  .menu-login__text {
    color: #7a7a7a;
    padding-left: 2px;
    margin-bottom: 8px;
    display: block; }
  .menu-login__input {
    margin: 9px 0; }
  .menu-login__btn {
    display: block;
    margin: 9px 0; }

.menu-login-social-btn {
  min-width: 32px !important;
  min-height: 32px !important;
  line-height: normal !important; }
  .menu-login-social-btn__img {
    width: 32px;
    height: 32px;
    padding: 8px;
    line-height: normal; }

.right-main-content__content {
  overflow-x: hidden;
  height: 100%; }

.content-view {
  height: 100%; }

.sidenav {
  width: 250px;
  max-width: 250px;
  min-width: 250px; }
  .sidenav__links {
    margin: 5px;
    padding: 0 30px; }

.sidnav-links__link-wrap {
  margin-top: 5px;
  margin-right: 8px;
  font-size: 12px;
  letter-spacing: .020em;
  color: #b3b3b3; }

.sidnav-link-wrap__link {
  color: inherit; }
  .sidnav-link-wrap__link:hover {
    text-decoration: underline; }

.sidnav-social-link {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-left: 8px; }
  .sidnav-social-link__img {
    width: 100%;
    height: 100%; }

.p-content {
  padding-top: 20px;
  max-width: 1280px;
  margin: auto; }

.search-input-wrap .md-errors-spacer {
  display: none; }

.main-notification {
  padding: 8px 36px;
  background: white;
  border-bottom: 2px solid rgba(211, 211, 211, 0.5);
  z-index: 61; }

.main-notification-stars-wrap {
  margin-left: 16px;
  margin-right: 32px; }

.notification-btn-skip {
  min-width: 100px; }

@media screen and (min-width: 400px) {
  .posts-list {
    margin: auto;
    width: 350px;
    min-width: 350px; } }
@media screen and (min-width: 700px) {
  .posts-list {
    margin: auto;
    width: 700px;
    min-width: 700px; } }
@media screen and (min-width: 1280px) {
  .posts-list {
    margin: auto;
    width: 1050px;
    min-width: 1050px; } }
@media screen and (max-width: 600px) {
  .posts-list {
    width: 100%; } }
.posts-list__item {
  width: 350px;
  margin: 0;
  padding: 0; }
  @media screen and (max-width: 600px) {
    .posts-list__item {
      width: 100%; } }
  .posts-list__item_invisible {
    opacity: 0; }
  .posts-list__item_visible {
    opacity: 1; }

.like-panel__like-btn {
  margin-left: 0 !important;
  margin-right: 0 !important; }
.like-panel__dislike-btn {
  margin-right: 0 !important; }
.like-panel__helpers-btn {
  margin-right: 0 !important; }
.like-panel__share-btn {
  margin-right: 0 !important; }
.like-panel__text {
  font-size: 14px;
  font-weight: 600 !important;
  letter-spacing: 0.010em;
  line-height: 14px;
  color: #b3b3b3; }
.like-panel__helpers-block {
  margin-right: 8px; }

.like-btn__icon {
  color: #b3b3b3; }
  .like-btn__icon_liked {
    color: #EC407A; }
  .like-btn__icon_hov:hover {
    color: #ff4686; }

.dislike-btn__icon {
  color: #b3b3b3; }
  .dislike-btn__icon_disliked {
    color: #039BE5; }
  .dislike-btn__icon_hov:hover {
    color: #03adff; }

.helpers-btn__icon {
  color: #b3b3b3; }
  .helpers-btn__icon_helped {
    color: #80CBC4; }
  .helpers-btn__icon_hov:hover {
    color: #8fe2db; }

.like-panel-helper {
  position: relative; }
  .like-panel-helper:hover {
    z-index: 5; }
  .like-panel-helper__img {
    height: 100%;
    width: 100%;
    border-radius: 50%; }

.like-panel-helper-img-wrap {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 2px rgba(255, 255, 255, 0.87); }

.like-panel-helper-0 {
  left: 10px;
  z-index: 3; }

.like-panel-helper-1 {
  left: 5px;
  z-index: 2; }

.like-panel-helper-2 {
  z-index: 1; }

.post-list-item_hov:hover {
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
  cursor: pointer; }
@media screen and (max-width: 600px) {
  .post-list-item {
    margin-right: 0;
    margin-left: 0; } }

.post-item-header__line {
  height: 5px; }

.post-item-header-block__block {
  font-family: 'Bad Script', cursive;
  color: white;
  font-size: 35px;
  line-height: 45px;
  text-align: center;
  vertical-align: middle;
  padding: 30px 16px;
  height: 150px; }

.post-item-title__text {
  overflow: hidden !important;
  text-overflow: ellipsis; }

.post-title-icons__icon {
  margin-right: 10px; }
  .post-title-icons__icon_moderated {
    color: #8cbfff !important; }
  .post-title-icons__icon_done {
    color: #97e297 !important; }
.post-title-icons__distance-text {
  white-space: nowrap;
  font-weight: 600;
  line-height: 24px !important; }

.post-item-footer__time {
  margin-top: 5px;
  font-size: 12px;
  letter-spacing: 0.020em;
  color: #7a7a7a; }

.user-list {
  width: 744px;
  margin: 0 auto;
  text-align: left; }
  @media screen and (min-width: 600px) and (max-width: 960px) {
    .user-list {
      width: 496px;
      margin: 0 auto;
      text-align: left; } }
  @media screen and (min-width: 1280px) {
    .user-list {
      width: 744px;
      margin: 0 auto;
      text-align: left; } }
  .user-list__user-box {
    display: inline-block;
    margin: 8px;
    padding: 16px;
    background-color: white; }
    .user-list__user-box_hov:hover {
      box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
      cursor: pointer; }
    @media screen and (max-width: 600px) {
      .user-list__user-box {
        margin-right: 0;
        margin-left: 0; } }
    @media screen and (max-width: 600px) {
      .user-list__user-box {
        width: auto;
        display: block;
        padding-top: 8px;
        padding-bottom: 8px; } }

.item-user-box__img {
  height: 200px;
  width: 200px; }
  @media screen and (max-width: 600px) {
    .item-user-box__img {
      height: 50px;
      width: 50px;
      min-width: 50px;
      margin-right: 10px; } }
.item-user-box__name {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  text-align: center;
  width: 200px;
  margin: 10px 0;
  font-size: 16px;
  line-height: 20px;
  max-height: 40px; }
  @media screen and (max-width: 600px) {
    .item-user-box__name {
      width: auto;
      text-align: left; } }

.user-item-footer {
  color: #b3b3b3; }
  .user-item-footer__helps {
    margin-right: 6px; }

.user-item-footer-el__icon {
  vertical-align: middle;
  line-height: normal;
  padding: 8px; }
.user-item-footer-el__icon-first {
  vertical-align: middle;
  line-height: normal;
  padding: 8px 8px 8px 0; }
.user-item-footer-el__text {
  font-size: 14px;
  font-weight: 600 !important;
  letter-spacing: 0.010em;
  line-height: 14px;
  vertical-align: middle;
  line-height: normal; }

.user-detail {
  padding: 8px;
  max-width: 840px;
  margin: auto; }
  @media screen and (max-width: 600px) {
    .user-detail {
      padding-right: 0 !important;
      padding-left: 0 !important; } }
  .user-detail__header {
    background-color: white;
    padding: 16px;
    margin: 0 8px 8px; }
    @media screen and (max-width: 600px) {
      .user-detail__header {
        margin-right: 0;
        margin-left: 0; } }

.user-detail-header__name {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis; }

.user-detal-content__avatar-block {
  width: 298px; }
  @media screen and (max-width: 960px) {
    .user-detal-content__avatar-block {
      width: auto; } }

.detail-bl-avatar {
  margin: 8px;
  background-color: white; }
  @media screen and (max-width: 600px) {
    .detail-bl-avatar {
      margin-right: 0;
      margin-left: 0; } }
  @media screen and (max-width: 600px) {
    .detail-bl-avatar {
      width: auto; } }
  .detail-bl-avatar__img-wrap {
    position: relative;
    padding: 16px; }
  .detail-bl-avatar__btn-wrap {
    padding: 16px; }

.detail-bl-avatar-img-wrap__icon-wrap {
  display: none;
  position: absolute;
  right: 16px;
  top: 16px; }
.detail-bl-avatar-img-wrap__img {
  height: 250px;
  width: 250px; }

.detail-bl-avatar-close-icon {
  color: white;
  text-shadow: 1px 1px 1px black, 0 0 0.5em black; }

.detail-bl-avatar-wrap-button {
  width: 250px;
  height: 250px; }

.detail-bl-avatar-wrap-button:hover .detail-bl-avatar-img-wrap__icon-wrap {
  display: block; }

.detail-bl-categories {
  margin: 8px;
  background-color: white;
  padding: 16px; }
  @media screen and (max-width: 600px) {
    .detail-bl-categories {
      margin-right: 0;
      margin-left: 0; } }
  @media screen and (max-width: 960px) {
    .detail-bl-categories {
      height: 100%; } }

.add-photo-btn {
  width: 100%; }
  .add-photo-btn__icon {
    margin-right: 10px;
    vertical-align: middle; }
  .add-photo-btn__text {
    color: #7a7a7a; }

.detail-bl-info {
  margin: 8px;
  background-color: white;
  padding: 16px; }
  @media screen and (max-width: 600px) {
    .detail-bl-info {
      margin-right: 0;
      margin-left: 0; } }

.info-gender-age__gender {
  margin-right: 20px; }

.age-gender__head {
  display: inline-block; }
.age-gender__text {
  margin-left: 10px; }

.detail-bl-comments {
  margin: 8px;
  background-color: white;
  padding: 16px; }
  @media screen and (max-width: 600px) {
    .detail-bl-comments {
      margin-right: 0;
      margin-left: 0; } }

.user-detail-element-box-type {
  width: 50px;
  height: 50px;
  margin-right: 4px;
  border-radius: 2px;
  display: table !important;
  opacity: 0.7; }
  .user-detail-element-box-type:hover {
    opacity: 1; }
  .user-detail-element-box-type__letter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
    font-size: 22px;
    color: white;
    cursor: default; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  padding: 0 !important; }

.slider-list-with-buttons {
  margin: 0 15px; }

.slider-list-remove-transform {
  transform: none !important; }

.slider-block {
  position: relative;
  height: 50px; }

.slider-button {
  line-height: 20px !important;
  width: 30px !important;
  height: 30px !important;
  min-height: 30px !important;
  min-width: 30px !important;
  margin: 10px 0 !important; }
  .slider-button__icon {
    font-size: 20px;
    height: 20px;
    width: 20px;
    min-height: 20px;
    min-width: 20px;
    color: #3f51b5 !important; }

.slider-button-wrap {
  position: absolute;
  height: 100%; }
  .slider-button-wrap_right {
    right: 0; }
  .slider-button-wrap_left {
    left: 0; }

.user-detail-hint {
  text-align: center;
  margin: 20px 0; }

.list-one-col {
  max-width: 700px;
  margin: auto; }
  .list-one-col__no-info {
    text-align: center;
    font-size: 16px;
    margin: 32px;
    color: #7a7a7a; }

.one-col-el {
  margin-bottom: 8px; }
  .one-col-el__time {
    padding: 8px; }

.activity-descr {
  margin: 8px;
  padding: 16px;
  background-color: white; }
  @media screen and (max-width: 600px) {
    .activity-descr {
      margin-right: 0;
      margin-left: 0; } }

.activity-descr-contacts__text {
  line-height: 34px; }

.activity-descr-contacts-divider {
  margin: 16px 0; }

.activity-descr-contact-block {
  margin: 5px 0; }

.activity-descr-sub-head {
  vertical-align: middle; }
  .activity-descr-sub-head__icon {
    vertical-align: middle !important;
    margin-right: 8px; }

.user-comment-not-cnmt {
  text-align: center;
  margin: 20px 0; }

@media screen and (max-width: 600px) {
  .user-comment-comment {
    padding-right: 0 !important;
    padding-left: 0 !important; } }

.user-comment-text__name-time {
  margin-top: 16px;
  margin-bottom: 3px; }
.user-comment-text__rate {
  margin: 3px 0; }
.user-comment-text__comment {
  margin-top: 3px;
  margin-bottom: 10px; }

.about-me-edit-wrap {
  max-width: 840px;
  padding: 8px 8px;
  margin: auto; }
  @media screen and (max-width: 600px) {
    .about-me-edit-wrap {
      padding-right: 0 !important;
      padding-left: 0 !important; } }

.about-me-edit {
  background-color: white;
  padding: 32px;
  margin-left: 8px;
  margin-right: 8px; }
  @media screen and (max-width: 600px) {
    .about-me-edit {
      margin-right: 0;
      margin-left: 0; } }
  @media screen and (max-width: 600px) {
    .about-me-edit {
      padding-right: 16px !important;
      padding-left: 16px !important; } }

.about-mee-common-title {
  display: inline-block;
  width: 150px;
  color: #7a7a7a; }

.about-mee-row {
  margin: 16px 0; }

.about-mee-common-name-inputs-bl {
  margin-left: 5px; }
  .about-mee-common-name-inputs-bl__second-name {
    margin-left: 20px; }

.about-mee-common-gender-bl {
  margin-left: 5px; }
  .about-mee-common-gender-bl__female {
    margin-left: 20px; }

.about-mee-btn-tab {
  height: 70px;
  width: 100%; }

.about-mee-categories {
  border-right: 1px solid lightgray; }
  @media screen and (max-width: 600px) {
    .about-mee-categories {
      border-right: none; } }
  .about-mee-categories__title {
    color: #7a7a7a; }

.category-edit {
  border-radius: 4px;
  cursor: pointer;
  display: table;
  opacity: 0.7; }
  .category-edit:hover {
    opacity: 1; }
  .category-edit__letter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
    font-size: 22px;
    color: white; }

.category-edit-chip md-chip {
  width: 95%; }

.settings-bl-wrap {
  max-width: 840px;
  padding: 8px 8px;
  margin: auto; }
  @media screen and (max-width: 600px) {
    .settings-bl-wrap {
      padding-right: 0 !important;
      padding-left: 0 !important; } }

.settings-bl {
  background-color: white;
  padding: 32px;
  margin-left: 8px;
  margin-right: 8px; }
  @media screen and (max-width: 600px) {
    .settings-bl {
      margin-right: 0;
      margin-left: 0; } }
  @media screen and (max-width: 600px) {
    .settings-bl {
      padding-right: 16px !important;
      padding-left: 16px !important; } }

.settings-btn-tab {
  height: 70px;
  width: 100%; }

.settings-hint {
  margin: 16px 0; }

.settings-divider {
  margin: 16px 0; }

.post-detail-dialog {
  width: 820px;
  max-height: 100%; }
  .post-detail-dialog__toolbar {
    background-color: white !important;
    color: black !important; }
  .post-detail-dialog__content {
    height: 100%;
    overflow: hidden; }

.post-detail-content {
  padding: 16px; }
  @media screen and (max-width: 600px) {
    .post-detail-content {
      padding-right: 8px !important;
      padding-left: 8px !important; } }

.post-detail-content-header__user-name {
  margin-bottom: 5px; }

.post-detail-simple-params__item {
  margin: 3px !important;
  padding: 8px !important;
  background-color: #eaeaea;
  border-radius: 10px;
  display: inline-block; }

.post-detail-simple-params-item {
  cursor: default; }
  .post-detail-simple-params-item__icon {
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    color: gray; }
  .post-detail-simple-params-item__text {
    display: inline-block;
    vertical-align: middle;
    color: gray;
    max-width: 230px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis; }

.post-detail-geo-img-wrap {
  max-width: 800px;
  height: auto; }
  .post-detail-geo-img-wrap__img {
    width: 100%; }

.post-detail-like-panel {
  padding: 8px; }

.post-detail-comment-bl {
  width: 390px;
  max-width: 390px;
  border-left: 1px solid lightgray; }
  @media screen and (max-width: 960px) {
    .post-detail-comment-bl {
      max-width: none;
      border-left: none;
      padding-top: 16px;
      width: 100%; } }
  .post-detail-comment-bl__list {
    padding-top: 20px;
    min-height: 250px !important; }
  .post-detail-comment-bl__btn-box {
    border-top: 1px solid #f4f4f4;
    padding-top: 5px;
    margin-right: 5px; }

.post-detail-comment-list-box {
  padding: 16px; }
  @media screen and (max-width: 600px) {
    .post-detail-comment-list-box {
      padding-right: 8px !important;
      padding-left: 8px !important; } }
  .post-detail-comment-list-box__empty {
    text-align: center; }

.post-detail-comment-btn-sh-more {
  width: 100%;
  margin: 0 !important; }

.post-detail-comment-item__text-wrap {
  margin: 8px 0 !important; }

.post-detail-comment-input-emulate {
  margin: 0 !important; }
  .post-detail-comment-input-emulate__inp {
    padding-left: 7px !important; }

.post-detail-dialog-progress-wrap {
  padding: 64px; }

.post-new {
  width: 470px;
  max-height: 100%; }
  .post-new__toolbar {
    background-color: white !important;
    color: black !important; }
  .post-new__content {
    overflow-x: hidden !important;
    padding: 16px; }

.post-new-textarea {
  box-sizing: border-box;
  width: 100%; }

.post-new-helpers-count {
  color: rgba(0, 0, 0, 0.38);
  padding-left: 5px; }

.post-new-icon-addable {
  margin-right: 10px; }

.post-new-additionally-buttons {
  margin-top: 16px; }

.post-new-additionally-first-btn {
  margin-left: 0 !important;
  padding-left: 0 !important; }

.post-new-addition {
  width: 450px;
  max-height: 100%; }
  .post-new-addition__toolbar {
    background-color: white !important;
    color: black !important; }
  .post-new-addition__content {
    overflow-x: hidden !important;
    padding: 16px; }

.post-new-addition-content__hint {
  margin: 16px 0; }
.post-new-addition-content__block {
  margin-top: 16px; }

.post-new-location-label {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 300px; }

.post-new-img-wrap {
  margin-right: 16px; }
  .post-new-img-wrap__img {
    width: 100px;
    height: auto; }

.post-new-category-btn {
  width: 100%;
  text-align: left !important;
  margin: 0 !important; }

.post-new-sub-category-btn {
  width: 100%;
  text-align: left !important;
  margin: 0 !important;
  padding-left: 32px !important; }

.post-new-motivation-currency {
  margin-left: 8px;
  margin-top: 16px; }

.post-new-motivation-radio-row {
  margin: 8px 0; }

.post-new-header-area {
  max-width: 400px; }

.post-new-color {
  border-radius: 50%;
  opacity: 0.3; }
  .post-new-color_selected {
    border-radius: 50%;
    opacity: 1; }

.style1 {
  background-color: #1DE9B6; }

.style2 {
  background-color: #30a9f9; }

.style3 {
  background-color: #fa1e69; }

.style4 {
  background-color: #ff4638; }

.style5 {
  background-color: #00cde0; }

.style6 {
  background-color: #e069f4; }

.cstyle1 {
  color: #1DE9B6; }

.cstyle2 {
  color: #30a9f9; }

.cstyle3 {
  color: #fa1e69; }

.cstyle4 {
  color: #ff4638; }

.cstyle5 {
  color: #00cde0; }

.cstyle6 {
  color: #e069f4; }

.img-crop-region-progress-wrap {
  height: 10px;
  width: 100%; }

.img-crop-region-avatar-max {
  width: 100%; }

.img-crop-region-avatar-min-med-wrap {
  margin-left: 40px; }

.img-crop-region-avatar-med {
  width: 200px;
  height: auto;
  border-radius: 50%; }

.img-crop-region-avatar-min {
  width: 40px;
  height: auto;
  border-radius: 50%; }

.new-user-avatar {
  width: 600px;
  max-height: 100%; }
  .new-user-avatar__toolbar {
    background-color: white !important;
    color: black !important; }
  .new-user-avatar__content {
    overflow-x: hidden !important;
    padding: 16px; }

.new-user-avatar-content__hint {
  margin: 16px 0; }
.new-user-avatar-content__block {
  margin-top: 16px; }

.gmap {
  position: relative; }
  .gmap__control {
    position: absolute;
    width: 90%;
    top: 10px;
    right: 10px;
    z-index: 10; }

.gmap-control__input-wrap {
  background-color: white;
  border-radius: 3px;
  padding-top: 10px;
  height: 40px; }
.gmap-control__btn {
  width: 50px;
  min-width: 50px;
  height: 40px;
  margin-top: 0;
  margin-bottom: 0; }

.gmap-control-input-wrap__input {
  border: none !important; }

.gmap-control-btn__icon {
  line-height: 40px !important; }

.gmap__wrapper .angular-google-map-container {
  height: 400px; }

.helpers-help-offers {
  min-height: 300px; }

.helpers-help-offers-row {
  margin-bottom: 16px; }
  .helpers-help-offers-row__act-block {
    width: 100px; }

.helpers-help-offers-row-act__end {
  margin-left: 8px;
  padding-left: 6px; }

.helpers-help-offers-label {
  text-align: center; }

.signup {
  width: 450px;
  max-height: 100%; }
  .signup__toolbar {
    background-color: white !important;
    color: black !important; }
  .signup__content {
    overflow-x: hidden !important;
    padding: 16px; }

.signup-content__hint {
  margin: 16px 0; }
.signup-content__block {
  margin-top: 16px; }

.feedback-bug-img-container {
  position: relative; }

.feedback-bug-img-wrap {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 300px;
  width: 400px; }
  .feedback-bug-img-wrap__img {
    max-height: 300px;
    max-width: 400px; }

.feedback-stars-wrap {
  margin: 16px 0; }

.feedback-dlg {
  width: 450px;
  max-height: 100%; }
  .feedback-dlg__toolbar {
    background-color: white !important;
    color: black !important; }
  .feedback-dlg__content {
    overflow-x: hidden !important;
    padding: 16px; }

.post-done-help {
  width: 500px;
  max-height: 100%; }
  .post-done-help__toolbar {
    background-color: white !important;
    color: black !important; }
  .post-done-help__content {
    overflow-x: hidden !important;
    min-height: 200px;
    padding: 16px; }

.post-done-help-content__hint {
  margin: 16px 0; }
.post-done-help-content__block {
  margin-top: 16px; }

.post-done-help-rating__stars {
  height: 40px; }
.post-done-help-rating__text {
  margin-left: 30px; }
  @media screen and (max-width: 600px) {
    .post-done-help-rating__text {
      margin-left: 0; } }

.bigstar .ngrateit-star {
  background-size: 32px; }

.bigstar {
  width: 160px; }

.pingvin-info {
  margin: auto;
  padding: 16px;
  max-width: 1000px; }
  .pingvin-info__promo {
    margin: 16px 64px 24px 16px;
    max-width: 380px; }
    @media screen and (max-width: 599px) {
      .pingvin-info__promo {
        margin-right: 8px;
        margin-left: 8px;
        max-width: none; } }
  .pingvin-info__login {
    background-color: white;
    max-width: 100%; }
  .pingvin-info__logo {
    font-size: 80px;
    font-weight: 600;
    line-height: 50px;
    color: #2c2c2c;
    display: inline-block;
    margin: 0; }
    .pingvin-info__logo:first-letter {
      font-size: 88px;
      color: #3f51b5;
      border-bottom: 3px solid #2c2c2c; }
  .pingvin-info__description {
    color: #565656;
    margin-top: 120px;
    margin-bottom: 40px;
    text-align: center; }
  .pingvin-info__description1 {
    color: #565656;
    text-align: left;
    margin-top: 60px;
    margin-bottom: 30px; }
  .pingvin-info__logo-description {
    color: #565656;
    margin: 40px auto;
    text-align: center; }

.p-info-tile {
  position: absolute;
  top: 0; }

.p-info-tile-wrap figure {
  position: static !important; }

.promo__logo {
  font-size: 60px;
  font-weight: 600;
  line-height: 50px;
  color: #2c2c2c;
  display: inline-block;
  margin: 0; }
  .promo__logo:first-letter {
    font-size: 66px;
    color: #3f51b5;
    border-bottom: 3px solid #2c2c2c; }
.promo__img {
  width: 100%;
  height: auto;
  margin: 20px auto; }
.promo__link-wrap {
  text-align: center; }

.promo-block {
  margin: 60px 32px 0 32px; }
  @media screen and (max-width: 599px) {
    .promo-block {
      margin: 60px 0 0 0; } }
  .promo-block__title {
    color: #565656;
    text-align: center;
    margin-bottom: 8px; }
  .promo-block__text {
    color: #7a7a7a;
    text-align: center; }
  .promo-block__img-wrap {
    width: 200px;
    height: 200px;
    margin: 20px auto; }
  .promo-block__img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto; }

.share-dialog {
  width: 250px;
  max-height: 100%; }
  .share-dialog__toolbar {
    background-color: white !important;
    color: black !important; }
  .share-dialog__content {
    overflow-x: hidden !important;
    padding: 16px; }

.share-dialog-content__hint {
  margin: 16px 0; }
.share-dialog-content__block {
  margin-top: 16px; }

.block-share-btns {
  margin: auto; }

.share-btn {
  min-width: 0;
  min-height: 0;
  line-height: normal;
  padding: 10px !important; }
  .share-btn__img {
    width: 64px;
    height: 64px; }

.error-block {
  padding: 24px; }
  .error-block__img-wrap {
    margin: 28px; }
  .error-block__text {
    text-align: center;
    color: #9f9f9f;
    font-weight: 600;
    font-size: 32px; }

.error-img-error {
  display: block;
  margin: auto;
  width: 250px;
  height: 250px; }

.error-text-error {
  font-size: 45px; }

.search-page {
  padding: 16px; }
  .search-page__panel {
    margin: 0 8px 16px 8px;
    background-color: white;
    padding: 16px; }
    @media screen and (max-width: 600px) {
      .search-page__panel {
        margin-right: 0;
        margin-left: 0; } }
  .search-page__content {
    width: 100%;
    min-height: 1px; }

.search-page-form-select-wrap {
  margin-right: 16px; }

.search-menu-content {
  padding: 16px; }

.search-page-input-wrap {
  margin: 8px 0 !important; }

.help-p {
  padding: 16px;
  margin-top: -380px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1350px; }
  @media screen and (max-width: 960px) {
    .help-p {
      padding: 0; } }
  .help-p__header {
    margin-left: 120px;
    color: white; }
    @media screen and (max-width: 960px) {
      .help-p__header {
        margin-left: 8px; } }
  .help-p__menu {
    width: 280px;
    min-width: 280px; }
    @media screen and (max-width: 960px) {
      .help-p__menu {
        width: 100%;
        background-color: #1976d2;
        padding: 16px; } }
  .help-p__content {
    margin: 0 40px 0 80px !important;
    max-width: 800px; }
    @media screen and (max-width: 960px) {
      .help-p__content {
        margin: 0 !important;
        max-width: 100%; } }

.help-p-menu__item {
  width: 100%;
  text-align: left;
  margin: 2px;
  padding: 4px; }
  .help-p-menu__item_selected {
    border-left: 2px solid white;
    margin: 16px 0;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .01em;
    line-height: 24px; }

.help-p-block {
  margin: 8px;
  background-color: white;
  padding: 16px; }
  @media screen and (max-width: 600px) {
    .help-p-block {
      margin-right: 0;
      margin-left: 0; } }
  @media screen and (max-width: 960px) {
    .help-p-block {
      margin: 0 !important; } }
  .help-p-block__item {
    margin: 20px 0; }

.help-p-ribbon {
  width: 100%;
  height: 410px;
  background-color: #1976d2; }

.help-present-img {
  width: 200px;
  height: 200px; }

.help-rtext {
  margin-left: 16px; }

.help-ltext {
  margin-right: 16px; }

.help-p-menu-item-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.help-p-menu__item a {
  color: white;
  display: block;
  padding-left: 8px; }

.help-icon {
  vertical-align: bottom; }

.help-add-btn {
  display: inline-block;
  background-color: #3f51b5;
  border-radius: 50%; }
  .help-add-btn__icon {
    color: white;
    vertical-align: bottom; }

.help-geo-search-btn {
  display: inline-block;
  background-color: #3f51b5;
  border-radius: 2%; }
  .help-geo-search-btn__icon {
    color: white;
    vertical-align: bottom; }

.help-location-on-icon {
  color: #ff5656;
  vertical-align: bottom; }

.help-delete-post-btn {
  color: #ff5722; }

.help-contact-add {
  display: inline-block;
  background-color: black;
  border-radius: 50%; }
  .help-contact-add__icon {
    color: white;
    vertical-align: bottom; }

.help-help-btn-wrap {
  display: inline-block;
  background-color: #3f51b5;
  border-radius: 5%; }
  .help-help-btn-wrap__icon {
    color: white;
    vertical-align: bottom; }
  .help-help-btn-wrap__text {
    color: white; }

.help-p-list li {
  margin: 8px; }

.help-line-wrap {
  width: 80px; }

.help-line {
  height: 100%;
  width: 40px;
  border-right: 2px solid #565656; }

.help-chema-img {
  width: 80px;
  height: 80px; }

.help-chema-item-wrap {
  margin: 16px 0; }

.help-chema-item {
  border-radius: 10px;
  padding: 5px; }
  .help-chema-item__icon {
    color: white;
    vertical-align: bottom; }
  .help-chema-item_alice {
    background-color: #EC407A;
    color: white; }
  .help-chema-item_ivan {
    background-color: #2196F3;
    color: white; }

.blog-p {
  padding: 16px;
  margin-top: -380px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1350px; }
  @media screen and (max-width: 600px) {
    .blog-p {
      padding: 0; } }
  .blog-p__header {
    color: white; }
    @media screen and (max-width: 600px) {
      .blog-p__header {
        margin-left: 8px; } }
  .blog-p__content {
    margin: 0 40px 0 80px !important;
    max-width: 600px;
    min-height: 600px; }
    .blog-p__content_lg {
      max-width: 1000px; }
    .blog-p__content_md {
      max-width: 700px; }
    @media screen and (max-width: 600px) {
      .blog-p__content {
        margin: 0 !important;
        max-width: 100%; } }

.blog-p-ribbon {
  width: 100%;
  height: 410px;
  background-color: #EC407A; }

.default-blog-item__card {
  margin: 32px 0 !important; }

.blog-edit-block {
  background-color: white;
  margin-bottom: 32px;
  padding: 16px; }

.blog-detail {
  font-size: 16px;
  line-height: 26px; }
  .blog-detail p {
    margin: 13.5px 0;
    display: block; }
  .blog-detail a {
    color: #3f51b5;
    display: inline;
    cursor: pointer; }
    .blog-detail a:hover {
      text-decoration: underline; }
  .blog-detail p i {
    border-left: 2px #4db74d solid;
    padding-left: 16px;
    display: inline-block; }
  .blog-detail img {
    max-width: 100%;
    height: auto;
    /* box-sizing: border-box; */
    /* padding: 0 40px; */
    border: 1px lightgray solid; }

.admin-p {
  max-width: 600px;
  margin: auto; }
  .admin-p__item {
    background-color: white;
    padding: 16px;
    margin: 16px; }

.admin-feedback-img {
  width: 100px;
  height: auto;
  margin-left: 8px; }

.reset-password-block {
  margin: auto;
  width: 600px;
  background-color: white;
  padding: 16px; }

.ol-count {
  counter-reset: item; }

.ol-count > li {
  display: block;
  margin-bottom: 16px;
  margin-top: 16px; }

.ol-count > li:before {
  content: counters(item,".") " ";
  counter-increment: item; }

.list-marg > li {
  margin-bottom: 16px;
  margin-top: 16px; }

.frame-square, .frame-round {
  background: #f1f1f1;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%; }

.frame-round {
  border-radius: 50%;
  overflow: hidden; }
  .frame-round .crop {
    border-radius: 50%; }

.crop {
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 0; }
  .crop img {
    display: block;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    margin: auto;
    position: absolute;
    right: -100%;
    left: -100%; }

.footer-info {
  margin: 32px; }

.footer-line {
  margin-top: 100px; }

.ta-toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .ta-toolbar .ta-button-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .ta-toolbar .ta-button-group button {
      min-width: 0;
      min-height: 0;
      line-height: normal;
      margin-left: 0;
      color: rgba(0, 0, 0, 0.54); }
      .ta-toolbar .ta-button-group button md-icon {
        color: rgba(0, 0, 0, 0.54); }
      .ta-toolbar .ta-button-group button.active {
        background-color: #f5f5f5; }

.ta-text-editor .ta-bind {
  border-bottom: 1px solid rgba(0, 0, 0, 0.11765); }
  .ta-text-editor .ta-bind:focus {
    border-bottom: 2px solid #3f51b5;
    outline: none; }

/*# sourceMappingURL=style.css.map */
