<div class="error-block"><div class="error-block__img-wrap"><img class="error-img-error" src="/public/img/error_robot.png" alt="Img error"></div><div class="error-block__text"><div class="error-text-error" ng-bind="error"></div><div ta-bind ng-model="description"></div></div></div>