<!DOCTYPE html><html lang="en" ng-app="PingvinSocialLogin" ng-controller="SocialLogin"><head><style>.text-block {
      text-align: center;
      vertical-align: middle;
      line-height: 300px;
    }
    .button-wrap {
      text-align:center;
    }
    .button {
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
      background-color: #008CBA;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }
    .button:hover {
      background-color: #007ea8;
    }
    [ng\:cloak], [ng-cloak], .ng-cloak {
      display: none !important;
    }</style><meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1"><base href="/"><title>Вход с социальных сетей</title></head><body ng-cloak=""><div class="text-block"><span ng-bind="text">Ожидайте...</span></div><div class="button-wrap"><button ng-if="isError" class="button" ng-click="$window.close()">Закрыть</button></div><script src="/public/js/angular/angular.min.js?v=abv4q"></script><script>var app = angular.module('PingvinSocialLogin', []);
  app.config(['$locationProvider',
    function ($locationProvider) {
      $locationProvider.html5Mode(true);
    }]);
  app.controller('SocialLogin', ['$scope', '$log', '$window', '$location', '$http', '$timeout',
    function ($scope, $log, $window, $location, $http, $timeout) {

      $scope.text    = 'Ожидайте...';
      $scope.isError = false;
      $scope.$window = $window;

      $timeout(init, 50);

      function init() {
        var search = $location.search();
        switch (search.sn) {
          case 'vk':
          case 'fb':
          case 'gp':
            handler(search, search.sn);
            break;
          default:
            $log.log('default init');
            break;
        }
      }

      function error(err) {
        $scope.isError = true;
        $scope.text = 'Произошла ошибка. Напишите в техподдержку sup.pingvin@gmail.com';
        $log.error('Error', err);
      }

      function handler(search, type) {
        if (search.hasOwnProperty('error')) {
          error('Error ' + type +  search.error);
          return;
        }
        var code = search.code;
        if (!code) {
          error('Bad code');
          return;
        }
        $http.get('/social-login/' + type + '/?code=' + code).then(
            function (r) {
              var data = r.data;
              if (data.hasOwnProperty('status') && data.status > 0) {
                $scope.isError = false;
                $scope.text = 'Успешно';
                $window.opener.location.reload();
                $window.close();
              } else
                error(data);
            },
            function (r) {
              error('Bad response' +  r.code);
            }
        );
        $log.log(type, code);
      }
    }]);</script></body></html>