<form name="aboutMeCommonForm" autocomplete="off" novalidate
      class="about-me-edit__common about-me-common" ng-submit="aboutMeCommonForm.$valid && $ctrl.updateCommon()">

  <div ng-show="$ctrl.isCommonHint" class="about-mee-row secondarily ng-cloak">
    Укажите {{$ctrl.commonHints}}.
  </div>

  <div class="about-mee-row" layout="row" layout-align="start center" layout-xs="column" layout-align-xs="">
    <h5 class="about-mee-common-title md-subhead">Имя:</h5>
    <div layout="row" class="about-mee-common-name-inputs-bl">
      <md-input-container>
        <label>Имя</label>
        <input ng-model="$ctrl.common.first_name" name="firstName" minlength="2"
               maxlength="128" required md-no-asterisk>
        <div ng-messages="aboutMeCommonForm.firstName.$error" role="alert">
          <div ng-message="required">Это поле обязательно для заполнения</div>
          <div ng-message="maxlength">Превышена максимальная длина. Максимальная длина 128 символов</div>
          <div ng-message="minlength">Минимальная длина имени 2</div>
        </div>
      </md-input-container>

      <md-input-container class="about-mee-common-name-inputs-bl__second-name">
        <label>Фамилия</label>
        <input ng-model="$ctrl.common.second_name" name="secondName" minlength="2"
               maxlength="128" required md-no-asterisk>
        <div ng-messages="aboutMeCommonForm.secondName.$error" role="alert">
          <div ng-message="required">Это поле обязательно для заполнения</div>
          <div ng-message="maxlength">Превышена максимальная длина. Максимальная длина 128 символов</div>
          <div ng-message="minlength">Минимальная длина фамилии 2</div>
        </div>

      </md-input-container>
    </div>
  </div>

  <div class="about-mee-row" layout="row" layout-align="start center" layout-xs="column"  layout-align-xs="">
    <h5 class="about-mee-common-title md-subhead">Пол:</h5>
    <md-input-container>
      <label>Пол</label>
      <md-select ng-model="$ctrl.common.gender">
        <md-option ng-value="'x'">Не выбран</md-option>
        <md-option ng-value="'m'">Мужской</md-option>
        <md-option ng-value="'f'">Женский</md-option>
      </md-select>
    </md-input-container>
  </div>

  <div class="about-mee-row" layout="row" layout-align="start center" layout-xs="column"  layout-align-xs="">
    <h3 class="about-mee-common-title md-subhead">Дата рождения:</h3>
    <md-input-container>
      <md-datepicker ng-model="$ctrl.common.bday" md-placeholder="Дата рождения" md-no-asterisk
                     name="date" md-min-date="$ctrl.minDate" md-max-date="$ctrl.maxDate"></md-datepicker>
      <div ng-messages="aboutMeCommonForm.date.$error">
        <div ng-message="valid">Дата не валидна</div>
        <div ng-message="mindate">Дата должна быть больше</div>
        <div ng-message="maxdate">Дата должна быть меньше</div>
      </div>
    </md-input-container>
  </div>

  <div class="about-mee-row" layout="row" layout-align="start start" layout-xs="column"  layout-align-xs="">
    <h3 class="about-mee-common-title md-subhead">Обо мне:</h3>
    <div flex class="about-mee-common-name-inputs-bl">
      <md-input-container>
        <label>Обо мне</label>
        <textarea ng-model="$ctrl.common.info" name="text" md-maxlength="2048" rows="1" cols="45" md-no-asterisk>
        </textarea>
        <div ng-messages="aboutMeCommonForm.date.$error">
          <div ng-message="md-maxlength">Превышена максимальная длина. Максимальная длина 2048 символов</div>
        </div>
      </md-input-container>
    </div>
  </div>
  <div class="about-mee-btn-tab"></div>
  <div layout="row" layout-align="center center">
    <md-button type="submit" class="md-raised md-primary">Сохранить</md-button>
  </div>

</form>