<script type="text/ng-template" id="/public/html/about-me-edit-common.html">____include('html/about-me-edit-common.html')</script>
<script type="text/ng-template" id="/public/html/about-me-edit-contacts.html">____include('html/about-me-edit-contacts.html')</script>
<script type="text/ng-template" id="/public/html/about-me-edit-categories.html">____include('html/about-me-edit-categories.html')</script>

<div class="p-content">
  <div class="about-me-edit-wrap">
    <div ng-switch="$ctrl.current" class="about-me-edit md-whiteframe-z1">
      <div ng-switch-when="0"><div ng-include="'/public/html/about-me-edit-common.html'"></div></div>
      <div ng-switch-when="1"><div ng-include="'/public/html/about-me-edit-contacts.html'"></div></div>
      <div ng-switch-when="2"><div ng-include="'/public/html/about-me-edit-categories.html'"></div></div>
      <div ng-switch-default></div>
    </div>
  </div>
</div>
