<form ng-submit="$ctrl.updateCategories()">

  <div ng-show="!$ctrl.ocategories.length" class="about-mee-row secondarily">
    Выберите категории в которых вы хотите оказывать помощь людям.
    Выбранные вами категории появятся слева.
    По выбранным категориям можно будет установить фильтры.
  </div>

  <div layout="row" layout-xs="column">
    <div layout="column" flex="30" flex-sm="35" flex-xs="100" flex-order-xs="2" class="md-subhead about-mee-categories">
      <h5 class="md-subhead about-mee-categories__title">Мои категории</h5>
      <md-chips class="category-edit-chip" ng-model="$ctrl.categories">
        <md-chip-template>{{::$ctrl.ctitle($chip)}}</md-chip-template>
        <input disabled>
      </md-chips>
    </div>

    <div layout="column" flex flex-order-xs="1">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab ng-repeat="c in ::$ctrl.allcategories" label={{::c.title}}>
          <div layout-padding>
            <md-grid-list md-cols="3" md-cols-sm="2" md-cols-xs="2" md-row-height="1:1" md-gutter="10px">
              <md-grid-tile ng-repeat="subc in ::c.subcategories" class="category-edit"
                            ng-click="$ctrl.addCategory(c.type, subc.type)"
                            ng-class="$ctrl.getStyle(subc.title)">

                <span class="category-edit__letter">{{::subc.title.charAt(0)}}</span>

                <md-grid-tile-footer>
                  <h3>{{::subc.title}}</h3>
                </md-grid-tile-footer>
              </md-grid-tile>
            </md-grid-list>
          </div>
        </md-tab>
      </md-tabs>
    </div>
  </div>

  <div class="about-mee-btn-tab"></div>

  <div layout="row" layout-align="center center">
    <md-button type="submit" class="md-raised md-primary">Сохранить</md-button>
  </div>
</form>