<form name="aboutMeContactsForm" autocomplete="off" novalidate
      class="about-me-edit__common about-me-common" ng-submit="aboutMeContactsForm.$valid && $ctrl.updateContacts()" flex>

  <div ng-show="!$ctrl.ocontacts.length" class="about-mee-row secondarily">
    Укажите способы с помощью которых с вами можно будет связаться.
    Лучше указать несколько наиболее популярных контактов.
    Публичность контактов можно указать в настройках.
    Выбирете источник, напишите контакт и нажмите на кнопку плюс.
  </div>

  <div ng-repeat="c in $ctrl.contacts" layout="row" flex="70" flex-sm="100" flex-xs="100">

    <md-input-container flex>
      <label>Источник</label>
      <md-select ng-model="c.type" ng-disabled="true">
        <md-option ng-value="c.type">
          {{::$ctrl.description(c.type)}}
        </md-option>
      </md-select>
    </md-input-container>

    <md-input-container flex>
      <label>{{::$ctrl.description(c.type);}}</label>
      <input ng-model="c.data" ng-disabled="true">
    </md-input-container>


    <md-button class="md-icon-button icon-wrap" ng-click="$ctrl.rmContact($index)">
      <md-tooltip md-delay="200">Удалить</md-tooltip>
      <md-icon class="posts-show-post-btn-arr icon-wrap__icon icon-wrap__icon_hov" md-font-set="material-icons">clear</md-icon>
    </md-button>

  </div> <!-- end ng-repeat-->

  <div layout="row" flex="70" flex-sm="100" flex-xs="100">
    <md-input-container flex>
      <label>Источник</label>
      <md-select ng-model="$ctrl.contact"
                 ng-change="aboutMeContactsForm.$setPristine();aboutMeContactsForm.$setUntouched();$ctrl.changeContact()">
        <md-option ng-repeat="contT in ::$ctrl.contactsTypes" ng-value="contT.type">
          {{::contT.descr}}
        </md-option>
      </md-select>
    </md-input-container>

    <md-input-container flex>
      <label>{{$ctrl.description($ctrl.contact)}}</label>
      <input ng-model="$ctrl.contactData" name="contact" ng-disabled="$ctrl.contact==''" ng-required="$ctrl.contact!=''"
             ng-pattern="$ctrl.pattern" ng-maxlength="256" ng-minlength="4" required md-no-asterisk>
      <div ng-show="aboutMeContactsForm.contact.$touched">
        <div ng-messages="aboutMeContactsForm.contact.$error" role="alert">
          <div ng-message="required">Это поле обязательно для заполнения</div>
          <div ng-message="maxlength">Превышена максимальная длина. Максимальная длина 128 символов</div>
          <div ng-message="minlength">Минимальная длина имени 4</div>
          <div ng-message="pattern">{{$ctrl.patternMsg}}</div>
        </div>
      </div>
    </md-input-container>



    <md-button class="md-icon-button icon-wrap" ng-click="$ctrl.addContact($ctrl.contact, $ctrl.contactData)">
      <md-tooltip md-delay="200">Добавить</md-tooltip>
      <md-icon class="posts-show-post-btn-arr icon-wrap__icon icon-wrap__icon_hov" md-font-set="material-icons">add_circle</md-icon>
    </md-button>

  </div>

  <div class="about-mee-btn-tab"></div>

  <div layout="row" layout-align="center center">
    <md-button type="submit" class="md-raised md-primary">Сохранить</md-button>
  </div>

</form>