<div ng-switch="$ctrl.current" class="ng-cloak">
  <div ng-switch-when="0">
    <activity-news></activity-news>
  </div>
  <div ng-switch-when="1">
    <activity-my-posts></activity-my-posts>
  </div>
  <div ng-switch-when="2">
    <activity-my-helps></activity-my-helps>
  </div>
  <div ng-switch-default></div>
</div>