<div class="activity-descr md-body-1 md-whiteframe-z1" flex>
  <div dynamic="::$ctrl.title"></div>
  <div class="icon-wrap" dynamic="::$ctrl.subhead"></div>
  <div ng-if="$ctrl.activity.public_contacts.length">
    <md-divider class="activity-descr-contacts-divider"></md-divider>
    <div layout="row">
      <div class="md-subhead activity-descr-contacts__text">
        <span ng-bind="::$ctrl.activity.post.created_user.first_name"></span>
        <span> оставил контакты</span>
      </div>
      <div flex></div>
      <div>
        <md-button ng-if="$ctrl.isHide" class="md-icon-button icon-wrap" ng-click="$ctrl.isHide=false">
          <md-tooltip md-delay="200">Открыть контакты</md-tooltip>
          <md-icon md-font-set="material-icons" class="icon-wrap__icon icon-wrap__icon_hov"
                   aria-label="Add motivation">details
          </md-icon>
        </md-button>
      </div>
    </div>
    <div ng-if="!$ctrl.isHide">
      <div ng-repeat="contact in ::$ctrl.activity.public_contacts track by ::$index"
           class="activity-descr-contact-block">
        <span ng-bind="::contact.data"></span>
        <span class="secondarily" ng-bind="::$ctrl.getDescription(contact.type)"></span>
      </div>
    </div>
  </div>
</div>