<div class="p-content">
  <div class="admin-p">
    <div class="admin-p__block">
      <div ng-if="$ctrl.msgNoInfo && !$ctrl.collection.length"
           class="list-one-col__no-info ng-cloak" flex><span ng-bind="$ctrl.msgNoInfo"></span></div>
      <div ng-repeat="item in $ctrl.collection"
           class="admin-p__item md-whiteframe-z1">
        <div layout="row">
          <div flex class="md-title" ng-bind="$ctrl.header(item)"></div>
          <div class="secondarily" ng-bind="$ctrl.fdate(item.created)"></div>
        </div>
        <div layout="row">
          <div flex>
            <div class="md-body-1" ng-if=":: !!item.message" ng-bind="item.message"></div>
            <div class="md-body-1" ng-if=":: !!item.email" ng-bind="item.email"></div>
            <div class="md-body-1" ng-if=":: !!item.platform" ng-bind="item.platform"></div>
            <div ng-if=":: !!item.rating">
              <ng-rate-it class="user-comment-text__rate" ng-model="item.rating"
                          step="1" read-only="true"></ng-rate-it>
            </div>
          </div>
          <div><img class="admin-feedback-img" ng-if="::item.url" ng-src="{{$ctrl.img(item.url)}}"></div>
        </div>
      </div>
    </div>
  </div>
  <load-more-button is-loading="$ctrl.isLoading()" is-show="$ctrl.isShowButton()" on-click="$ctrl.showMore()">
  </load-more-button>
</div>