<div ng-switch="$ctrl.current" class="ng-cloak">
  <div ng-switch-when="0">
    <admin-feedback></admin-feedback>
  </div>
  <div ng-switch-when="1">
    <admin-moderation></admin-moderation>
  </div>
  <div ng-switch-when="2">
    <admin-closed></admin-closed>
  </div>
  <div ng-switch-default></div>
</div>