<div class="blog-p-ribbon"></div>
<div class="blog-p ng-cloak">
  <div class="blog-p__content_md blog-p__content">
    <div class="blog-p__header">
      <h1 class="md-display-1" ng-bind="::$ctrl.header"></h1>
    </div>
    <div ng-if="!$ctrl.hasError">
      <md-card class="default-blog-item__card">
        <md-card-header>
          <md-card-avatar class="avatar-min">
            <div class="frame-round">
              <div class="crop">
                <img ng-src="{{::$ctrl.avatar}}" alt="фотография">
              </div>
            </div>
          </md-card-avatar>
          <md-card-header-text>
            <div layout="row">
              <div flex>
                <div>
                  <a style="font-size: 16px;" ng-href="/user/{{::$ctrl.userId}}/"
                     class="link link_blue" ng-bind="::$ctrl.userName">
                  </a>
                </div>
                <div class="md-subhead" ng-bind="::$ctrl.created"></div>
              </div>
              <div>
                <md-button ng-if="::$ctrl.isa" class="md-icon-button icon-wrap"
                           ng-click="$ctrl.removeBlogPost($ctrl.post)">
                  <md-tooltip md-delay="200">Удалить</md-tooltip>
                  <md-icon md-font-set="material-icons" class="icon-wrap__icon icon-wrap__icon_hov"
                           aria-label="Clear location">clear
                  </md-icon>
                </md-button>
              </div>
            </div>
          </md-card-header-text>
        </md-card-header>

        <div class="post-list-item__header post-item-header">
          <div class="post-item-header__block post-item-header-block">
            <div>
              <div ng-if="!$ctrl.img" ng-class="::$ctrl.style"
                   class="post-item-header-block__block">
                <span class="long-word" ng-bind="$ctrl.header | cut:true:50"></span>
              </div>
              <div ng-if="$ctrl.img" class="post-item-header-block__img image-container">
                <img ng-src="{{::$ctrl.img}}" class="image-container__img" alt="фотография">
              </div>
            </div>
          </div>
        </div>
        <md-card-content>
          <div class="md-body-1 blog-detail" ta-bind="text" ng-model="::$ctrl.text" ta-readonly="true"></div>
        </md-card-content>
      </md-card>
    </div>
    <div ng-if="::$ctrl.hasError" flex>
      <md-card class="default-blog-item__card">
        <div ng-include="'/public/html/error.html'"></div>
      </md-card>
    </div>
  </div>
</div>
<div ng-include="'public/html/footer.html'"></div>