
<div ng-app="textAngularModule" ng-controller="TextAngularController as $ctrl">
  <div class="blog-p-ribbon"></div>
  <div class="blog-p ng-cloak">
    <div class="blog-p__content blog-p__content_lg">
      <form name="blogNewForm" autocomplete="off" novalidate
            ng-submit="blogNewForm.$valid && $ctrl.addNew()">
        <div class="blog-p__header">
          <h2 class="md-display-1">Новая статья</h2>
        </div>
        <div>
          <div flex md-whiteframe="1" class="blog-edit-block">
            <h5 class="md-subhead">Заголовок статьи</h5>
            <div layout="row">
              <md-input-container flex>
                <label>Заголовок</label>
                <input ng-model="$ctrl.post.header" name="postHeader" minlength="2"
                       maxlength="128" required md-no-asterisk>
                <div ng-messages="blogNewForm.postHeader.$error" role="alert">
                  <div ng-message="required">Это поле обязательно для заполнения</div>
                  <div ng-message="maxlength">Превышена максимальная длина. Максимальная длина 128 символов</div>
                  <div ng-message="minlength">Минимальная длина заголовка 2</div>
                </div>
              </md-input-container>
            </div>
          </div>

          <div flex md-whiteframe="1" class="blog-edit-block">
            <h5 class="md-subhead">Текст статьи</h5>
            <md-input-container>
              <label class="ng-hide">Текст</label>
              <text-angular ng-model="$ctrl.post.text"></text-angular>
            </md-input-container>
          </div>

          <div flex md-whiteframe="1" class="blog-edit-block">
            <h5 class="md-subhead">Картинки</h5>
            <div>
              <div ng-include="'public/html/post-new-style-line.html'"></div>
              <div>
                <div ng-repeat="link in $ctrl.imageLinks track by $index">
                  <div layout="row" layout-align="center center">
                    <div class="post-new-img-wrap">
                      <img class="post-new-img-wrap__img" ng-src="{{::link}}" alt="изображение">
                    </div>
                    <div style="min-width: 0;">
                      <a class="link link_b link_blue long-word" ng-href="{{::link}}"
                         target="_blank" ng-bind="::link"></a>
                    </div>
                    <div flex></div>
                    <md-button class="md-icon-button icon-wrap" ng-click="$ctrl.removeImg($index)">
                      <md-tooltip md-delay="200">Удалить</md-tooltip>
                      <md-icon md-font-set="material-icons" class="icon-wrap__icon icon-wrap__icon_hov"
                               aria-label="remove image">clear</md-icon>
                    </md-button>
                  </div>
                </div>
              </div>
            </div>
            <div layout="row">
              <div flex></div>
              <md-button class="md-raised md-primary" ng-click="$ctrl.showHStyle()">Добавить заставку</md-button>
              <md-button class="md-raised md-primary" ng-click="$ctrl.addImage()">Добавить</md-button>
            </div>
          </div>

          <div flex md-whiteframe="1" class="blog-edit-block">
            <div class="secondarily">Пожалуйста, проверьте публикацию перед отправкой</div>
            <div layout="row">
              <div flex></div>
              <md-button type="submit" class="md-raised md-primary">Опубликовать</md-button>
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>
  <div ng-include="'public/html/footer.html'"></div>
</div>