<div class="blog-p-ribbon"></div>
<div class="blog-p ng-cloak">
  <div class="blog-p__content">
    <div class="blog-p__header">
      <h2 class="md-display-1">Блог</h2>
    </div>
    <div>
      <div class="default-blog-item ng-cloak" ng-repeat="post in $ctrl.collection track by ::post.id">
        <blog-item post="post"></blog-item>
      </div>
    </div>
    <load-more-button is-loading="$ctrl.isLoading()"
                      is-show="$ctrl.isShowButton()" on-click="$ctrl.showMore()">
    </load-more-button>
  </div>
</div>
<div ng-include="'public/html/footer.html'"></div>
