<md-card class="default-blog-item__card">
  <md-card-header>
    <md-card-avatar class="avatar-min">
      <div class="frame-round">
        <div class="crop">
          <img ng-src="{{::$ctrl.avatar($ctrl.post.created_user)}}" alt="фотография">
        </div>
      </div>
    </md-card-avatar>
    <md-card-header-text>
      <div layout="row">
        <div flex>
          <div>
            <a style="font-size: 16px;" ng-href="/user/{{::$ctrl.post.created_user.id}}/"
               class="link link_blue" ng-bind="::$ctrl.getName($ctrl.post.created_user)">

            </a>
          </div>
          <div class="md-subhead" ng-bind="::$ctrl.fdate($ctrl.post.created)"></div>
        </div>
        <div>
          <md-button ng-if="::$ctrl.isa" class="md-icon-button icon-wrap"
                     ng-click="$ctrl.removeBlogPost($ctrl.post)">
            <md-tooltip md-delay="200">Удалить</md-tooltip>
            <md-icon md-font-set="material-icons" class="icon-wrap__icon icon-wrap__icon_hov"
                     aria-label="Clear location">clear
            </md-icon>
          </md-button>
        </div>
      </div>
    </md-card-header-text>
  </md-card-header>

  <div class="post-list-item__header post-item-header">
    <div class="post-item-header__block post-item-header-block">
      <div>
        <div ng-if=":: !$ctrl.img" ng-class="::$ctrl.style"
             class="post-item-header-block__block">
          <span class="long-word" ng-bind="::$ctrl.post.header | cut:true:50"></span>
        </div>
        <div ng-if="::$ctrl.img" class="post-item-header-block__img image-container">
          <img ng-src="{{::$ctrl.img}}" class="image-container__img" alt="фотография">
        </div>
      </div>
    </div>
  </div>

  <md-card-title>
    <md-card-title-text>
      <h4 class="md-headline" ng-bind="::$ctrl.post.header | cut:true:64"></h4>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <p class="md-body-1" ng-bind="::$ctrl.post.stext"></p>
    <div layout="row">
      <div flex></div>
      <a class="md-button md-raised md-primary" ng-href="/blog/{{::$ctrl.post.link}}/">Читать</a>
    </div>
  </md-card-content>
</md-card>