<md-dialog aria-label="Отзыв" class="feedback-dlg">
  <form name="feedbackSimpleForm" autocomplete="off" novalidate
        ng-submit="feedbackSimpleForm.$valid && $ctrl.sendFeedback()">
    <md-toolbar class="feedback-dlg__toolbar" md-whiteframe="1">
      <div class="md-toolbar-tools">
        <h2>Отзыв</h2>
        <span flex></span>
        <md-button class="md-icon-button icon-wrap" ng-click="cancel()">
          <md-icon md-font-set="material-icons" aria-label="Close dialog"
                   class="icon-wrap__icon icon-wrap__icon_hov">clear</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content layout="column" class="feedback-dlg__content">

      <div style="margin-bottom: 8px;">
        <span class="md-body-1" >Ваш отзыв и комментарий помогут улучшить сервис.</span>
      </div>

      <div class="md-body-1">Поставьте оценку. Выбирете количество звездочек:</div>
      <div class="feedback-stars-wrap">
        <ng-rate-it ng-model="$ctrl.rating" step="1" resetable="false"
                    star-width="32" star-height="32" class="bigstar">
        </ng-rate-it>
      </div>


      <div layout="row">
        <md-input-container flex>
          <label>Сообщение</label>
            <textarea ng-model="$ctrl.message" md-no-asterisk
                      minlength="4" maxlength="2048" rows="1" cols="45" name="message">
            </textarea>
          <div ng-show="feedbackSimpleForm.message.$touched">
            <div ng-messages="feedbackSimpleForm.message.$error" role="alert">
              <div ng-message="maxlength">Превышена максимальная длина. Максимальная длина 2048 символов</div>
              <div ng-message="minlength">Слишком маленькая длина. Напишите полное описание</div>
            </div>
          </div>
        </md-input-container>
      </div>

    </md-dialog-content>

    <md-dialog-actions layout-margin>
      <div flex></div>
      <md-button ng-click="cancel()">Отмена</md-button>
      <md-button class="md-primary md-raised" type="submit">Отправить</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>