<div class="p-content">
  <div class="settings-bl-wrap">

    <div class="settings-bl md-whiteframe-z1" flex ng-cloak>
      <form role="form" novalidate name="feedbackFrom" autocomplete="off"
            layout="column" ng-submit="feedbackFrom.$valid  && ($ctrl.sendFeedback() ||
        feedbackFrom.$setPristine() || feedbackFrom.$setUntouched())">
        <h2 class="md-headline" style="color: #333;">
          Оставьте отзыв, помогите сервису стать удобнее.
        </h2>

        <div layout="row">
          <md-input-container flex>
            <label>Тип сообщения</label>
            <md-select ng-model="$ctrl.feedbackType" name="feedbackType" required md-no-asterisk
                       ng-change="feedbackFrom.$setPristine();feedbackFrom.$setUntouched();">
              <md-option ng-repeat="fType in $ctrl.feedbackTypes" ng-value="fType.v" ng-bind="::fType.m">
              </md-option>
            </md-select>
            <div ng-show="feedbackFrom.feedbackType.$touched">
              <div ng-messages="feedbackFrom.feedbackType.$error" role="alert">
                <div ng-message="required">Это поле обязательно для заполнения</div>
              </div>
            </div>
          </md-input-container>
        </div>

        <div>
          <span class="md-body-1" ng-bind="$ctrl.getText()"></span>
        </div>

        <!--<div ng-if="$ctrl.isSimple()">-->
        <!--<div class="md-body-1">Поставитье оценку. Выберете количество звездочек:</div>-->
        <!--<div class="feedback-stars-wrap">-->
        <!--<ng-rate-it ng-model="$ctrl.rating" step="1" resetable="false"-->
        <!--star-width="32" star-height="32" class="bigstar">-->
        <!--</ng-rate-it>-->
        <!--</div>-->
        <!--</div>-->

        <div ng-if="$ctrl.isError()" layout="column">
          <div layout="row">
            <md-checkbox class="md-primary" ng-model="$ctrl.browserrInfo">Отправлять сведения о браузере</md-checkbox>
          </div>
          <div layout="row" hide-xs>
            <button class="md-button md-raised md-primary" type="file"
                    ngf-select ng-model="$ctrl.picFile" accept="image/*">Добавить скриншот
            </button>
            <div flex></div>
            <md-button ng-show="$ctrl.picFile" class="md-icon-button reset-mp icon-wrap" ng-click="$ctrl.cancel()">
              <md-tooltip md-delay="200">Отмена</md-tooltip>
              <md-icon md-font-set="material-icons" class="icon-wrap__icon icon-wrap__icon_hov"
                       aria-label="Cancel">close
              </md-icon>
            </md-button>
          </div>
          <div class="img-crop-region-progress-wrap">
            <md-progress-linear ng-show="$ctrl.loading" md-mode="determinate" value="{{$ctrl.progress}}">
            </md-progress-linear>
          </div>
          <div layout="row" layout-align="center center">
            <div ng-show="$ctrl.picFile" class="feedback-bug-img-container">
              <div class="feedback-bug-img-wrap">
                <img ng-show="feedbackFrom.file.$valid" ngf-thumbnail="$ctrl.picFile" class="feedback-bug-img-wrap__img">
              </div>
            </div>
          </div>
        </div>

        <div ng-if="$ctrl.isQuestion()" layout="column">
          <div layout="row">
            <md-input-container flex>
              <label>Почта</label>
              <input ng-model="$ctrl.email" type="email" name="email" maxlength="256" md-no-asterisk>
              <div ng-messages="feedbackFrom.email.$error" role="alert">
                <div ng-message="email">Электронная почта не валидна</div>
                <div ng-message="maxlength">Превышена максимальная длина описания. Максимальная длина 256 символов</div>
              </div>
            </md-input-container>
          </div>
        </div>

        <div layout="row">
          <md-input-container flex>
            <label>Сообщение</label>
            <textarea ng-model="$ctrl.message" md-no-asterisk required
                      minlength="4" maxlength="2048" rows="1" cols="45" name="message">
            </textarea>
            <div ng-show="feedbackFrom.message.$touched">
              <div ng-messages="feedbackFrom.message.$error" role="alert">
                <div ng-message="required">Это поле обязательно для заполнения</div>
                <div ng-message="maxlength">Превышена максимальная длина. Максимальная длина 2048 символов</div>
                <div ng-message="minlength">Слишком маленькая длина. Напишите полное описание</div>
              </div>
            </div>
          </md-input-container>
        </div>


        <div layout="row" layout-align="center center">
          <md-button type="submit" class="md-raised md-primary">Отправить</md-button>
        </div>
      </form>
    </div>
  </div>
</div>
<div ng-include="'public/html/vk-widget.html'"></div>