<md-divider class="footer-line"></md-divider>
<div layout="row" layout-xs="column" layout-align="center center" class="footer-info">
  <div layout="row">
    <div class="sidnav-links__link-wrap">
      <a class="sidnav-link-wrap__link" href="/blog/">Блог</a>
    </div>
    <div class="sidnav-links__link-wrap">
      <a class="sidnav-link-wrap__link"  href="/help/">Помощь</a>
    </div>
    <div class="sidnav-links__link-wrap" ng-controller="ShareDlgController as sh">
      <a class="sidnav-link-wrap__link"  ng-click="sh.share()">Поделиться</a>
    </div>
  </div>
  <div class="sidnav-links__link-wrap">
    <span>Почта </span>
    <a class="sidnav-link-wrap__link" href="mailto:qq@pingvin.online">qq@pingvin.online</a>
  </div>
  <div class="sidnav-links__link-wrap" layout="row">
    <span>Pingvin в соц. сетях: </span>
    <a href="https://vk.com/pingvin.online" target="_blank" class="sidnav-social-link">
      <img class="sidnav-social-link__img" src="/public/img/iconmonstr-vk-4-240.png" alt="Vk">
    </a>
    <a href="https://www.facebook.com/pingvin.online" target="_blank" class="sidnav-social-link">
      <img class="sidnav-social-link__img" src="/public/img/iconmonstr-facebook-4-240.png" alt="Facebook">
    </a>
  </div>
</div>