<md-dialog aria-label="Восстановление пароля" class="signup">
  <form name="forgotPasswordForm" autocomplete="off" novalidate ng-submit="forgotPasswordForm.$valid && $ctrl.forgot()">
    <md-toolbar class="signup__toolbar" md-whiteframe="1">
      <div class="md-toolbar-tools">
        <h2>Восстановление пароля</h2>
        <span flex></span>
        <md-button class="md-icon-button icon-wrap" ng-click="cancel()">
          <md-icon md-font-set="material-icons" aria-label="Close dialog"
                   class="icon-wrap__icon icon-wrap__icon_hov">clear</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content class="signup__content" layout="column" style="max-height: 100%;">

      <div layout="row">
        <md-input-container class="md-block" flex>
          <label>Электронная почта</label>
          <input ng-model="user.email" type="email" name="email" maxlength="256" required md-no-asterisk>
          <div ng-messages="forgotPasswordForm.email.$error" role="alert">
            <div ng-message="email">Электронная почта не валидна</div>
            <div ng-message="required">Это поле обязательно для заполнения</div>
            <div ng-message="maxlength">Превышена максимальная длина описания. Максимальная длина 256 символов</div>
          </div>
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout-margin>
      <div flex></div>
      <md-button ng-click="cancel()">Отмена</md-button>
      <md-button class="md-primary md-raised" type="submit">Продолжить</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>