<div class="gmap">
  <div class="gmap__control gmap-control" layout="row" flex>

    <md-input-container flex md-no-float class="gmap-control__input-wrap gmap-control-input-wrap md-block reset-mp md-whiteframe-z2">
      <input flex class="gmap-control-input-wrap__input" ng-model="inAddr" placeholder="Введите адрес">
    </md-input-container>

    <md-button class="gmap-control__btn gmap-control-btn md-raised md-primary md-whiteframe-z2"
               ng-click="mctrl.center(inAddr)">
      <i class="material-icons gmap-control-btn__icon">search</i>
    </md-button>
  </div>

  <div class="gmap__wrapper">
    <ui-gmap-google-map control="mctrl.map.control" center="mctrl.map.center" zoom="mctrl.map.zoom">
      <ui-gmap-marker control="mctrl.marker.control" coords="mctrl.marker.coords"
                      options="mctrl.marker.options"  idkey="mctrl.marker.id">
      </ui-gmap-marker>
    </ui-gmap-google-map>
  </div>
</div>