<div class="md-subhead">
  <h3 class="help-p-block__item md-title">Объявления и события</h3>
  <div class="help-p-block__item">Публикация, удаление и комментирование объявлений и событий
    доступно только для вошедших в систему пользователей.
    Пожалуйста, ознакомьтесь с <a class="link link_blue link_b" href="/help/?q=2">Регистрация, вход и выход</a>
  </div>

  <h3 class="help-p-block__item md-title">Объявления</h3>
  <div class="help-p-block__item">Объявления представляют собой обращение к пользователям
    <a class="link link_blue link_b" href="/">Pingvin.online</a> помочь в чем-либо.
    Это может быть, например, починить компьютер, помощь в транспортировке чего-либо и многое другое.
    Со всеми категориями можно ознакомиться в
    <a class="link link_blue link_b" href="/help/?q=8#anchorallCategories">Категории</a>
  </div>

  <h3 class="help-p-block__item md-title" id="anchorpublishPost">Публикация объявления</h3>
  <div class="help-p-block__item">
    Для тодо что бы опубликовать объявление нужно выполнить следующие шаги:
    <ol class="help-p-list">
      <li>Перейти на <a href="/posts/" class="link link_blue link_b">Объявления</a></li>
      <li>Нажать кнопку в нижнем правом углу экрана
        <div class="help-add-btn"><i class="help-add-btn__icon material-icons">add</i></div></li>
      <li>Заполнить поля заголовок и описание</li>
      <li>Добавить <a href="" ng-click="$ctrl.gotoAnchor('optionalParams')"
                      class="link link_blue link_b">Необязательные параметры</a></li>
      <li>Нажать на кнопку <b>Опубликовать</b></li>
    </ol>
  </div>

  <h3 class="help-p-block__item md-title" id="anchoroptionalParams">Необязательные параметры объявления</h3>
  <div class="help-p-block__item">Необязательные параметры объявления позволяют дополнить информацию.
    Рекомендуется указывать все дополнительные параметры. Это увеличивает скорость отклика.
  </div>
  <ul class="help-p-list">
    <li>Геолокация
      <div class="help-p-block__item">Геолокация - один из самых важных дополнительный параметров.
        Указав его, вы сможете привлеч людей, которе находятся близко к указанному месту.
        Это увеличит скорость отклика.</div>
      <div class="help-p-block__item">Для того что бы добавить геолокацию к объявлению нужно выполнить следующие шаги:</div>
      <ol class="help-p-list">
        <li>Нажать на иконку <i class="help-icon material-icons">add_location</i></li>
        <li>Ввести необходимый адрес и нажать на кнопку
          <div class="help-geo-search-btn"><i class="help-geo-search-btn__icon material-icons">search</i></div>
          или перетащить <i class="help-location-on-icon material-icons">location_on</i> в необходимое место на карте.
        </li>
        <li>Нажать кнопку <b>Добавить</b></li>
      </ol>
    </li>
    <li>Мотивация
      <div class="help-p-block__item">Для того что бы ускорить процесс поиска помощника вы можете указать мотивацию.
        Мотивация может быть следующих типов: благодарность, деньги, другая(произвольная).
        Все оплаты и обмен происходят по договоренности человека, который ищет помощь и помощника.
        Сервис <a href="/" class="link link_blue link_b">Pingvin.online</a> не участвует в сделке,
        а только помогает найти и связать человека, который ищет помощь и помощника.
        По умолчанию указанная мотивация - благодарность.</div>
      <div class="help-p-block__item">Для того что бы добавить мотивацию к объявлению нужно выполнить следующие шаги:</div>
      <ol class="help-p-list">
        <li>Нажать на иконку <i class="help-icon material-icons">swap_horiz</i></li>
        <li>Выбрать тип мотивации - благодарность, деньги (нужно указать сумму) или
          другую(нужно указать произвольную мотивацию)</li>
        <li>Нажать кнопку <b>Добавить</b></li>
      </ol>
    </li>
    <li>Категория
      <div class="help-p-block__item">Для того что ваше объявление попадало под фильтры по категориям у других
        пользователей нужно указать категорию.</div>

      <div class="help-p-block__item">Для того что бы добавить категорию к объявлению нужно выполнить следующие шаги:</div>
      <ol class="help-p-list">
        <li>Нажать на иконку <i class="help-icon material-icons">widgets</i></li>
        <li>Выбрать из списка нужную категорию и кликнуть по ней</li>
        <li>Нажать кнопку <b>Добавить</b></li>
      </ol>
    </li>

    <li>Дата актуальности
      <div class="help-p-block__item">Когда наступит указанная дата, то объявление автоматически удалится.
        По умолчанию дата акутальности установлена в максимальное значение и ровна дата публикации + месяц. </div>

      <div class="help-p-block__item">Для того что бы добавить дату актуальности к объявлению
        нужно выполнить следующие шаги:</div>
      <ol class="help-p-list">
        <li>Нажать на иконку <i class="help-icon material-icons">date_range</i></li>
        <li>Указать дату актуальности</li>
        <li>Нажать кнопку <b>Добавить</b></li>
      </ol>
    </li>


    <li>Оформление объявления
      <div class="help-p-block__item">Для того что бы привлечь как можно больше внимания можно оформить шапку объявления.
        Можно выбрать цвет шапки или загрузить фотографию.
        По умолчанию <a class="link link_blue link_b" href="/">Pingvin.online</a> выбирает цвет шапки объявления сам.
        Можно запретить показ шапок по умолчанию в
        <a class="link link_blue link_b" href="/settings/">Настройках отображения</a>
      </div>

      <div class="help-p-block__item">Для того что бы добавить оформление объявления нужно выполнить следующие шаги:</div>
      <ol class="help-p-list">
        <li>Нажать на иконку <i class="help-icon material-icons">color_lens</i></li>
        <li>Выбрать изменения цвета шапки или загрузки фотографии
          <ul class="help-p-list">
            <li>Изменение цвета
              <div class="help-p-block__item">
                Для того что бы изменить цвет нужно кликнуть по нужному цвету
              </div>
            </li>
            <li>Загрузка фотографии
              <div class="help-p-block__item">
                Для того что бы добавить фотографию нужно выполнить следующие шаги
                <ol class="help-p-list">
                  <li>Нажать кнопку <b>Добавить изображение</b></li>
                  <li>Выбрать файл изображения у вас на компьютере</li>
                  <li>При необходимости кадрировать изображение</li>
                </ol>
              </div>
            </li>
          </ul>
        </li>
        <li>Нажать кнопку <b>Добавить</b></li>
      </ol>
    </li>
  </ul>

  <h3 class="help-p-block__item md-title" id="anchorremovePost">Удаление объявления</h3>
  <div class="help-p-block__item">
    Для того что бы удалить объявление нужно выполнить следующие шаги:
    <ol class="help-p-list">
      <li>Перейти на <a href="/activity/?act=my-posts" class="link link_blue link_b">Опубликованные мной объявления</a></li>
      <li>Открыть в диалоговом окне нужное объявление, кликнув на карточку</li>
      <li>Нажать на кнопку <i class="help-icon help-delete-post-btn material-icons">close</i><b>Удалить</b></li>
    </ol>
  </div>


  <h3 class="help-p-block__item md-title">События</h3>
  <div class="help-p-block__item">События, очень похожи на объявления, они так же представляют собой обращение к пользователям
    <a class="link link_blue link_b" href="/">Pingvin.online</a> помочь в чем-либо.
    События публикуются какими-либо организациями и предполагают поиск нескольких помощников одновременно.
  </div>

  <h3 class="help-p-block__item md-title" id="">Публикация события</h3>
  <div class="help-p-block__item">События, в отличие, от объявлений публикуются не мгновенно,
    а только после модерации администратором <a class="link link_blue link_b" href="/">Pingvin.online</a></div>
  <div class="help-p-block__item">
    Для того что бы опубликовать событие нужно выполнить слудующие шаги:
    <ol class="help-p-list">
      <li>Перейти на <a href="/events/" class="link link_blue link_b">События</a></li>
      <li>Нажать кнопку в нижнем правом углу экрана
        <div class="help-add-btn"><i class="help-add-btn__icon material-icons">add</i></div></li>
      <li>Заполнить поля заголовок, описание, организация и указать требуемое число помощников</li>
      <li>Добавить <a href="" ng-click="$ctrl.gotoAnchor('optionalParams')"
                      class="link link_blue link_b">Необязательные параметры</a></li>
      <li>Нажать на кнопку <b>Опубликовать</b></li>
    </ol>
  </div>

  <h3 class="help-p-block__item md-title">Удаление события</h3>
  <div class="help-p-block__item">
    События удаляются, так же как <a href="" ng-click="$ctrl.gotoAnchor('removePost')"
                                     class="link link_blue link_b">Удаляются объявления</a>.
  </div>

</div>