<div class="md-subhead">
  <h3 class="help-p-block__item md-title">Выбор помощника</h3>
  <div class="help-p-block__item">Выбор помощников доступен только для вошедших в систему пользователей.
    Пожалуйста, ознакомьтесь с <a class="link link_blue link_b" href="/help/?q=2">Регистрация, вход и выход</a>
  </div>

  <div class="help-p-block__item">
    Все отклики и обновления на ваше объявление или событие будут отображаться в
    <a class="link link_blue link_b" href="/activity/?act=news">Обновления</a>.
  </div>

  <h3 class="help-p-block__item md-title" id="anchorselectHelper">Выбор помощника</h3>
  <div class="help-p-block__item">
    Для того что бы выбрать помощника нужно выполнить следующие шаги:
    <ol class="help-p-list">
      <li>Перейти на <a class="link link_blue link_b" href="/activity/?act=my-posts">Опубликованные мной</a></li>
      <li>На нужной карточке нажать на иконку <i class="help-icon material-icons">people</i></li>
      <li>Нажать на кнопку напротив имени помощника <b>Выбрать</b></li>
    </ol>
  </div>

  <h3 class="help-p-block__item md-title">Отменить выбор помощника</h3>
  <div class="help-p-block__item">
    Для того что бы отменить выбор помощника нужно выполнить следующие шаги:
    <ol class="help-p-list">
      <li>Перейти на <a class="link link_blue link_b" href="/activity/?act=my-posts">Опубликованные мной</a></li>
      <li>На нужной карточке нажать на иконку <i class="help-icon material-icons">people</i></li>
      <li>Нажать на иконку напротив имени помощника <i class="help-icon material-icons">more_vert</i></li>
      <li>Нажать на кнопку <b>Отменить</b></li>
    </ol>
  </div>

  <h3 class="help-p-block__item md-title" id="anchorendHelp">Отметить помощника как оказавшего помощь и поставить оценку</h3>
  <div class="help-p-block__item">
    Для того что бы отметить помощника как оказавшего помощь и поставить оценку нужно выполнить следующие шаги:
    <ol class="help-p-list">
      <li>Перейти на <a class="link link_blue link_b" href="/activity/?act=my-posts">Опубликованные мной</a></li>
      <li>На нужной карточке нажать на иконку <i class="help-icon material-icons">people</i></li>
      <li>Нажать на иконку напротив имени помощника <i class="help-icon material-icons">more_vert</i></li>
      <li>Нажать на кнопку <b>Завершено</b></li>
      <li>Поставить оценку и написать комментарий</li>
      <li>Нажать на кнопку <b>Оценить</b></li>
    </ol>
  </div>

</div>