<div class="md-subhead">
  <h3 class="help-p-block__item md-title">Отклик на объявления и события</h3>
  <div class="help-p-block__item">Отклик на объявления и события
    доступны только для вошедших в систему пользователей.
    Пожалуйста, ознакомьтесь с <a class="link link_blue link_b" href="/help/?q=2">Регистрация, вход и выход</a>
  </div>


  <h3 class="help-p-block__item md-title" id="anchorhelpPost">Отклик на объявления и события</h3>
  <div class="help-p-block__item">Все публикации на которые вы откликнулись можно уведить в
    <a class="link link_blue link_b" href="/activity/?act=my-helps">Хочу помочь</a></div>
  <div class="help-p-block__item">
    Для того что бы откликнуться на объявление или событие нужно выполнить следующие шаги:
    <ol class="help-p-list">
      <li>Перейти на <a href="/posts/" class="link link_blue link_b">
        Объявления</a> или перейти на <a href="/posts/" class="link link_blue link_b">
        События</a>
      </li>
      <li>Кликнув на нужную карточку открыть публикацию в диалоговом окне</li>
      <li>Нажать на кнопку <div class="help-help-btn-wrap">
        <i class="help-help-btn-wrap__icon material-icons">near_me</i>
        <span class="help-help-btn-wrap__text">Откликнуться</span></div></li>
      <li>Выбрать мотивацию(что вы готовы предложить, что бы выбрали именно вас)</li>
      <li>Нажать на кнопку <b>Откликнуться</b></li>
    </ol>
  </div>

  <h3 class="help-p-block__item md-title">Изменение мотивации после отклика на объявление и событие</h3>
  <div class="help-p-block__item">
    Для того что бы изменить мотивацию после отклика на объявление или событие нужно выполнить следующие шаги:
    <ol class="help-p-list">
      <li>Перейти на <a class="link link_blue link_b" href="/activity/?act=my-helps">Хочу помочь</a>
      </li>
      <li>Кликнуть на нужной карточке на иконку <i class="help-icon helpers-btn__icon_helped material-icons">people</i></li>
      <li>Нажать на кнопку напротив вашего текущего предложения <b>Изменить</b></li>
      <li>Выбрать новую мотивацию</li>
      <li>Нажать на кнопку <b>Изменить</b></li>
    </ol>
  </div>

</div>