<div class="md-subhead">
  <h3 class="help-p-block__item md-title"><a class="link link_blue link_b" href="/about-me/">Ваш профиль</a></h3>
  <div class="help-p-block__item">Редактирования профиля доступно только для вошедших в систему пользователей.
    Пожалуйста, ознакомьтесь с <a class="link link_blue link_b" href="/help/?q=2">Регистрация, вход и выход</a>
  </div>

  <div class="help-p-block__item">Рекомендуется заполнять профиль полностью и указывать только
    достоверную информацию, потому что это повысит уровень доверия других пользователей к вам.</div>

  <h3 class="help-p-block__item md-title">Добавление и редактирование общей информации</h3>
  <div class="help-p-block__item">
    Для того что бы добавить или отредактировать общую информацию о вас нужно выполнить следующие шаги:
    <ol class="help-p-list">
      <li>Перейти на <a href="/about-me-edit/?act=common" class="link link_blue link_b">
        Редактирование общей информации</a> или перейти на
        <a href="/about-me/" class="link link_blue link_b">Обо мне</a>, и нажать на иконку в правом верхнем углу
        <i class="help-icon material-icons">edit</i> и далее выбрать вкладку Общая информация
      </li>
      <li>Указать пол, дату рождения и информацию о себе(работа, увлечения)</li>
      <li>Нажать на кнопку <b>Сохранить</b></li>
    </ol>
  </div>

  <h3 class="help-p-block__item md-title">Добавление контактов</h3>
  <div class="help-p-block__item">
    <div><a href="/help/?q=8#anchormeaningContacts" class="link link_blue link_b">Зачем указывать контакты ?</a></div>
    <div><a href="/help/?q=7#anchorpublicContats" class="link link_blue link_b">
      Как настроить приватность указанных контактов ?</a></div>
  </div>
  <div class="help-p-block__item">
    Для того что бы добавить ваши контакты о вас нужно выполнить следующие шаги:
    <ol class="help-p-list">
      <li>Перейти на <a href="/about-me-edit/?act=contacts" class="link link_blue link_b">
        Редактирование контактов</a> или перейти на
        <a href="/about-me/" class="link link_blue link_b">Обо мне</a>, и нажать на иконку в правом верхнем углу
        <i class="help-icon material-icons">edit</i> и далее выбрать вкладку Контакты</li>
      <li>Выбрать источник. Источником может быть электронная почта, социальные сети и номера телефонов</li>
      <li>Заполнить поле соответствующее выбранному источнику</li>
      <li>Нажать на иконку <div class="help-contact-add">
        <i class="help-contact-add__icon material-icons">add</i></div></li>
      <li>Нажать на кнопку <b>Сохранить</b></li>
    </ol>
  </div>

  <div class="help-p-block__item">
    Для тогдо что бы удалить контакт нужно нажать на иконку
    <i class="help-icon material-icons">close</i> справа от контакта.
  </div>


  <h3 class="help-p-block__item md-title">Добавление категорий</h3>
  <div class="help-p-block__item">
    <div><a href="/help/?q=8#anchormeaningCategories" class="link link_blue link_b">
      Зачем указывать категории ?</a></div>
    <div><a href="/help/?q=7#anchorfilterCategories" class="link link_blue link_b">
      Как настроить фильтры по выбранным категориям ?</a></div>
  </div>
  <div class="help-p-block__item">
    Для того что бы добавить категории нужно выполнить следующие шаги:
    <ol class="help-p-list">
      <li>Перейти на <a href="/about-me-edit/?act=categories" class="link link_blue link_b">
        Редактирование категорий</a> или перейти на
        <a href="/about-me/" class="link link_blue link_b">Обо мне</a>, и нажать на иконку в правом верхнем углу
        <i class="help-icon material-icons">edit</i> и далее выбрать вкладку Категории</li>
      <li>Выбрать на нужной вкладке категорий подкатегорию и кликнуть по ней.
        Ваша выбранная категория должна отобразиться слева в колонке Мои категории</li>
      <li>Нажать на кнопку <b>Сохранить</b></li>
    </ol>
  </div>

  <div class="help-p-block__item">
    Для тогдо что бы удалить категорию нужно нажать на иконку
    <i class="help-icon material-icons">close</i> справа от категории в колонке Мои категории.
  </div>


</div>