<script type="text/ng-template" id="/public/html/help-1-pingvin.html">____include('html/help-1-pingvin.html')</script>
<script type="text/ng-template" id="/public/html/help-2-pingvin.html">____include('html/help-2-pingvin.html')</script>
<script type="text/ng-template" id="/public/html/help-3-pingvin.html">____include('html/help-3-pingvin.html')</script>
<script type="text/ng-template" id="/public/html/help-4-pingvin.html">____include('html/help-4-pingvin.html')</script>
<script type="text/ng-template" id="/public/html/help-5-pingvin.html">____include('html/help-5-pingvin.html')</script>
<script type="text/ng-template" id="/public/html/help-6-pingvin.html">____include('html/help-6-pingvin.html')</script>
<script type="text/ng-template" id="/public/html/help-7-pingvin.html">____include('html/help-7-pingvin.html')</script>
<script type="text/ng-template" id="/public/html/help-8-pingvin.html">____include('html/help-8-pingvin.html')</script>

<div class="help-p-ribbon"></div>
<div class="help-p ng-cloak" layout="column">
  <div class="help-p__header">
    <h2 class="md-display-1">Помощь</h2>
  </div>
  <div layout="row" layout-sm="column" layout-xs="column">
    <div class="help-p__content" flex>
      <div class="help-p-block md-whiteframe-z1">
        <div class="ng-cloak" ng-switch="$ctrl.current">
          <div ng-switch-when="0"><div ng-include="'/public/html/help-1-pingvin.html'"></div></div>
          <div ng-switch-when="1"><div ng-include="'/public/html/help-2-pingvin.html'"></div></div>
          <div ng-switch-when="2"><div ng-include="'/public/html/help-3-pingvin.html'"></div></div>
          <div ng-switch-when="3"><div ng-include="'/public/html/help-4-pingvin.html'"></div></div>
          <div ng-switch-when="4"><div ng-include="'/public/html/help-5-pingvin.html'"></div></div>
          <div ng-switch-when="5"><div ng-include="'/public/html/help-6-pingvin.html'"></div></div>
          <div ng-switch-when="6"><div ng-include="'/public/html/help-7-pingvin.html'"></div></div>
          <div ng-switch-when="7"><div ng-include="'/public/html/help-8-pingvin.html'"></div></div>
          <div ng-switch-default><div ng-include="'/public/html/error.html'"></div></div>
        </div>
      </div>
    </div>
    <nav class="help-p__menu">
      <ul class="help-p-menu-item-list">
        <li ng-repeat="item in ::$ctrl.helpList" class="ng-cloak help-p-menu__item md-body-1"
            ng-class="$ctrl.isSelected(item) ? 'help-p-menu__item_selected' : ''">
          <a ng-bind="item.name" ng-click="$ctrl.selectValue(item)"
             aria-label="{{::item.name}}" ng-href="{{'/help/?q=' +  item.value}}"></a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div ng-include="'public/html/footer.html'"></div>