
<div class="md-subhead">

  <h3 class="help-p-block__item md-title">Что такое <a class="link link_blue link_b" href="/">Pingvin.online</a> ?</h3>

  <div class="help-p-block__item"><a class="link link_blue link_b" href="/">Pingvin.online</a> -
    это сайт, который поможет найти рядом людей, которым нужна помощь, и людей, готовых помочь.
  </div>
  <div class="help-p-block__item">
    <div>
      <a class="link link_blue link_b"
         href="/blog/rekomendacii-po-sozdaniyu-obyyavleniy-v-pingvin-29-09-17/">
        Рекомендации по созданию объявлений в Pingvin
      </a>
    </div>
    <div>
      <a class="link link_blue link_b"
         href="/blog/kak-otklikatsya-na-obyyavleniya-v-pingvin-29-09-17/">
        Как откликаться на объявления в Pingvin?
      </a>
    </div>
  </div>

  <h3 class="help-p-block__item md-title">Зачем нужен <a class="link link_blue link_b" href="/">Pingvin.online</a> ?</h3>

  <div class="help-p-block__item">Что бы лучше понять зачем нужен Pingvin.online давайте представим,
    что в некотором городе N недалеко друг от друга живут Ваня и Алиса.</div>

  <div class="help-p-block__item" layout="row" layout-xs="column" layout-align="center center">
    <div class="help-present-img-wrap">
      <img class="help-present-img" src="/public/img/bobalice1.jpg" alt="Ваня">
    </div>
    <div flex class="help-rtext">Это Ваня. Ваня - обыкновенный парень.
      Он работает инженером и превосходно разбирается в технике.
      А в свободное время любит ловить покемонов.</div>
  </div>

  <div class="help-p-block__item" layout="row"  layout-xs="column" layout-align="center center">
    <div flex-order-xs="2" class="help-ltext">Это Алиса. Алиса - простая девушка.
      Она студентка последнего курса, учится на экономическом в университете M.
      В свободное время Алиса любит ходить по магазинам и примерять новые сумочки.</div>
    <div flex-order-xs="1" class="help-present-img-wrap">
      <img class="help-present-img" src="/public/img/bobalice2.jpg" alt="Алиса">
    </div>
  </div>


  <div class="help-p-block__item" layout="row"  layout-xs="column"  layout-align="center center">
    <div class="help-present-img-wrap">
      <img class="help-present-img" src="/public/img/bobalice3.jpg" alt="Поломался компьютер">
    </div>
    <div flex class="help-rtext">После прогулки по магазинам с подругой Алиса вернулась домой и
      включила компьютер, что бы начать писать курсовую работу. При включении Алиса увидела синий экран! Что делать?
      Компьютер сломался, а курсовую работу нужно сдать через несколько дней.</div>
  </div>

  <div class="help-p-block__item" layout="row"  layout-xs="column"  layout-align="center center">
    <div flex-order-xs="2" class="help-ltext">Алиса очень волновалась и не могла заснуть. Она искала на телефоне в
      интернете какое-то решение ее проблемы. Случайно она наткнулась на
      <a class="link link_blue link_b" href="/">Pingvin.online</a>.
      Pingvin помогает найти людей рядом которым нужна помощь и людей готовых помочь.
      Она опубликовала объявление с просьбой помочь ей и починить ее компьютер. </div>
    <div class="help-present-img-wrap" flex-order-xs="1">
      <img class="help-present-img" src="/public/img/bobalice4.jpg" alt="Алиса нашла сервис Pingvin.online">
    </div>
  </div>

  <div class="help-p-block__item" layout="row"  layout-xs="column" layout-align="center center">
    <div class="help-present-img-wrap">
      <img class="help-present-img" src="/public/img/bobalice6.jpg" alt="Ваня успокаивает Алису">
    </div>
    <div flex class="help-rtext">На объявление Алисы откликнулся Ваня и на следующий день связался с ней  и
      пообещал постараться сегодня помочь починить компьютер. Тем более оказалось, что Ваня живет в соседнем доме.
      Когда Ваня пришел к Алисе, она была совсем не в настроении.
      Ваня успокоил ее и объяснил, что такое иногда бывает когда на компьютере установлена система W.
    </div>
  </div>

  <div class="help-p-block__item" layout="row" layout-xs="column" layout-align="center center">
    <div flex-order-xs="2" class="help-ltext">Раньше Ваня помогал решать подобную проблему много раз своим друзьям и знакомым,
      поэтому для него это было легко. Ваня успешно починил компьютер Алисы.
      На переустановку системы ушло всего 20 минут.
    </div>
    <div flex-order-xs="1" class="help-present-img-wrap">
      <img class="help-present-img" src="/public/img/bobalice5.jpg" alt="Ваня чинит компьютер">
    </div>
  </div>

  <div class="help-p-block__item" layout="row"  layout-xs="column" layout-align="center center">
    <div class="help-present-img-wrap">
      <img class="help-present-img" src="/public/img/bobalice7.jpg" alt="Ваня и Алиса подружились">
    </div>
    <div flex class="help-rtext">Алиса написала курсовую и получила хорошую отметку.
      Так случилось, что Ваня и Алиса подружились.
      Они ходили иногда вместе пить чай и рассказывали друг другу интересные истории из жизни.
      Алисе понравился <a class="link link_blue link_b" href="/">Pingvin.online</a>
      и через несколько дней она откликнулась на объявление Кати,
      студентки, которая училась на третьем курсе, о помощи по курсовой работе.
    </div>
  </div>

  <h3 class="help-p-block__item md-title">Схема взаимодейтсвия пользователей
    <a class="link link_blue link_b" href="/">Pingvin.online</a></h3>

  <div>
    <div class="help-p-block__item" layout="row">
      <div><img class="help-chema-img" src="/public/img/bobalice1.jpg" alt="Ваня"></div>
      <div flex></div>
      <div><img class="help-chema-img" src="/public/img/bobalice2.jpg" alt="Алиса"></div>
    </div>

    <div class="help-p-block__item" layout="row">
      <div class="help-line-wrap"><div class="help-line"></div></div>
      <div layout="column" flex>
        <div layout="row" layout-align="end center" class="help-chema-item-wrap">
          <div class="help-chema-item help-chema-item_alice">Опубликовать объявление
            <a href="/help/?q=3#anchorpublishPost"><i class="material-icons help-chema-item__icon">help_outline</i></a>
          </div>
        </div>
        <div layout="row" layout-align="start center" class="help-chema-item-wrap">
          <div class="help-chema-item help-chema-item_ivan">Откликнуться на объявление
            <a href="/help/?q=4#anchorhelpPost"><i class="material-icons help-chema-item__icon">help_outline</i></a>
          </div>
        </div>
        <div layout="row" layout-align="end center" class="help-chema-item-wrap">
          <div class="help-chema-item help-chema-item_alice">Выбрать помощника
            <a href="/help/?q=5#anchorselectHelper"><i class="material-icons help-chema-item__icon">help_outline</i></a>
          </div>
        </div>
        <div layout="row" layout-align="start center" class="help-chema-item-wrap">
          <div class="help-chema-item help-chema-item_ivan">Связаться с помощником</div>
        </div>
        <div layout="row" layout-align="start center" class="help-chema-item-wrap">
          <div class="help-chema-item help-chema-item_ivan">Оказать помощь</div>
        </div>
        <div layout="row" layout-align="end center" class="help-chema-item-wrap">
          <div class="help-chema-item help-chema-item_alice">
            Отметить помощника как оказавшего помощь и поставить оценку
            <a href="/help/?q=5#anchorendHelp"><i class="material-icons help-chema-item__icon">help_outline</i></a>
          </div>
        </div>
      </div>
      <div class="help-line-wrap"><div class="help-line"></div></div>
    </div>
  </div>
</div>