<div class="md-subhead">
  <h3 class="help-p-block__item md-title">Регистрация, вход и выход</h3>
  <h3 class="help-p-block__item md-title">Регистрация</h3>
  <div class="help-p-block__item">Что бы получить доступ к
    <a class="link link_blue link_b" href="/">Pingvin.online</a> нужно только лишь зарегистрироваться.
    Есть два способа получить доступ:
    <ul class="help-p-list">
      <li>Регистрация через email и вход через email</li>
      <li>Вход в <b>один клик</b> через вашу любимую социальную сеть</li>
    </ul>
  </div>


  <h3 class="help-p-block__item md-title">Регистрация через email</h3>
  <div class="help-p-block__item">
    Для того что бы зарегистрироваться нужно выполнить следующие шаги:
    <ol class="help-p-list">
      <li>Перейти на <a class="link link_blue link_b" href="/">Pingvin.online</a></li>
      <li>Нажать кнопку <b>Регистрация</b></li>
      <li>Ввести электронную почту, пароль, имя и фамилию</li>
      <li>Нажать кнопку <b>Зарегистрироваться</b></li>
      <li>Открыть письмо на указанном почтовом ящике и нажать кнопку <b>Активировать аккаунт</b></li>
    </ol>
  </div>


  <h3 class="help-p-block__item md-title">Вход через email</h3>
  <div class="help-p-block__item">
    Для того что бы войти через email нужно выполнить следующие шаги:
    <ol class="help-p-list">
      <li>Перейти на <a class="link link_blue link_b" href="/">Pingvin.online</a></li>
      <li>Ввести электронную почту и пароль</li>
      <li>Нажать кнопку <b>Войти</b></li>
    </ol>
  </div>

  <h3 class="help-p-block__item md-title">Вход через социальную сеть</h3>
  <div class="help-p-block__item">
    Для того что бы войти через вашу любимую социальную сеть нужно выполнить следующие шаги:
    <ol class="help-p-list">
      <li>Перейти на <a class="link link_blue link_b" href="/">Pingvin.online</a></li>
      <li>Осуществить клик по соответствующей иконке, на которой изображен логотип социальной сети</li>
    </ol>
  </div>

  <h3 class="help-p-block__item md-title">Выход</h3>
  <div class="help-p-block__item">
    Для того что бы войти их pingvin.online нужно выполнить следующие шаги:
    <ol class="help-p-list">
      <li>Перейти на <a href="/posts/" class="link link_blue link_b">Объявления</a></li>
      <li>В верхнем правом углу нажать на иконку <i class="help-icon material-icons">arrow_drop_down</i></li>
      <li>Нажать на  <i class="help-icon material-icons">exit_to_app</i><b>Выход</b></li>
    </ol>
  </div>


</div>