<div class="md-subhead">
  <h3 class="help-p-block__item md-title">Популярные вопросы</h3>

  <h3 class="help-p-block__item md-title" id="anchormeaningContacts">Зачем указывать контакты ?</h3>
  <div class="help-p-block__item">
    Если вы собираетесь делать отклики на
    <a class="link link_blue link_b" href="/posts/">Объявления</a> или
    <a class="link link_blue link_b" href="/events/">События</a>, то это необходимость.
    После того как вас виберут помощником с вами свяжутся через указанные публичные контакты.
  </div>


  <h3 class="help-p-block__item md-title" id="anchormeaningCategories">Зачем указывать категории ?</h3>
  <div class="help-p-block__item">
    Указанные категории, дают представление о том в каких специализациях вы хорошо ориентируетесь.
    Так же вы можете указать фильтры на интересующие вас категории в
    <a class="link link_blue link_b" href="/events/">Настройках</a>.
  </div>

  <h3 class="help-p-block__item md-title" id="anchorallCategories">Какие категории доступны ?</h3>
  <div class="help-p-block__item">
    <ul class="help-p-list">
      <li ng-repeat="category in $ctrl.categories">{{::category.title}}
        <ul class="help-p-list">
          <li ng-repeat="subcategory in category.subcategories">{{::subcategory.title}}</li>
        </ul>
      </li>
    </ul>
  </div>

  <h3 class="help-p-block__item md-title">Нет ответа на ваш вопрос ?</h3>
  <div class="help-p-block__item">Если вы не нашли ответ на ваш вопрос о
    <a class="link link_blue link_b" href="/">Pingvin.online</a>, то пожалуйста задайте его нам в
    <a class="link link_blue link_b" href="/feedback/">Обратная свзяь</a> или напиште на почту
    question.pingvin@gmail.com.
  </div>
</div>