<div class="md-subhead">
  <h3 class="help-p-block__item md-title"><a class="link link_blue link_b" href="/settings/">Настройки</a></h3>
  <div class="help-p-block__item">Изменение настроек доступно только для вошедших в систему пользователей.
    Пожалуйста, ознакомьтесь с <a class="link link_blue link_b" href="/help/?q=2">Регистрация, вход и выход</a>
  </div>

  <h3 class="help-p-block__item md-title" id="anchorfilterCategories">Категории</h3>
  <div class="help-p-block__item">
    В этом разделе настроек можно настроить отображение публикаций по категориям в ленте
    <a class="link link_blue link_b" href="/posts/">Объявлений</a> и
    <a class="link link_blue link_b" href="/events/">Событий</a>.
  </div>
  <div class="help-p-block__item">
    Для тогдо что бы указать категории, публикации которых будут отображаться в общей ленте
    нужно нажать на переключатель напротив категории и далее нажать на кнопку <b>Сохранить</b>
  </div>


  <h3 class="help-p-block__item md-title" id="anchorpublicContats">Публичные контакты</h3>
  <div class="help-p-block__item">
    В этом разделе настроек можно настроить отображение контактов, добавленных в
    <a href="/about-me-edit/?act=contacts" class="link link_blue link_b">Редактирование контактов</a>.
  </div>
  <div class="help-p-block__item">
    Для тогдо что бы указать публичные контакты нужно нажать на переключатель напротив контакта и
    далее нажать на кнопку <b>Сохранить</b>
  </div>

  <h3 class="help-p-block__item md-title">Настройки отображения</h3>
  <div class="help-p-block__item">
    В этом разделе настроек можно настроить внешний вид отображения публикаций в
    <a class="link link_blue link_b" href="/posts/">Объявления</a> и
    <a class="link link_blue link_b" href="/events/">События</a>.
  </div>
  <div class="help-p-block__item">
    Для тогдо что бы показывать только пользовательские оформления публикаций в
    <a class="link link_blue link_b" href="/posts/">Объявления</a> и
    <a class="link link_blue link_b" href="/events/">События</a>
    нужно нажать на переключатель и далее нажать на кнопку <b>Сохранить</b>
  </div>

  <h3 class="help-p-block__item md-title">Местоположение</h3>
  <div class="help-p-block__item">
    Укажите ваше местоположение и нужный радиус. Только публикации в выбранной области будут отображаться в общей ленте.
  </div>
  <div class="help-p-block__item">
    <div class="help-p-block__item">Для того что бы добавить ваше местпооложениенужно выполнить следующие шаги:</div>
    <ol class="help-p-list">
      <li>Ввести необходимый адрес и нажать на кнопку
        <div class="help-geo-search-btn"><i class="help-geo-search-btn__icon material-icons">search</i></div>
        или перетащить <i class="help-location-on-icon material-icons">location_on</i> в необходимое место на карте.
      </li>
      <li>Нажать кнопку <b>Сохранить</b></li>
    </ol>
  </div>

</div>