<md-dialog aria-label="Add new style" class="post-new-addition" md-no-ink>
  <md-toolbar class="post-new-addition__toolbar" md-whiteframe="1">
    <div class="md-toolbar-tools">
      <h2>Добавить изображение</h2>
      <span flex></span>
      <md-button class="md-icon-button icon-wrap" ng-click="cancel()">
        <md-icon md-font-set="material-icons" class="icon-wrap__icon icon-wrap__icon_hov"
                 aria-label="Close add post">clear</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content class="icon-wrap__content post-new-addition__content" layout="column">

    <span class="secondarily post-new-addition-content__hint">
      Загрузить изображение
    </span>

    <md-divider></md-divider>

    <div class="post-new-addition-content__block">
      <img-crop-region type="{{::$ctrl.type}}" pic-file="$ctrl.picFile" crop-coords="$ctrl.cropCoords"
                       progress="$ctrl.progress" loading="$ctrl.loadimg" hide-xs hide-sm>
      </img-crop-region>
    </div>
    </div>

    <div class="error" ng-show="$ctrl.error.show" ng-bind="$ctrl.error.msg"></div>

  </md-dialog-content>
  <md-dialog-actions layout-margin  layout="row">
    <div flex></div>
    <md-button ng-click="cancel()">Отмена</md-button>
    <md-button class="md-primary md-raised" ng-click="$ctrl.save()">Добавить</md-button>
  </md-dialog-actions>

</md-dialog>