<div>
  <div class="secondarily" ng-bind="$ctrl.hintCrop"></div>
  <div layout="row">
    <button class="md-button md-raised md-primary" type="file" ng-disabled="$ctrl.mode!=0"
            ngf-select ng-model="$ctrl.picFile" ngf-pattern="$ctrl.pattern"
            accept="{{$ctrl.pattern}}"
            ngf-max-size="10MB">Добавить изображение
    </button>
    <div flex></div>
    <md-button ng-show="$ctrl.mode==1 && $ctrl.isCrop" class="ng-hide md-icon-button reset-mp icon-wrap" ng-click="$ctrl.cropImg()">
      <md-tooltip md-delay="200">Обрезать</md-tooltip>
      <md-icon md-font-set="material-icons" class="icon-wrap__icon icon-wrap__icon_hov"
               aria-label="Crop">crop</md-icon>
    </md-button>
    <md-button ng-show="$ctrl.mode!=0" class="ng-hide md-icon-button reset-mp icon-wrap" ng-click="$ctrl.cancel()">
      <md-tooltip md-delay="200">Отмена</md-tooltip>
      <md-icon md-font-set="material-icons" class="icon-wrap__icon icon-wrap__icon_hov"
               aria-label="Cancel">close</md-icon>
    </md-button>
  </div>

  <div>
    <div class="img-crop-region-progress-wrap">
      <md-progress-linear ng-show="$ctrl.loading" md-mode="determinate" value="{{$ctrl.progress}}">
      </md-progress-linear>
    </div>

    <div ng-show="$ctrl.mode==1" id="fix-crop" ngf-drop ngf-model="$ctrl.picFile"
         ng-class="$ctrl.areaClass" class="ng-hide">
      <ui-cropper ng-show="$ctrl.isCrop" image="$ctrl.picFile | ngfDataUrl" aspect-ratio="$ctrl.ratio" area-type={{::$ctrl.atype}}
                  result-image-size="$ctrl.resultSize" result-image="$ctrl.cropFile" class="ng-hide"
                  area-coords="$ctrl.cropCoords" on-load-done="$ctrl.fload()" area-min-size="$ctrl.areaMinSize">
      </ui-cropper>
      <div ng-show="!$ctrl.isCrop" layout="row" layout-align="center center" style="height: 100%;">
        <img ngf-src="$ctrl.picFile" alt="изображение" class="ng-hide">
      </div>
    </div>

    <div ng-show="$ctrl.mode==2" class="ng-hide">
      <div layout="row">
        <div><img ng-src="{{$ctrl.cropFile}}" class="img-crop-region-avatar-max"></div>
        <div layout="column" ng-show="$ctrl.type=='avatar'" class="img-crop-region-avatar-min-med-wrap">
          <div><img ng-src="{{$ctrl.cropFile}}"  class="img-crop-region-avatar-med"></div>
          <div><img ng-src="{{$ctrl.cropFile}}" class="img-crop-region-avatar-min"></div>
        </div>
      </div>
    </div>

  </div>
</div>