<!DOCTYPE html>
<html lang="ru-RU" ng-app="pingvinApp" ng-controller="NavigateController as nc">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="fragment" content="!">
  <base href="/">
  <title ng-bind="nc.title()">Pingvin.online — поиск помощника</title>
  <meta name="description" content="Pingvin.online поможет найти рядом людей, которым нужна помощь, и людей, готовых помочь." />
  <link rel="icon" type="image/png" href="/public/img/icon.png?v=0.7">
  <meta property="og:site_name" content="Pingvin.online" />
  <meta property="og:title" content="Pingvin.online — поиск помощника" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://pingvin.online" />
  <meta property="og:image" content="https://pingvin.online/public/img/logo_email.png" />
  <meta property="og:description" content="Pingvin.online поможет найти рядом людей, которым нужна помощь, и людей, готовых помочь." />
  <style>
    ____include('css/all-styles.min.css')
  </style>
  <script type="text/javascript">
    (window.Image ? (new Image()) :
        document.createElement('img')).src = 'https://vk.com/rtrg?p=VK-RTRG-162661-bGtpw';
  </script>
</head>

<body layout="column" flex>
<div ng-controller="MainNotificationController as mnc" class="ng-cloak">
  <div ng-if="mnc.isShow()" class="main-notification" layout="row" layout-align="center center" hide-xs>
    <div flex><div dynamic="mnc.content"></div></div>
    <div>
      <md-button class="md-icon-button icon-wrap" ng-click="mnc.hideNotification()">
        <md-tooltip md-delay="200">Отложить</md-tooltip>
        <md-icon md-font-set="material-icons" class="icon-wrap__icon icon-wrap__icon_hov"
                 aria-label="отложить">clear
        </md-icon>
      </md-button>
    </div>
  </div>
</div>
<div layout="row" md-no-ink flex>
  <md-sidenav ng-show="nc.viewMode && nc.answered" hide-print
              md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left"
              class="md-whiteframe-z1 md-sidenav-left md-locked-open sidenav layout-column ng-cloak ng-hide">
    <header class="header">
      <a href="/" class="header__logo logo">
        <h1 class="logo__text md-heading">Pingvin</h1>
      </a>
    </header>
    <md-content flex role="navigation">
      <md-list>
        <md-list-item ng-repeat="item in ::nc.items track by ::$index" class="ng-cloak reset-lrp"
                      ng-if="nc.isShowMItem(item)">
          <md-button class="menu-item menu-item_not-upper icon-wrap"
                     ng-href="{{::item.url}}" ng-click="nc.toggleList()"
                     ng-class="nc.isSelected(item) ? 'menu-item_selected' : ''">
            <md-icon class="menu-item__icon icon-wrap__icon icon-wrap__icon_hov" md-menu-align-target
                     md-font-set="material-icons" aria-label="{{::item.name}}" ng-bind="::item.icon">
            </md-icon>
            <span class="menu-item__text" ng-bind="::item.name"></span>
            <span class="menu-item__activity" ng-if="nc.isActivity(item)" ng-bind="nc.activityCount"></span>
          </md-button>
          <md-divider ng-if="item.divider && nc.user"></md-divider>
        </md-list-item>
      </md-list>
      <md-divider></md-divider>
      <div class="sidenav__links sidnav-links">
        <div layout="row">
          <div class="sidnav-links__link-wrap">
            <a class="sidnav-link-wrap__link" href="/blog/">Блог</a>
          </div>
          <div class="sidnav-links__link-wrap">
            <a class="sidnav-link-wrap__link"  href="/help/">Помощь</a>
          </div>
          <div class="sidnav-links__link-wrap" ng-controller="ShareDlgController as sh">
            <a class="sidnav-link-wrap__link"  ng-click="sh.share()">Поделиться</a>
          </div>
        </div>
        <div class="sidnav-links__link-wrap">
          <span>Почта </span>
          <a class="sidnav-link-wrap__link" href="mailto:qq@pingvin.online">qq@pingvin.online</a>
        </div>
        <div class="sidnav-links__link-wrap" layout="row" layout-align="start center">
          <span>Pingvin в соц. сетях: </span>
          <a href="https://vk.com/pingvin.online" target="_blank" class="sidnav-social-link">
            <img class="sidnav-social-link__img" src="/public/img/iconmonstr-vk-4-240.png" alt="Vk">
          </a>
          <a href="https://www.facebook.com/pingvin.online" target="_blank" class="sidnav-social-link">
            <img class="sidnav-social-link__img" src="/public/img/iconmonstr-facebook-4-240.png" alt="Facebook">
          </a>
        </div>
      </div>

    </md-content>
  </md-sidenav>

  <div ng-show="nc.answered" class="right-main-content layout-column flex" tabIndex="-1" role="main">
    <header class="md-whiteframe-z2 right-main-content__toolbar-wrap toolbar-wrap">
      <md-toolbar class="toolbar-wrap__toolbar toolbar">
        <div class="toolbar__tools tools md-toolbar-tools" ng-cloak="" ng-if="!nc.hasSearch">
          <md-button ng-show="nc.viewMode" ng-cloak class="tools__menu-btn menu-btn md-icon-button"
                     hide-gt-sm ng-click="nc.toggleList()" aria-label="Show Menu">
            <md-icon class="menu-btn__icon" md-font-set="material-icons">reorder</md-icon>
          </md-button>

          <h3 class="tools__current" dynamic="nc.headerName()"></h3>

          <div flex></div>

          <md-button ng-if="nc.user" class="md-icon-button icon-wrap" ng-click="nc.openSearch()">
            <md-icon class="icon-wrap__icon icon-wrap__icon_hov"
                     md-font-set="material-icons">search</md-icon>
          </md-button>

          <div class="tools__user-menu-wrap user-menu-wrap">
            <div ng-if="nc.user" layout="row" class="user-menu-wrap__menu-auth-wrap menu-auth-wrap">
              <md-menu ng-cloak class="menu-auth-wrap__menu user-menu" md-position-mode="target-right target"
                       md-offset="0 50">
                <md-button aria-label="Show menu" class="user-menu__btn menu-btn menu-btn_not-upper"
                           ng-click="nc.openMenu($mdMenu, $event)">
                  <span hide-xs ng-bind="nc.name"></span>
                  <md-icon class="menu-btn__icon" md-font-set="material-icons">arrow_drop_down</md-icon>
                </md-button>
                <md-menu-content class="user-menu__content" width="3">
                  <md-menu-item>
                    <md-button class="icon-wrap"  href="/help/">
                      <md-icon class="icon-wrap__icon icon-wrap__icon_hov" md-font-set="material-icons"
                               aria-label="Help">help
                      </md-icon>
                      Помощь
                    </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button class="icon-wrap" href="/settings/">
                      <md-icon class="icon-wrap__icon icon-wrap__icon_hov" md-font-set="material-icons"
                               aria-label="Settings">settings
                      </md-icon>
                      Настройки
                    </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button class="icon-wrap" ng-click="nc.logout();">
                      <md-icon class="icon-wrap__icon icon-wrap__icon_hov" md-font-set="material-icons"
                               aria-label="Exit">exit_to_app
                      </md-icon>
                      Выход
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
              <div class="ng-cloak menu-auth-wrap__avatar-wrap avatar-wrap">
                <div class="frame-round">
                  <div class="crop">
                    <img  ng-src={{nc.avatar}} alt="фотография">
                  </div>
                </div>
              </div>
            </div>
            <div ng-if="!nc.user" class="user-menu-wrap__menu-not-auth-wrap">
              <md-menu ng-cloak class="menu-not-auth" md-position-mode="target-right target" md-offset="0 50">
                <md-button class="menu-not-auth__btn menu-btn menu-btn_not-upper" aria-label="Show menu"
                           ng-click="nc.openMenu($mdMenu, $event)">Войти
                  <md-icon class="menu-btn__icon" md-font-set="material-icons">arrow_drop_down</md-icon>
                </md-button>
                <md-menu-content width="5" class="menu-not-auth__content">
                  <login-form show-signup="nc.showSignup"></login-form>
                </md-menu-content>
              </md-menu>
            </div>
          </div>
        </div>

        <div ng-if="nc.hasSearch" class="ng-cloak md-toolbar-tools search-bar">
          <form id="search-from" autocomplete="off" ng-submit="nc.search()" layout="row" flex>
            <md-button class="md-icon-button icon-wrap" type="submit">
              <md-icon class="icon-wrap__icon icon-wrap__icon_hov"
                       md-font-set="material-icons">search</md-icon>
            </md-button>
            <md-input-container md-no-float flex class="search-input-wrap reset-m">
              <input class="search-input md-body-1" placeholder="Поиск"
                     type="text" ng-model="nc.searchString"/>
            </md-input-container>
            <md-button class="md-icon-button icon-wrap" ng-click="nc.closeSearch()">
              <md-icon class="icon-wrap__icon icon-wrap__icon_hov"
                       md-font-set="material-icons">close</md-icon>
            </md-button>
          </form>
        </div>

      </md-toolbar>

      <md-tabs class="ng-cloak toolbar-wrap__toolbar" ng-if="nc.showTabs()" md-stretch-tabs md-center-tabs="true"
               md-selected="nc.currentTab" hide-xs>
        <md-tab ng-repeat="tab in nc.selected.tabs" id="{{::tab.label}}" md-on-select="nc.changeTab()"
                aria-controls="tab1-content">{{::tab.label}}</md-tab>
      </md-tabs>

      <div ng-cloak layout="row" ng-if="nc.showTabs() && $mdMedia('xs')">
        <md-input-container class="toolbar-wrap__toolbar_min">
          <label></label>
          <md-select aria-label="" ng-model="nc.currentTab" placeholder=""
                     class="md-title md-no-underline" md-on-close="nc.changeTab()">
            <md-option ng-value="{{::$index}}" ng-repeat="tab in nc.selected.tabs" ng-bind="::tab.label">
            </md-option>
          </md-select>
        </md-input-container>
      </div>

    </header>

    <md-content class="right-main-content__content" layout="column">
      <div ng-if="!nc.hasError" flex>
        <div layout="column" ng-show="$rootScope.showProgress" class="ng-hide content-view">
          <div layout="row" layout-align="center center" flex>
            <md-progress-circular md-diameter="60"></md-progress-circular>
          </div>
        </div>
        <div ng-hide="$rootScope.showProgress && nc.answered" class="content-view" ng-view></div>
      </div>
      <div ng-if="nc.hasError">
        <div ng-include="'/public/html/error.html'"></div>
      </div>
    </md-content>

  </div>
</div>

<md-button ng-show="$rootScope.addNewButton" class="ng-cloak md-fab md-primary md-fab-bottom-right"
           ng-click="$rootScope.$broadcast('addNewButtonClick', $event);">
  <md-tooltip md-direction="top" md-delay="200">Добавить публикацию</md-tooltip>
  <md-icon md-font-set="material-icons">add</md-icon>
</md-button>

<script>
  !function(e,t,r){function n(){for(;d[0]&&"loaded"==d[0][f];)c=d.shift(),c[o]=!i.parentNode.insertBefore(c,i)}for(var s,a,c,d=[],i=e.scripts[0],o="onreadystatechange",f="readyState";s=r.shift();)a=e.createElement(t),"async"in i?(a.async=!1,e.head.appendChild(a)):i[f]?(d.push(a),a[o]=n):e.write("<"+t+' src="'+s+'" defer></'+t+">"),a.src=s}(document,"script",[
    "/public/js/lib/ext-lib.min.js",
    "/public/js/lib/emojione_2.2.6.min.js",
    "/public/js/lib/moment.min.js",
    "/public/js/angular/angular.min.js",
    "/public/js/angular/angular-material.min.js",
    "/public/js/angular-lib/ext-angular-lib.min.js",
    "/public/js/angular-lib/angular-google-maps.min.js",
    "//cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.12/js/perfect-scrollbar.jquery.min.js",
    "//vk.com/js/api/openapi.js?147",
    "/public/js/pingvin.min.js?v=abv4q1417"
  ])
</script>
<script>
  (function () {
    function loadCss(filename) {
      var l = document.createElement('link');
      l.rel = 'stylesheet';
      l.href = filename;
      var h = document.getElementsByTagName('head')[0];
      h.parentNode.insertBefore(l, h);
    }
    function cb() {
      loadCss("//fonts.googleapis.com/css?family=Bad+Script");
      loadCss("//fonts.googleapis.com/icon?family=Material+Icons");
    }
    document.addEventListener("DOMContentLoaded", cb);
  }());
</script>
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
    a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-97001056-1', 'auto');
  ga('send', 'pageview');
</script>
<script>
  (function (d, w, c) {
    (w[c] = w[c] || []).push(function () {
      try {
        w.yaCounter44069299 = new Ya.Metrika({
          id: 44069299,
          clickmap: true,
          trackLinks: true,
          accurateTrackBounce: true,
          webvisor: true,
          trackHash: true
        });
      } catch (e) {
      }
    });
    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () {
          n.parentNode.insertBefore(s, n);
        };
    s.type = "text/javascript";
    s.async = true;
    s.src = "https://mc.yandex.ru/metrika/watch.js";
    if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
    } else {
      f();
    }
  })(document, window, "yandex_metrika_callbacks");
</script>
<noscript>
  <div>
    <img src="https://mc.yandex.ru/watch/44069299" style="position:absolute; left:-9999px;" alt=""/>
  </div>
</noscript>
</body>
</html>

