<div layout="row" class="like-panel">
  <md-button class="md-icon-button like-panel__like-btn like-btn" aria-label="Like"
             ng-click="$ctrl.postLike();$event.stopPropagation()">
    <md-icon ng-class="$ctrl.post.is_like === true ? 'like-btn__icon_liked' : ''"
             class="like-btn__icon like-btn__icon_hov"
             md-font-set="material-icons">favorite</md-icon>
  </md-button>
  <p class="like-panel__text md-body-2" ng-bind="$ctrl.post.like"></p>
  <md-button class="md-icon-button like-panel__dislike-btn like-btn" aria-label="Dislike"
             ng-click="$ctrl.postDislike();$event.stopPropagation()">
    <md-icon ng-class="$ctrl.post.is_like === false ? 'dislike-btn__icon_disliked' : ''"
             class="dislike-btn__icon dislike-btn__icon_hov"
             md-font-set="material-icons">favorite_border</md-icon>
  </md-button>
  <p class="like-panel__text" ng-bind="$ctrl.post.dislike"></p>
  <md-button class="md-icon-button like-panel__helpers-btn helpers-btn" aria-label="Helpers"
             ng-click="$ctrl.showHelpers();$event.stopPropagation()">
    <md-icon ng-class="$ctrl.post.is_help === true ? 'helpers-btn__icon_helped' : ''"
             class="helpers-btn__icon helpers-btn__icon_hov"
             md-font-set="material-icons">people</md-icon>
  </md-button>
  <p class="like-panel__text" ng-bind="$ctrl.post.helpers"></p>

  <div class="like-panel__helpers-block" layout="row">
    <div layout="row" layout-align="center center"
         class="like-panel-helper {{'like-panel-helper-' + $index}}"
         ng-repeat="h in ::$ctrl.post.lhelpers track by ::$index">
      <div ng-click="$ctrl.openUser(h);$event.preventDefault();">
        <a ng-href="{{'/user/' + h.user_id + '/'}}" class="like-panel-helper-img-wrap">
          <div class="frame-round">
            <div class="crop">
              <img ng-src="{{::$ctrl.getUMinUrl(h.url, h.type)}}" alt="{{::$ctrl.fullName(h)}}">
            </div>
          </div>
        </a>
        <md-tooltip md-delay="200" ng-bind="::$ctrl.fullName(h)"></md-tooltip>
      </div>
    </div>
  </div>

  <div flex> </div>

  <md-button class="md-icon-button like-panel__share-btn icon-wrap" aria-label="Share"
             ng-click="$ctrl.showShare();$event.stopPropagation()">
    <md-icon md-font-set="material-icons" class="icon-wrap__icon icon-wrap__icon_hov">share</md-icon>
  </md-button>
</div>
