<md-dialog aria-label="Войти в Pingvin" class="signup">
  <form role="form" name="loginDlgForm" autocomplete="off" novalidate ng-submit="loginDlgForm.$valid && $ctrl.login()">
    <md-toolbar class="signup__toolbar" md-whiteframe="1">
      <div class="md-toolbar-tools">
        <h2>Войти в Pingvin</h2>
        <span flex></span>
        <md-button class="md-icon-button icon-wrap" ng-click="cancel()">
          <md-icon md-font-set="material-icons" aria-label="Close dialog"
                   class="icon-wrap__icon icon-wrap__icon_hov">clear</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content class="signup__content" layout="column" style="max-height: 100%;">

      <div ng-include="'/public/html/login-common.html'"></div>

      <div layout="row">
        <md-input-container class="menu-login__input md-block" flex>
          <label>Электронная почта</label>
          <input ng-model="user.email" type="email" name="email" ng-change="$ctrl.clear()"
                 maxlength="256" required md-no-asterisk>
          <div ng-messages="loginDlgForm.email.$error" role="alert">
            <div ng-message="email">Электронная почта не валидна</div>
            <div ng-message="required">Это поле обязательно для заполнения</div>
            <div ng-message="maxlength">Превышена максимальная длина описания. Максимальная длина 256 символов</div>
          </div>
        </md-input-container>
      </div>

      <div layout="row">
        <md-input-container class="menu-login__input md-block" flex>
          <label>Пароль</label>
          <input ng-model="user.password" type="password" name="password" ng-change="$ctrl.clear()"
                 minlength="1" required md-no-asterisk>
          <div ng-messages="loginDlgForm.password.$error" role="alert">
            <div ng-message="required">Это поле обязательно для заполнения</div>
            <div ng-message="minlength">Минимальная длина пароля 8 символов</div>
          </div>
        </md-input-container>
      </div>

      <div class="menu-login__text error md-caption" ng-bind="$ctrl.merrorMessage"></div>

      <div class="md-body-1" style="text-align: center">У вас еще нет учетной записи ?
        <a class="link link_blue link_b" ng-href="{{::$ctrl.signupUrl}}"> Зарегистрироваться »</a>
      </div>

    </md-dialog-content>

    <md-dialog-actions layout-margin>
      <div flex></div>
      <md-button ng-click="cancel()">Отмена</md-button>
      <md-button class="md-primary md-raised" type="submit">Войти</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>