<form role="form" name="loginForm" autocomplete="off" novalidate
      ng-submit="loginForm.$valid && $ctrl.login()">
  <div class="menu-login" layout="column">
    <!--<div class="menu-login__text md-caption">Уже зарегистрированы?</div>-->

    <div ng-include="'/public/html/login-common.html'"></div>

    <div layout="row">
      <md-input-container class="menu-login__input md-block" flex>
        <label>Электронная почта</label>
        <input ng-model="user.email" type="email" name="email" ng-change="$ctrl.clear()"
               maxlength="256" required md-no-asterisk>
        <div ng-messages="loginForm.email.$error" role="alert">
          <div ng-message="email">Электронная почта не валидна</div>
          <div ng-message="required">Это поле обязательно для заполнения</div>
          <div ng-message="maxlength">Превышена максимальная длина. Максимальная длина 256 символов</div>
        </div>
      </md-input-container>
    </div>

    <div layout="row">
      <md-input-container class="menu-login__input md-block" flex>
        <label>Пароль</label>
        <input ng-model="user.password" type="password" name="password" ng-change="$ctrl.clear()"
               minlength="1" required md-no-asterisk>
        <div ng-messages="loginForm.password.$error" role="alert">
          <div ng-message="required">Это поле обязательно для заполнения</div>
          <div ng-message="minlength">Минимальная длина пароля 8 символов</div>
        </div>
      </md-input-container>
    </div>

    <div class="menu-login__text error md-caption" ng-bind="$ctrl.merrorMessage"></div>

    <div class="menu-login__text">
      <a class="md-caption link link_blue" ng-href="{{$ctrl.forgotUrl}}">Забыли пароль?</a>
    </div>


    <md-button md-prevent-menu-close="md-prevent-menu-close" type="submit"
               class="menu-login__btn md-raised md-primary" >Войти</md-button>
    <md-button class="menu-login__btn" ng-href="{{$ctrl.signupUrl}}">Регистрация</md-button>
  </div>
</form>