<div class="menu-login__text">
  <span class="md-caption">Войти с помощью социальных сетей</span>
</div>

<div layout="row" class="menu-login__social">
  <md-button md-prevent-menu-close="md-prevent-menu-close" class="md-icon menu-login-social-btn"
             aria-label="Vk" ng-click="$ctrl.social.vk();$mdMenu.hide()">
    <img class="menu-login-social-btn__img" src="/public/img/VK.png" alt="Vk">
  </md-button>
  <md-button md-prevent-menu-close="md-prevent-menu-close" class="md-icon menu-login-social-btn"
             aria-label="Facebook" ng-click="$ctrl.social.fb();$mdMenu.hide()">
    <img class="menu-login-social-btn__img" src="/public/img/Facebook.png" alt="Facebook">
  </md-button>
  <md-button md-prevent-menu-close="md-prevent-menu-close" class="md-icon menu-login-social-btn"
             aria-label="GooglePlus" ng-click="$ctrl.social.gp();$mdMenu.hide()">
    <img class="menu-login-social-btn__img" src="/public/img/GooglePlus.png" alt="GooglePlus">
  </md-button>
</div>

<div class="menu-login__text">
  <span class="md-caption">Или</span>
</div>
