<div class="p-content">
  <div class="pingvin-info">
    <div layout-gt-xs="row" layout-xs="column" layout-align-gt-xs="center start">
      <div class="pingvin-info__promo promo" flex>
        <div layout="column">
          <div style="text-align: center;">
            <div class="pingvin-info__logo">Pingvin</div>
            <div class="md-headline pingvin-info__logo-description">поможет Вам</div>

            <div class="md-headline pingvin-info__description1">
              C Pingvin Вы сможете найти помощников в любой области и помогать людям, которые ищут помощь
            </div>
            <div layout="row">
              <a class="md-button md-raised" href="/posts/" flex>К объявлениям</a>
              <a class="md-button md-raised" href="/help/" flex>К примерам</a>
            </div>
          </div>
        </div>
      </div>

      <div flex-gt-sm="40" flex>
        <div class="pingvin-info__login md-whiteframe-z1">
          <login-form></login-form>
        </div>
      </div>
    </div>

    <div class="promo-block">
      <div class="pingvin-info__description md-headline">Сайт оптимизирован для любых устройств</div>
      <div>
        <img class="promo__img" src="/public/img/mp_bm1.png" alt="Pingvin.online на разных устройствах">
      </div>
    </div>

    <div class="promo-block">
      <div class="pingvin-info__description md-headline">Что вы можете делать с Pingvin?</div>
      <div>
        <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols="3" md-row-height="350px" class="ng-cloak">
          <md-grid-tile ng-repeat="item in ::$ctrl.items1 track by ::$index" class="p-info-tile-wrap">
              <div class="p-info-tile">
                <div class="promo-block__img-wrap">
                  <img class="promo-block__img" ng-src="/public/img/{{::item.img}}" alt="картинка для лэндинга">
                </div>
                <div class="promo-block__title md-title" ng-bind="::item.header"></div>
                <div class="promo-block__text md-subhead" ng-bind="::item.text"></div>
              </div>
          </md-grid-tile>
        </md-grid-list>
      </div>
    </div>

    <div class="promo-block">
      <div class="pingvin-info__description md-headline">Почему Вы должны переходить на Pingvin?</div>
      <div>
        <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols="3" md-row-height="350px" class="ng-cloak">
          <md-grid-tile ng-repeat="item in ::$ctrl.items2 track by ::$index" class="p-info-tile-wrap">
            <div class="p-info-tile">
              <div class="promo-block__img-wrap">
                <img class="promo-block__img" ng-src="/public/img/{{::item.img}}" alt="картинка для лэндинга">
              </div>
              <div class="promo-block__title md-title" ng-bind="::item.header"></div>
              <div class="promo-block__text md-subhead" ng-bind="::item.text"></div>
            </div>
          </md-grid-tile>
        </md-grid-list>
      </div>
    </div>

    <div class="promo-block">
      <div class="pingvin-info__description md-headline">Присоединяйтесь к сообществу Pingvin сейчас.</div>
      <div>
      </div>
    </div>
  </div>
</div>
<div ng-include="'public/html/footer.html'"></div>

</div>
<div ng-include="'public/html/vk-widget.html'"></div>