<md-dialog aria-label="Add new motivation" class="post-new-addition" md-no-ink>
  <form role="form" name="postNewMotivationForm" autocomplete="off" novalidate
        ng-submit="postNewMotivationForm.$valid && $ctrl.save()">
    <md-toolbar class="post-new-addition__toolbar" md-whiteframe="1">
      <div class="md-toolbar-tools">
        <h2 ng-bind="::$ctrl.header"></h2>
        <span flex></span>
        <md-button class="md-icon-button icon-wrap" ng-click="cancel()">
          <md-icon md-font-set="material-icons" class="icon-wrap__icon icon-wrap__icon_hov"
                   aria-label="Close add post">clear
          </md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content layout="column" class="post-new-addition__content post-new-addition-content">

      <span class="secondarily post-new-addition-content__hint" ng-bind="::$ctrl.text"></span>

      <md-divider></md-divider>

      <div class="post-new-addition-content__block">
        <md-radio-group ng-model="$ctrl.condition.type">

          <div layout="row" class="post-new-motivation-radio-row">
            <md-radio-button value="1" class="md-primary">Благодарность</md-radio-button>
            <span hide ng-if="$ctrl.condition.type==1">{{$ctrl.condition.money='';$ctrl.condition.other='';}}</span>
          </div>

          <div layout="row" layout-align="start center" class="post-new-motivation-radio-row">
            <div flex="35">
              <md-radio-button value="2" class="md-primary">Деньги</md-radio-button>
              <span hide ng-if="$ctrl.condition.type==2">{{$ctrl.condition.other='';}}</span>
            </div>
            <div flex-xs="30" flex>
              <div layout="row" layout-align="start start">
                <div layout="row" flex>
                  <md-input-container flex>
                    <input ng-disabled="$ctrl.condition.type!=2" ng-required="$ctrl.condition.type==2"
                           ng-model="$ctrl.condition.money" name="money" type="number" placeholder="Cумма"
                           required md-no-asterisk min="50">
                    <div ng-messages="postNewMotivationForm.money.$error" role="alert">
                      <div ng-message="required">Это поле обязательно для заполнения</div>
                      <div ng-message="min">Минимальная сумма 50 рублей.</div>
                    </div>
                  </md-input-container>
                </div>
                <span class="post-new-motivation-currency">руб.</span>
              </div>
            </div>
            <div flex></div>

          </div>

          <div layout="row" layout-align="start center" class="post-new-motivation-radio-row">
            <div layout="column" flex="35">
              <md-radio-button value="3" class="md-primary">Другое</md-radio-button>
              <span hide ng-if="$ctrl.condition.type==3">{{$ctrl.condition.money='';}}</span>
            </div>
            <div layout="column" flex>
              <div layout="row">
                <md-input-container class="reset-mp" flex>
                  <input ng-disabled="$ctrl.condition.type!=3" ng-required="$ctrl.condition.type==3"
                         name="other" ng-model="$ctrl.condition.other" placeholder="Другая мотивация"
                         required md-no-asterisk maxlength="128" minlength="8">
                  <div ng-messages="postNewMotivationForm.other.$error" role="alert">
                    <div ng-message="required">Это поле обязательно для заполнения</div>
                    <div ng-message="maxlength">Превышена максимальная длина описания. Максимальная длина 128
                      символов
                    </div>
                    <div ng-message="minlength">Слишком маленькая длина описания. Напишите полное описание</div>
                  </div>
                </md-input-container>
              </div>
            </div>
          </div>

        </md-radio-group>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout-margin layout="row">
      <div flex></div>
      <md-button ng-click="cancel()">Отмена</md-button>
      <md-button class="md-primary md-raised" type="submit">{{::$ctrl.okBtnName}}</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>