<!--http://jsfiddle.net/danialfarid/0mz6ff9o/135/-->
<md-dialog aria-label="Add new style" class="post-new-addition" md-no-ink>
  <md-toolbar class="post-new-addition__toolbar" md-whiteframe="1">
    <div class="md-toolbar-tools">
      <h2>Добавить оформление</h2>
      <span flex></span>
      <md-button class="md-icon-button icon-wrap" ng-click="cancel()">
        <md-icon md-font-set="material-icons" class="icon-wrap__icon icon-wrap__icon_hov"
                 aria-label="Close add post">clear</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content class="icon-wrap__content post-new-addition__content" layout="column">

    <span class="secondarily post-new-addition-content__hint">
      Вы можете указать цвет для фона публикации или загрузить изображение
    </span>

    <md-divider></md-divider>

    <div class="post-new-addition-content__block">
      <md-radio-group ng-model="$ctrl.current" ng-change="$ctrl.change($ctrl.current)">

        <md-radio-button value="color" class="md-primary">Выбрать цвет</md-radio-button>
        <md-radio-button value="image" class="md-primary">Загрузить фото</md-radio-button>

      </md-radio-group>
      <div ng-show="$ctrl.isLoad" class="post-new-header-area">
        <div class="slide-toggle post-new-addition-content" layout="column" ng-show="$ctrl.color">

          <span class="secondarily post-new-addition-content__hint">
            Кликните по цвету, который вам нравится
          </span>

          <div class="post-new-addition-content__block">
            <md-grid-list md-cols="3" md-row-height="1:1" md-gutter="20px" md-gutter-xs="8px">

              <md-grid-tile ng-repeat="i in $ctrl.getNumber(6) track by $index"
                            ng-click="$ctrl.colorSelect($index + 1)"
                            class="{{:: 'style' + ($index + 1) }}"
                            ng-class="$ctrl.currCol === ($index + 1) ? 'post-new-color_selected' : 'post-new-color'">
              </md-grid-tile>
            </md-grid-list>
          </div>
        </div>
        <div class="slide-toggle" ng-show="$ctrl.image">
          <img-crop-region type="{{::$ctrl.type}}" pic-file="$ctrl.picFile" crop-coords="$ctrl.cropCoords"
                           progress="$ctrl.progress" loading="$ctrl.loadimg" hide-xs hide-sm>
          </img-crop-region>
          <span hide-gt-sm class="secondarily">Для мобильных устройств загрузка пока не поддерживается.</span>
        </div>
      </div>
    </div>

    <div class="error" ng-show="$ctrl.error.show" ng-bind="$ctrl.error.msg"></div>

  </md-dialog-content>
  <md-dialog-actions layout-margin  layout="row">
    <div flex></div>
    <md-button ng-click="cancel()">Отмена</md-button>
    <md-button class="md-primary md-raised" ng-click="$ctrl.save()">Добавить</md-button>
  </md-dialog-actions>

</md-dialog>