<md-dialog class="post-new" aria-label="Add new post" md-no-ink>
  <form role="form" name="postNewForm" autocomplete="off" novalidate
        ng-submit="postNewForm.$valid && $ctrl.addNewPost()">
    <md-toolbar class="post-new__toolbar" md-whiteframe="1">
      <div class="md-toolbar-tools">
        <h2 ng-bind="::$ctrl.dialogTitle"></h2>
        <span flex></span>
        <md-button class="md-icon-button icon-wrap" ng-click="cancel()">
          <md-icon md-font-set="material-icons" class="icon-wrap__icon icon-wrap__icon_hov"
                   aria-label="Close add post">clear
          </md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content class="post-new__content">

      <div>
        <div layout="row">
          <md-input-container flex>
            <label>Заголовок</label>
            <input ng-model="$ctrl.post.header" required md-no-asterisk maxlength="64" name="header">
            <div ng-messages="postNewForm.header.$error" role="alert">
              <div ng-message="required">Это поле обязательно для заполнения</div>
              <div ng-message="maxlength">Превышена максимальная длина. Максимальная длина 64 символов</div>
            </div>
          </md-input-container>
        </div>
      </div>


      <div>
        <div layout="row">
          <md-input-container flex>
            <label>Описание</label>
          <textarea ng-model="$ctrl.post.text" required md-no-asterisk
                    minlength="8" maxlength="2048" rows="1" cols="45" name="text"
                    class="post-new-textarea">
          </textarea>
            <div ng-messages="postNewForm.text.$error" role="alert">
              <div ng-message="required">Это поле обязательно для заполнения</div>
              <div ng-message="maxlength">Превышена максимальная длина. Максимальная длина 2048 символов</div>
              <div ng-message="minlength">Слишком маленькая длина. Напишите полное описание</div>
            </div>
          </md-input-container>
        </div>
      </div>


      <div ng-if="::$ctrl.isEvent">
        <div layout="row">
          <md-input-container flex>
            <label>Организация</label>
            <input ng-model="$ctrl.post.organization" required md-no-asterisk
                   maxlength="256" name="organization">
            <div ng-messages="postNewForm.organization.$error" role="alert">
              <div ng-message="required">Это поле обязательно для заполнения</div>
              <div ng-message="maxlength">Превышена максимальная длина. Максимальная длина 256 символов</div>
            </div>
          </md-input-container>
        </div>

        <div>
          <div class="md-body-1 post-new-helpers-count">Требуется помощников</div>
          <md-slider-container style="padding-left: 2px;">

            <md-slider flex min="1" max="50" ng-model="$ctrl.post.req_helpers"
                       aria-label="number of helpers" id="red-slider" class="md-primary">
            </md-slider>
            <md-input-container flex>
              <input type="number" min="1" max="50" ng-model="$ctrl.post.req_helpers"
                     name="reqHelpers" aria-label="number of helpers">
            </md-input-container>
          </md-slider-container>
        </div>
      </div>

      <div class="md-body-1">
        <div class="secondarily">
          По умолчанию мотивация будет установлена как благодарность, а дата актуальности - один месяц.
        </div>

        <div ng-if="$ctrl.post.hasOwnProperty('condition')" layout="row" layout-align="center center">
          <div layout="row" layout-align="center center" class="icon-wrap">
            <md-icon md-font-set="material-icons" class="post-new-icon-addable icon-wrap__icon"
                     aria-label="Add motivation">
              <md-tooltip md-direction="top" md-delay="200">Мотивация</md-tooltip>
              swap_horiz
            </md-icon>
            <span>Мотивация <span ng-bind="$ctrl.motivation()"></span></span>
          </div>
          <div flex></div>
          <md-button class="md-icon-button icon-wrap" ng-click="$ctrl.clearCondition()">
            <md-tooltip md-delay="200">Удалить</md-tooltip>
            <md-icon md-font-set="material-icons" class="icon-wrap__icon icon-wrap__icon_hov"
                     aria-label="Clear location">clear
            </md-icon>
          </md-button>
        </div>

        <div ng-if="$ctrl.post.hasOwnProperty('date_end')" layout="row" layout-align="center center">
          <div layout="row" layout-align="center center" class="icon-wrap">
            <md-icon md-font-set="material-icons" class="post-new-icon-addable icon-wrap__icon"
                     aria-label="Add date end">
              <md-tooltip md-direction="top" md-delay="200">Дата завершения актуальности</md-tooltip>
              date_range
            </md-icon>
            <span>Объявление актуалено до <span ng-bind="::$ctrl.post.date_end"></span></span>
          </div>
          <div flex></div>
          <md-button class="md-icon-button icon-wrap" ng-click="$ctrl.clearDate()">
            <md-tooltip md-delay="200">Удалить</md-tooltip>
            <md-icon md-font-set="material-icons" class="icon-wrap__icon icon-wrap__icon_hov"
                     aria-label="Clear location">clear
            </md-icon>
          </md-button>
        </div>


        <div ng-if="$ctrl.post.hasOwnProperty('location')" layout="row" layout-align="center center">
          <md-tooltip md-direction="top" md-delay="200" ng-bind="$ctrl.post.location.address"></md-tooltip>
          <div layout="row" layout-align="center center" class="icon-wrap">
            <md-icon md-font-set="material-icons" class="post-new-icon-addable icon-wrap__icon"
                     aria-label="Add location">add_location
            </md-icon>
            <span class="post-new-location-label" ng-bind="$ctrl.post.location.address"></span>
          </div>
          <div flex></div>
          <md-button class="md-icon-button icon-wrap" ng-click="$ctrl.clearLocation()">
            <md-tooltip md-delay="200">Удалить</md-tooltip>
            <md-icon md-font-set="material-icons" class="icon-wrap__icon icon-wrap__icon_hov"
                     aria-label="Clear location">clear
            </md-icon>
          </md-button>
        </div>

        <div ng-if="$ctrl.post.hasOwnProperty('category')" layout="row" layout-align="center center">
          <div layout="row" layout-align="center center" class="icon-wrap">
            <md-icon md-font-set="material-icons" class="post-new-icon-addable icon-wrap__icon"
                     aria-label="Add location">widgets
              <md-tooltip md-direction="top" md-delay="200">Категория</md-tooltip>
            </md-icon>
            <span>Категория: <span ng-bind="$ctrl.getTitle($ctrl.post.category)"></span></span>
          </div>
          <div flex></div>
          <md-button class="md-icon-button icon-wrap" ng-click="$ctrl.clearCategory()">
            <md-tooltip md-delay="200">Удалить</md-tooltip>
            <md-icon md-font-set="material-icons" class="icon-wrap__icon icon-wrap__icon_hov"
                     aria-label="Clear category">clear
            </md-icon>
          </md-button>
        </div>


        <div ng-include="'public/html/post-new-style-line.html'"></div>


      </div>


      <div layout="row" class="post-new-additionally-buttons">

        <md-button class="md-icon-button icon-wrap post-new-additionally-first-btn" ng-click="$ctrl.showMap($event)">
          <md-tooltip md-delay="200">Добавить геолокацию</md-tooltip>
          <md-icon md-font-set="material-icons" aria-label="Add location"
                   class="icon-wrap__icon icon-wrap__icon_hov">add_location
          </md-icon>
        </md-button>

        <md-button class="md-icon-button icon-wrap" ng-click="$ctrl.showMotivat($event)">
          <md-tooltip md-delay="200">Добавить мотивацию</md-tooltip>
          <md-icon md-font-set="material-icons" class="icon-wrap__icon icon-wrap__icon_hov"
                   aria-label="Add motivation">swap_horiz
          </md-icon>
        </md-button>

        <md-button class="md-icon-button icon-wrap" ng-click="$ctrl.showCategory($event)">
          <md-tooltip md-delay="200">Добавить категорию</md-tooltip>
          <md-icon md-font-set="material-icons" class="icon-wrap__icon icon-wrap__icon_hov"
                   aria-label="Add category">widgets
          </md-icon>
        </md-button>


        <md-button class="md-icon-button icon-wrap" ng-click="$ctrl.showDate($event)">
          <md-tooltip md-delay="200">Добавить дату</md-tooltip>
          <md-icon md-font-set="material-icons" class="icon-wrap__icon icon-wrap__icon_hov"
                   aria-label="Add Date">date_range
          </md-icon>
        </md-button>

        <md-button hide-sm class="md-icon-button icon-wrap" ng-click="$ctrl.showHStyle($event)">
          <md-tooltip md-delay="200">Добавить оформление</md-tooltip>
          <md-icon md-font-set="material-icons" class="icon-wrap__icon icon-wrap__icon_hov"
                   aria-label="Add Date">color_lens
          </md-icon>
        </md-button>

      </div>


    </md-dialog-content>

    <md-dialog-actions layout-margin>
      <div flex></div>
      <md-button ng-click="cancel()">Отмена</md-button>
      <md-button class="md-primary md-raised" type="submit">Опубликовать</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
