<md-dialog aria-label="Add new date" class="post-new-addition">
  <form role="form" name="postNewDateForm" autocomplete="off" novalidate
        ng-submit="postNewDateForm.$valid && $ctrl.save()">
    <md-toolbar class="post-new-addition__toolbar" md-whiteframe="1">
      <div class="md-toolbar-tools">
        <h2>Добавить дату</h2>
        <span flex></span>
        <md-button class="md-icon-button icon-wrap" ng-click="cancel()">
          <md-icon md-font-set="material-icons" class="icon-wrap__icon icon-wrap__icon_hov"
                   aria-label="Close add post">clear
          </md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content layout="column" class="post-new-addition__content post-new-addition-content">

      <span class="secondarily post-new-addition-content__hint">
        Когда нужна помощь?
        Выбирете дату.
        Когда публикация станет не актуальна, то она перестанет отображаться в ленте
      </span>

      <md-divider></md-divider>

      <div class="post-new-addition-content__block" layout="row">
        <md-input-container flex>
          <label>Дата завершения</label>
          <md-datepicker flex ng-model="$ctrl.date_end" md-placeholder="Дата" required md-no-asterisk
                         name="date" md-min-date="$ctrl.minDate" md-max-date="$ctrl.maxDate">
          </md-datepicker>
          <div ng-messages="postNewDateForm.date.$error">
            <div ng-message="valid">Дата не валидна</div>
            <div ng-message="required">Это поле должно быть заполнено</div>
            <div ng-message="mindate">Дата должна быть больше</div>
            <div ng-message="maxdate">Дата должна быть меньше</div>
          </div>
        </md-input-container>
      </div>


    </md-dialog-content>

    <md-dialog-actions layout-margin layout="row">
      <div flex></div>
      <md-button ng-click="cancel()">Отмена</md-button>
      <md-button class="md-primary md-raised" type="submit">Добавить</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>