<md-card class="post-list-item post-list-item_hov" ng-click="$ctrl.detail($event, $ctrl.post.id);">
  <div class="post-list-item__header post-item-header">
    <div ng-if=":: !$ctrl.header" class="post-item-header__line" ng-class="::$ctrl.style">
    </div>
    <div ng-if="::$ctrl.header" class="post-item-header__block post-item-header-block">
      <div ng-if="::$ctrl.post.show_header">
        <div ng-if=":: !$ctrl.img" ng-class="::$ctrl.style"
             class="post-item-header-block__block">
          <span class="long-word" ng-bind="::$ctrl.post.header | cut:true:50"></span>
        </div>
        <div ng-if="::$ctrl.img" class="post-item-header-block__img image-container">
          <img imageonload ng-src="{{::$ctrl.img}}" class="image-container__img">
        </div>
      </div>
      <div ng-if=":: !$ctrl.post.show_header" class="post-item-header__line" ng-class="::$ctrl.style">
      </div>
    </div>
  </div>

  <md-card-title class="post-list-item__title post-item-title">
    <md-card-title-text class="post-item-title__text">
      <div layout="row" class="post-item-title__icons post-title-icons">
        <div ng-if=":: !$ctrl.post.is_actually" class="post-title-icons__icon">
          <md-tooltip md-delay="200">Публикация неактуальна</md-tooltip>
          <md-icon class="post-title-icons__icon_done" md-font-set="material-icons">done</md-icon>
        </div>
        <div ng-if="::$ctrl.post.is_moderated" class="post-title-icons__icon">
          <md-tooltip md-delay="200">Одобрено администратором</md-tooltip>
          <md-icon class="post-title-icons__icon_moderated" md-font-set="material-icons">check_circle</md-icon>
        </div>
        <div ng-if=":: $ctrl.activity && $ctrl.post.type==1" layout="row">
          <div ng-show=":: !$ctrl.post.is_moderated" class="post-title-icons__icon icon-wrap">
            <md-tooltip md-delay="200">Не модерировано</md-tooltip>
            <md-icon class="icon-wrap__icon" md-font-set="material-icons">access_time</md-icon>
          </div>
          <div class="post-title-icons__icon icon-wrap">
            <md-tooltip md-delay="200">Событие</md-tooltip>
            <md-icon class="icon-wrap__icon" md-font-set="material-icons">event</md-icon>
          </div>
        </div>
        <div flex></div>
        <div class="md-caption secondarily post-title-icons__distance-text"
             ng-bind="::$ctrl.fromatDist($ctrl.post.distance)">
        </div>
      </div>
      <div class="md-headline long-word" ng-bind="::$ctrl.post.header | cut:true:64"></div>
    </md-card-title-text>
  </md-card-title>

  <md-card-content class="post-list-item__content md-body-1">
    <p ng-if="::$ctrl.header" class="long-word" ng-bind="::$ctrl.post.text | cut:true:256"></p>
    <p ng-if=":: !$ctrl.header" class="long-word" ng-bind="::$ctrl.post.text | cut:true:512"></p>
  </md-card-content>

  <md-divider></md-divider>

  <md-card-header class="post-list-item__footer">
    <md-card-avatar class="avatar-min">
      <div class="frame-round">
        <div class="crop">
          <img ng-src="{{::$ctrl.userAva}}" alt="фотография">
        </div>
      </div>
    </md-card-avatar>
    <md-card-header-text class="post-item-footer">
      <span ng-click="$ctrl.openUser($ctrl.creator);$event.preventDefault();">
        <a ng-href="/user/{{::$ctrl.creator.id}}/"
           class="post-item-footer__user-name link link_blue" ng-bind="::$ctrl.nameCreator"></a>
        </span>
      <span class="post-item-footer__time" ng-bind="::$ctrl.fdate($ctrl.post.created)"></span>
    </md-card-header-text>
  </md-card-header>

  <md-card-actions layout="row" class="post-list-item__action">
    <md-card-icon-actions>
      <post-like-panel flex post="$ctrl.post"></post-like-panel>
    </md-card-icon-actions>
  </md-card-actions>

</md-card>