<md-dialog aria-label="Add new post" class="post-new-addition">
  <md-toolbar class="post-new-addition__toolbar" md-whiteframe="1">
    <div class="md-toolbar-tools">
      <h2>Добавить местоположение</h2>
      <span flex></span>
      <md-button class="md-icon-button icon-wrap" ng-click="cancel()">
        <md-icon md-font-set="material-icons" class="icon-wrap__icon icon-wrap__icon_hov"
                 aria-label="Close add post">clear</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content layout="column" class="post-new-addition__content post-new-addition-content">
    <span class="secondarily post-new-addition-content__hint">
        Укажите привязку к месту, которой соответствует ваша публикация.
        Люди, которые нахдятся по близости помогут вам.
        Увеличьте скорость отклика.
    </span>

    <md-divider></md-divider>

    <div class="post-new-addition-content__block">
      <div ng-init="mctrl.isUse=true" ng-include="'/public/html/gmap.html'"></div>
    </div>

  </md-dialog-content>

  <md-dialog-actions layout-margin  layout="row">
    <div flex></div>
    <md-button ng-click="cancel()">Отмена</md-button>
    <md-button class="md-primary md-raised" ng-click="mctrl.save()">Добавить</md-button>
  </md-dialog-actions>

</md-dialog>