<md-dialog aria-label="Done help" class="post-done-help">
  <md-toolbar class="post-done-help__toolbar" md-whiteframe="1">
    <div class="md-toolbar-tools">
      <h2>Оставьте отзыв</h2>
      <span flex></span>
      <md-button class="md-icon-button icon-wrap" ng-click="cancel()">
        <md-icon md-font-set="material-icons"  class="icon-wrap__icon icon-wrap__icon_hov"
                 aria-label="Close">clear</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content class="post-done-help__content">

    <h5 class="md-subhead ng-cloak">
      Как вы оцениваете помощь {{::$ctrl.fullName($ctrl.helper.user)}} ?
    </h5>
    <div class="secondarily post-done-help-content__hint">
      Оцените оказанную помощь, это поможет в дальнейшем другим пользователям сервиса.
    </div>
    <div layout="row" layout-xs="column" class="post-done-help-rating"
         layout-align="start end" layout-align-xs="">
      <div class="post-done-help-rating__stars">
        <ng-rate-it ng-model="$ctrl.rating" step="1" resetable="false"
                    star-width="32" star-height="32" class="bigstar">
        </ng-rate-it>
      </div>
      <h5 class="md-title post-done-help-rating__text" ng-bind="$ctrl.ratingTitle($ctrl.rating)"></h5>
    </div>

    <div ng-show="$ctrl.isShowEditor">
      <div class="done-emoji-textarea-wrapper">
        <textarea ng-focus="true" id="post-done-help-textarea" placeholder="Написать комментарий.."></textarea>
      </div>
    </div>


  </md-dialog-content>
  <md-dialog-actions layout-margin layout="row">
    <div flex></div>
    <md-button ng-click="cancel()" >Отмена</md-button>
    <md-button class="md-primary md-raised" ng-click="$ctrl.addComment()">Оценить</md-button>
  </md-dialog-actions>

</md-dialog>
