<md-dialog class="post-detail-dialog" aria-label="Post detail" md-no-ink>
  <md-toolbar class="post-detail-dialog__toolbar" md-whiteframe="1">
    <div class="md-toolbar-tools">
      <h2 ng-bind="$ctrl.titlePost()"></h2>
      <span flex></span>
      <md-button class="md-icon-button icon-wrap" ng-click="cancel()">
        <md-icon class="icon-wrap__icon icon-wrap__icon_hov" md-font-set="material-icons"
                 aria-label="Close post">clear</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content class="post-detail-dialog__content" layout="row" flex>
    <div ng-if="!$ctrl.hasError" layout="column" flex>
      <div ng-if="$ctrl.isLoaded" layout="row" flex>
        <div flex layout="column" ng-show="!$mdMedia('gt-sm') ?  $ctrl.small.post : true" ng-cloak="">
          <div class="j-post-detail-content-wrap content-scroll">
            <article class="post-detail-content">
              <div layout="row" class="post-detail-content__header">
                <div layout="row" layout-align="space-between center" class="post-detail-content-header">
                  <div class="avatar-min">
                    <div class="frame-round">
                      <div class="crop">
                        <img ng-src="{{::$ctrl.userAva}}" alt="фотография">
                      </div>
                    </div>
                  </div>
                  <div layout="column">
                    <span class="post-detail-content-header__user-name">
                      <a ng-href="/user/{{::$ctrl.post.created_user.id}}/" class="link link_blue"
                         ng-bind="::$ctrl.name($ctrl.post.created_user)"></a>
                    </span>
                    <span class="secondarily" ng-bind="::$ctrl.fdate($ctrl.post.created)"></span>
                  </div>
                </div>
                <div flex></div>
                <div ng-if="$ctrl.isLog()" layout="row" class="ng-cloak">
                  <div ng-if=":: !$ctrl.isa">
                    <div ng-if="::$ctrl.post.is_actually">
                      <div>
                        <md-button ng-if="$ctrl.isShowBtn" ng-click="$ctrl.button.help()"
                                   class="md-primary rst_btn_upper btn_bold btn_minimize md-raised">
                          <md-icon md-font-set="material-icons">near_me</md-icon>
                          <span hide-xs>Откликнуться</span>
                        </md-button>
                        <md-button ng-if="$ctrl.isOwner" ng-click="$ctrl.button.close()"
                                   class="md-warn rst_btn_upper btn_bold btn_minimize">
                          <md-icon md-font-set="material-icons">close</md-icon>
                          <span hide-xs>Удалить</span>
                        </md-button>
                      </div>
                    </div>
                    <div ng-if=":: !$ctrl.post.is_actually">
                      <md-tooltip md-delay="200">Публикация неактуальна</md-tooltip>
                      <md-icon class="icon-wrap__icon" md-font-set="material-icons">done</md-icon>
                    </div>
                  </div>
                  <div ng-if="::$ctrl.isa">
                    <md-menu ng-if="::$ctrl.isa" ng-cloak md-position-mode="target-right target"
                             md-offset="0 50">
                      <md-button aria-label="Show menu" class="menu-btn menu-btn_not-upper"
                                 ng-click=" $mdMenu.open($event)">
                        <md-icon class="icon-wrap__icon icon-wrap__icon_hover"
                                 md-font-set="material-icons">more_vert</md-icon>
                      </md-button>
                      <md-menu-content class="user-menu__content" width="3">
                        <md-menu-item ng-if="$ctrl.isShowBtn && !$ctrl.isClosed">
                          <md-button ng-click="$ctrl.button.help()" class="icon-wrap">
                            <md-icon class="icon-wrap__icon icon-wrap__icon_hover"
                                     md-font-set="material-icons">near_me</md-icon>
                            <span hide-xs>Откликнуться</span>
                          </md-button>
                        </md-menu-item>
                        <md-menu-item ng-if=":: !$ctrl.isClosed">
                          <md-button class="icon-wrap" ng-click="$ctrl.button.close()"
                                     class="md-warn rst_btn_upper btn_bold btn_minimize">
                            <md-icon class="icon-wrap__icon icon-wrap__icon_hover"
                                     md-font-set="material-icons">close</md-icon>
                            <span hide-xs>Удалить</span>
                          </md-button>
                        </md-menu-item>
                        <md-menu-item ng-if="$ctrl.isModer">
                          <md-button class="icon-wrap" ng-click="$ctrl.button.moderated()">
                            <md-icon class="icon-wrap__icon icon-wrap__icon_hover"
                                     md-font-set="material-icons">done</md-icon>
                            <span hide-xs>Модерировано</span>
                          </md-button>
                        </md-menu-item>
                        <md-menu-item ng-if="$ctrl.isClosed">
                          <md-button class="icon-wrap" ng-click="$ctrl.button.cancelClose()">
                            <md-icon class="icon-wrap__icon icon-wrap__icon_hover"
                                     md-font-set="material-icons">cancel</md-icon>
                            <span hide-xs>Вернуть</span>
                          </md-button>
                        </md-menu-item>

                      </md-menu-content>
                    </md-menu>
                  </div>
                </div>
              </div>
              <h2 class="md-headline long-word" ng-bind="::$ctrl.post.header"></h2>
              <p class="md-body-1 long-word" ng-bind="::$ctrl.post.text"></p>
              <div class="post-detail-content__simple-params post-detail-simple-params">
                <div class="post-detail-simple-params__item" ng-if="::$ctrl.post.category">
                  <md-tooltip md-delay="200">Категория</md-tooltip>
                  <i class="post-detail-simple-params-item__icon material-icons">widgets</i>
              <span class="post-detail-simple-params-item__text" ng-bind="::$ctrl.title($ctrl.post.category)">
              </span>
                </div>
                <div class="post-detail-simple-params__item post-detail-simple-params-item" ng-if="::$ctrl.post.date_end">
                  <md-tooltip md-delay="200">Дата окончания</md-tooltip>
                  <i class="post-detail-simple-params-item__icon material-icons">date_range</i>
                  <span class="post-detail-simple-params-item__text" ng-bind="::$ctrl.post.date_end"></span>
                </div>
                <div class="post-detail-simple-params__item post-detail-simple-params-item">
                  <md-tooltip md-delay="200">Мотивация</md-tooltip>
                  <i class="post-detail-simple-params-item__icon material-icons">swap_horiz</i>
                  <span class="post-detail-simple-params-item__text" ng-bind="::$ctrl.getLabelCond().capitalize()"></span>
                </div>
                <div class="post-detail-simple-params__item post-detail-simple-params-item" ng-if="::$ctrl.isEvent">
                  <md-tooltip md-delay="200">Нужно помощников</md-tooltip>
                  <i class="post-detail-simple-params-item__icon material-icons">face</i>
                  <span class="post-detail-simple-params-item__text" ng-bind="::$ctrl.post.req_helpers"></span>
                </div>
                <div class="post-detail-simple-params__item post-detail-simple-params-item" ng-if="::$ctrl.isEvent">
                  <md-tooltip md-delay="200">Организация</md-tooltip>
                  <i class="post-detail-simple-params-item__icon material-icons">label</i>
                  <span class="post-detail-simple-params-item__text" ng-bind="::$ctrl.post.organization"></span>
                </div>
              </div>
              <div ng-if="$ctrl.post.location">
                <div class="post-detail-simple-params__item post-detail-simple-params-item">
                  <md-tooltip md-delay="200">Геолокация</md-tooltip>
                  <i class="post-detail-simple-params-item__icon material-icons">add_location</i>
                  <span class="post-detail-simple-params-item__text" ng-bind="::$ctrl.post.location.address"></span>
                </div>
                <div class="post-detail-geo-img-wrap">
                  <img map-load class="post-detail-geo-img-wrap__img"
                       ng-src="{{::$ctrl.mapUrl($ctrl.post.location.point)}}">
                </div>
              </div>
              <div layout="row" ng-hide="$mdMedia('gt-sm')" layout-align="center center">
                <md-button ng-click="$ctrl.smallShowCmnt()">Показать комментарии</md-button>
              </div>
            </article>
          </div>
          <div flex></div>
          <md-divider></md-divider>
          <post-like-panel class="post-detail-like-panel" show-helpers-castom="$ctrl.showHelpers"
                           post="$ctrl.post"></post-like-panel>
        </div>

        <div layout="column" ng-show="!$mdMedia('gt-sm') ?  $ctrl.small.comments : true"
             class="post-detail-comment-bl" ng-controller="postDetailComments as comments"
             ng-init="comments.init($ctrl.postId)">
          <div layout="column" class="ng-cloak" flex>
            <div layout="row" ng-hide="$mdMedia('gt-sm')" layout-align="center center">
              <md-button ng-click="$ctrl.smallShowPost()">Показать объявление</md-button>
            </div>

            <div flex layout="column" class="post-detail-comment-bl__list post-detail-comment-list-box content-scroll">
              <div layout="row" layout-align="center center" flex ng-if="!comments.isCmntLoad">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
              </div>
              <div layout="column" layout-align="center center" flex class="post-detail-comment-list-box__empty"
                   ng-if="comments.isCmntLoad && !comments.comments.length">
                <span class="secondarily">Пока нет комментариев к этому объявлению. Стань первым.</span>
              </div>
              <div ng-show="comments.isCmntLoad && comments.comments.length && comments.isVisible"
                   class="post-detail-comment-list-box__area post-detail-comment-area" flex ng-cloak>
                <div ng-if="comments.dataPcomments.list.hasNext()" flex class="post-detail-comment-area__btn-wrap">
                  <md-button ng-if="!comments.showMorePress" ng-click="comments.moreComments();"
                             class="rst_btn_upper post-detail-comment-btn-sh-more">Показать еще</md-button>
                  <div layout="row" layout-align="center center" flex ng-if="comments.showMorePress" >
                    <md-progress-circular md-mode="indeterminate" md-diameter="30"></md-progress-circular>
                  </div>
                </div>
                <md-list class="md-dense post-detail-comment-area__list">
                  <md-list-item class="md-3-line post-detail-comment-item"
                                ng-repeat="comment in comments.comments" id="pcomment-{{::comment.id}}">
                    <div class="md-avatar">
                      <div class="frame-round">
                        <div class="crop">
                          <img ng-src="{{::comments.avatar(comment.created_user)}}" alt="фотография">
                        </div>
                      </div>
                    </div>

                    <div class="md-list-item-text post-detail-comment-item__text-wrap" layout="column">
                      <div layout="row" layout-align="space-between center">
                  <span class="md-body-1">
                    <a class="link link_blue" ng-href="/user/{{::comment.created_user.id}}/"
                       ng-bind="::comments.getName(comment.created_user)">
                    </a>
                  </span>
                        <span class="secondarily" ng-bind="::comments.fdate(comment.created)"></span>
                      </div>
                      <span class="md-body-1 unicode-emojis long-word" ng-bind="::comment.text"></span>
                    </div>
                    <md-divider ng-show="!$last"></md-divider>
                  </md-list-item>
                </md-list>
                <div id="anchor-send-comment"></div>
              </div>

            </div>

            <div class="post-detail-comment-bl__btn-box">

              <div ng-show="!comments.isShowBtn">
                <md-input-container flex md-no-float class="post-detail-comment-input-emulate hide-error-msg md-block">
                  <input maxlength="0" ng-click="comments.clickToFakeInput()"
                         placeholder="Написать комментарий.." class="post-detail-comment-input-emulate__inp">
                </md-input-container>
              </div>

              <div ng-show="comments.isShowBtn" class="ng-hide">
                <div class="post-emoji-textarea-wrapper">
                  <textarea ng-focus="true" id="post-comment-textarea" placeholder="Написать комментарий.."></textarea>
                </div>
                <div layout="row">
                  <div flex></div>
                  <md-button class="rst_btn_upper" ng-click="comments.cancelComment()">Отмена</md-button>
                  <md-button class="md-primary md-raised rst_btn_upper"
                             ng-click="comments.addComment()">Отправить</md-button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div layout="row" ng-if="!$ctrl.isLoaded" class="post-detail-dialog-progress-wrap"
           layout-align="center center" flex>
        <md-progress-circular md-diameter="60"></md-progress-circular>
      </div>
    </div>
    <div ng-if="$ctrl.hasError" flex>
      <div ng-include="'/public/html/error.html'"></div>
    </div>

  </md-dialog-content>

</md-dialog>
