<md-dialog id="post-detail-helpers" aria-label="Helpers post" class="post-new-addition" style="width: 470px;">
  <md-toolbar class="post-new-addition__toolbar" md-whiteframe="1">
    <div class="md-toolbar-tools">
      <h2>Помощники</h2>
      <span flex></span>
      <md-button class="md-icon-button icon-wrap" ng-click="cancel()">
        <md-icon md-font-set="material-icons" class="icon-wrap__icon icon-wrap__icon_hov"
                 aria-label="Close">clear</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Предложения">
        <md-content class="helpers-help-offers post-new-addition__content">

          <div ng-if="!$ctrl.helpers.length" layout="column" layout-align="center center" class="helpers-help-offers">
            <md-progress-circular ng-if="$ctrl.floading" md-mode="indeterminate" md-diameter="50"></md-progress-circular>
            <span ng-if="!$ctrl.floading" class="secondarily helpers-help-offers-label">
              Здесь буду отображаться предложения о помощи. Пока предложений нет.
            </span>
          </div>

          <div ng-repeat="helper in $ctrl.helpers track by $index">
            <div layout="row" layout-align="center center" class="helpers-help-offers-row md-body-1">
              <div flex>
                <div layout="row">
                  <div class="avatar-min">
                    <div class="frame-round">
                      <div class="crop">
                        <img ng-src="{{::$ctrl.avatar(helper.user)}}" alt="фотография">
                      </div>
                    </div>
                  </div>
                  <div layout="column">
                    <a ng-href="/user/{{::helper.user.id}}/"
                       class="long-word link link_blue" ng-bind="::$ctrl.fullName(helper.user)"></a>
                    <span class="md-caption secondarily" ng-bind="::$ctrl.fdate(helper.created)"></span>
                    <span>Предлагает <span ng-bind="$ctrl.condition(helper.condition)"></span></span>
                  </div>
                </div>
              </div>

              <div class="helpers-help-offers-row__act-block helpers-help-offers-row-act">
                <md-button ng-if="$ctrl.isOwner && (helper.status == $ctrl.hStatus.newHelper ||
                helper.status == $ctrl.hStatus.updateCondition || helper.status == $ctrl.hStatus.cancelHelper)"
                           ng-click="$ctrl.selectHelper(helper)"
                           class="md-primary rst_btn_upper btn_minimize">Выбрать
                </md-button>

                <md-button ng-if="$ctrl.isOwn(helper.user) && helper.status != $ctrl.hStatus.selectHelper"
                           ng-click="$ctrl.updateCondition(helper)"
                           class="md-primary rst_btn_upper btn_minimize">Изменить
                </md-button>

                <div ng-if="helper.status == $ctrl.hStatus.selectHelper"
                     layout="row">
                  <md-menu ng-if="$ctrl.isOwner">
                    <md-button aria-label="" class="rst_btn_upper"
                               ng-click="$mdMenu.open($event)">
                      <span>Выбран</span>
                      <md-icon md-font-set="material-icons">more_vert</md-icon>
                    </md-button>
                    <md-menu-content width="2">
                      <md-menu-item>
                        <md-button ng-click="$ctrl.doneHelp(helper)">
                          <md-icon md-font-set="material-icons" aria-label="Done">done</md-icon>
                          Завершено
                        </md-button>
                      </md-menu-item>
                      <md-menu-item>
                        <md-button ng-click="$ctrl.cancelHelper(helper)">
                          <md-icon md-font-set="material-icons" aria-label="Remove">clear</md-icon>
                          Отменить
                        </md-button>
                      </md-menu-item>
                    </md-menu-content>
                  </md-menu>
                </div>

                <span ng-if="helper.status == $ctrl.hStatus.finishHelp"
                      class="helpers-help-offers-row-act__end" >Завершено</span>

              </div>
            </div>
          </div>

          <div layout="row" layout-align="center center" ng-if="$ctrl.isShowButton()">
            <md-button ng-if="!$ctrl.loading" ng-click="$ctrl.moreHelpers()"
                       class="rst_btn_upper">Показать еще</md-button>
            <md-progress-circular ng-if="$ctrl.loading" md-mode="indeterminate" md-diameter="40"></md-progress-circular>
          </div>

        </md-content>
      </md-tab>
      <md-tab label="График предложений">
        <md-content class="post-new-addition__content">
          <div ng-show="$ctrl.isShowGraphic" style="width:450px; height: 400px;" id="chart-user-money"></div>
          <div ng-show="!$ctrl.isShowGraphic" class="helpers-help-offers" layout="column" layout-align="center center">
            <md-progress-circular ng-if="$ctrl.floading" md-mode="indeterminate" md-diameter="50"></md-progress-circular>
            <span ng-if="!$ctrl.floading" class="secondarily helpers-help-offers-label">
              Здесь буду отображаться график денежных мотиваций. Пока мотиваций нет.
            </span>
          </div>
        </md-content>
      </md-tab>
    </md-tabs>


  </md-dialog-content>
</md-dialog>
