<div class="p-content">
  <div class="list-one-col ng-cloak" layout="column">
    <div ng-if="$ctrl.msgNoInfo && $ctrl.isEmpty()"
         class="list-one-col__no-info" flex><span ng-bind="$ctrl.msgNoInfo"></span></div>
    <div ng-repeat="unit in $ctrl.collection" class="one-col-el">
      <post-list-item class="one-col-el__post" post="unit.post || unit"
                      header="$ctrl.hasHeader" activity="$ctrl.isActivity"
                      ng-click="$ctrl.showDetail($event,
                          unit.hasOwnProperty('post') ?  unit.post.id : unit.id,
                          unit.hasOwnProperty('post') ?  unit.post.type : unit.type)">
      </post-list-item>
      <div ng-if="::$ctrl.currDescription">
        <div ng-repeat="_unit in unit.units">
          <div class="one-col-el__time secondarily" ng-bind="::$ctrl.fdate(_unit.updated)"></div>
          <activity-description class="one-col-el__descr" activity="_unit"></activity-description>
        </div>
      </div>
    </div>
  </div>
  <load-more-button is-loading="$ctrl.isLoading()" is-show="$ctrl.isShowButton()" on-click="$ctrl.showMore()">
  </load-more-button>
</div>
