<md-dialog aria-label="Add new category" class="post-new-addition" md-no-ink>
  <md-toolbar class="post-new-addition__toolbar" md-whiteframe="1">
    <div class="md-toolbar-tools">
      <h2>Добавить категорию</h2>
      <span flex></span>
      <md-button class="md-icon-button icon-wrap" ng-click="cancel()">
        <md-icon  md-font-set="material-icons" class="icon-wrap__icon icon-wrap__icon_hov"
                  aria-label="Close add post">clear</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content class="post-new-addition__content post-new-addition-content" layout="column">


    <span class="secondarily post-new-addition-content__hint">
      Выбирете категорию, которой соответствует ваша публикация.
      Другие люди смогут найти вашу публикацию по категории.
      Увеличьте скорость отклика.
    </span>

    <h5 class="md-subhead" ng-show="$ctrl.category.category_type >= 0">
      Выбранная категория: {{$ctrl.getTitle($ctrl.category)}}
    </h5>

    <md-divider></md-divider>

    <div class="post-new-addition-content__block">
      <div ng-repeat="c in ::$ctrl.categories">
        <div layout="row" flex>
          <md-button class="post-new-category-btn "
                     ng-init="expand=false;" ng-click="expand = !expand">
            {{::c.title}}
          </md-button>
        </div>

        <div class="slide-toggle" ng-show="expand" flex>
          <div ng-repeat="subc in ::c.subcategories" flex layout="row">
            <md-button class="post-new-sub-category-btn  rst_btn_upper"
                       ng-click="$ctrl.category.category_type=c.type; $ctrl.category.subcategory_type=subc.type">
              {{::subc.title}}
            </md-button>
          </div>
        </div>
      </div>
    </div>
  </md-dialog-content>

  <md-dialog-actions layout-margin layout="row">
    <div flex></div>
    <md-button ng-click="cancel()">Отмена</md-button>
    <md-button class="md-primary md-raised" ng-click="$ctrl.save()">Добавить</md-button>
  </md-dialog-actions>

</md-dialog>