<div ng-if="$ctrl.post.hasOwnProperty('h_style')" layout="row" layout-align="center center">
  <div layout="row" layout-align="center center" class="icon-wrap">
    <md-icon ng-if="$ctrl.post.h_style.hasOwnProperty('b_color') && $ctrl.post.h_style.b_color"
             md-font-set="material-icons" class="post-new-icon-addable"
             ng-class="'cstyle' + $ctrl.post.h_style.b_color"
             aria-label="Add style">brightness_1
      <md-tooltip md-direction="top" md-delay="200">Стиль</md-tooltip>
    </md-icon>
    <div ng-if="$ctrl.post.h_style.hasOwnProperty('img') && $ctrl.post.h_style.img" class="post-new-img-wrap">
      <img class="post-new-img-wrap__img" ng-src="{{$ctrl.imgPreview($ctrl.post.h_style.img)}}" alt="заставка поста">
    </div>
    <div ng-show="$ctrl.post.h_style.hasOwnProperty('b_color') && $ctrl.post.h_style.b_color">Стиль: цвет фона</div>
    <div ng-show="$ctrl.post.h_style.hasOwnProperty('img') && $ctrl.post.h_style.img">Стиль: фоновое изображение</div>
  </div>
  <div flex></div>
  <md-button class="md-icon-button icon-wrap" ng-click="$ctrl.clearStyle()">
    <md-tooltip md-delay="200">Удалить</md-tooltip>
    <md-icon md-font-set="material-icons" class="icon-wrap__icon icon-wrap__icon_hov" aria-label="Clear style">clear</md-icon>
  </md-button>
  <div></div>
</div>