<div class="p-content">
  <div ng-if="$ctrl.msgNoInfo && $ctrl.isEmpty()"
       class="list-one-col__no-info" flex><span ng-bind="$ctrl.msgNoInfo"></span></div>
  <div layout="row">
    <masonry class="posts-list" column-width ="350" item-selector=".posts-list__item"
             reload-on-resize masonry-options="{ transitionDuration: '0'}" load-images="false">

      <div ng-repeat="post in $ctrl.collection track by ::post.id"
           on-finish-render="ngRepeatFinished" class="posts-list__item"
           ng-class="post.isVisible ? 'posts-list__item_visible':'posts-list__item_invisible'">
        <post-list-item post="post" header="true" detail="$ctrl.postDetail">
        </post-list-item>
      </div>
    </masonry>
  </div>
  <load-more-button ng-if="::$ctrl.isShowPbtn" is-loading="$ctrl.isLoading()"
                    is-show="$ctrl.isShowButton()" on-click="$ctrl.showMore()">
  </load-more-button>
</div>