<div class="help-p-ribbon"></div>
<div class="help-p" layout="column">
  <div class="help-p__header">
    <h2 class="md-display-1">Пользовательское соглашение</h2>
  </div>
  <div layout="row" layout-sm="column" layout-xs="column">
    <div class="help-p__content" flex>
      <div class="help-p-block md-whiteframe-z1 md-body-1">
        <div>
          <p>
            Добро пожаловать на Сайт <a class="link link_blue link_b" href="/">Pingvin.online</a>,
            интернет-ресурс, некоммерческий сетевой проект, который помогает Вам
            найти рядом людей, которым нужна помощь, и людей, готовых помочь.
          </p>

          <p>
            Под Администрацией Сайт понимается частное лицо Андрианов М. А. mandrianov@pingvin.online и
            так же другие частные доверенные лица.
          </p>

          <p>
            Администрация Сайта предоставляет Вам доступ к использованию Сайта
            <a class="link link_blue link_b" href="/">Pingvin.online</a> и его
            функционала на условиях, являющихся предметом настоящего Пользовательского соглашения Сайта
            <a class="link link_blue link_b" href="/">Pingvin.online</a>.
            В этой связи Вам необходимо внимательно ознакомиться с условиями настоящих Правил, которые рассматриваются
            Администрацией Сайта как публичная оферта в соответствии со ст. 437 Гражданского кодекса Российской Федерации.
          </p>
          <ol class="ol-count">
            <li class="md-title">Статус Правил пользования Сайтом Pingvin.online
              <ol class="md-body-1 ol-count">
                <li> Настоящие Правила пользования Сайтом Pingvin.online (ранее и далее – Правила) разработаны
                  Администрацией Сайта и определяют условия использования и развития Сайта,
                  а также права и обязанности его Пользователей и Администрации. Правила распространяются также
                  на отношения, связанные с правами и интересами третьих лиц, не являющимися Пользователями Сайта,
                  но чьи права и интересы могут быть затронуты в результате действий Пользователей Сайта.
                </li>
                <li> Настоящие Правила являются юридически обязательным соглашением между Пользователем и Администрацией Сайта,
                  предметом которого является предоставление Администрацией Сайта Пользователю доступа к использованию Сайта и
                  его функционала. Помимо настоящих Правил, к соглашению между Пользователем и Администрацией Сайта относятся
                  все специальные документы, регулирующие предоставление доступа к использованию отдельного функционала Сайта,
                  размещенного в соответствующих разделах Сайта в сети Интернет.
                </li>
                <li> Пользователь обязан полностью ознакомиться с настоящими Правилами до момента регистрации на Сайте.
                  Регистрация Пользователя на Сайте означает полное и безоговорочное принятие Пользователем настоящих Правил
                  в соответствии со ст. 438 Гражданского кодекса Российской Федерации.
                </li>
                <li> Настоящие Правила могут быть изменены и/или дополнены Администрацией Сайта в одностороннем порядке
                  без какого-либо специального уведомления. Настоящие Правила являются открытым и общедоступным документом.
                  Действующая редакция Правил располагается в сети Интернет по адресу:
                  <a class="link link_blue link_b" href="/privacy/">pingvin.online/privacy/</a>.
                  Администрация Сайта рекомендует Пользователям регулярно проверять условия настоящих Правил на предмет
                  их изменения и/или дополнения. Продолжение использования Сайта Пользователем после внесения изменений
                  и/или дополнений в настоящие Правила означает принятие и согласие Пользователя с такими изменениями
                  и/или дополнениями.
                </li>
              </ol>
            </li>
            <li class="md-title">Порядок регистрации
              <ol class="md-body-1 ol-count">
                <li>Регистрация Пользователя на Сайте является бесплатной, добровольной и производится по адресу в сети
                  Интернет: <a class="link link_blue link_b" href="/">pingvin.online</a>
                </li>
                <li>Пользователем Сайта является физическое или юридическое лицо, зарегистрированное на Сайте в
                  соответствии с установленным настоящими Правилами порядком, достигшее возраста, допустимого в
                  соответствии с законодательством Российской Федерации для акцепта настоящих Правил, и обладающее
                  соответствующими полномочиями (ранее и далее – Пользователь).
                </li>
                <li>При регистрации на Сайте Пользователь обязан предоставить Администрации Сайта необходимую
                  достоверную и актуальную информацию для формирования персональной страницы Пользователя, включая
                  уникальные для каждого Пользователя логин(электронную почту) и пароль доступа к Сайту, а также фамилию
                  и имя. Регистрационная форма Сайта может запрашивать у Пользователя дополнительную информацию.
                </li>
                <li>Пользователь несет ответственность за достоверность, актуальность, полноту и соответствие
                  законодательству Российской Федерации предоставленной при регистрации информации и ее чистоту от
                  претензий третьих лиц.
                </li>
                <li>После предоставления информации, указанной в п. 2.3. настоящих Правил, Пользователю может быть
                  необходимо пройти ряд удостоверительных процедур, а именно, (а) подтвердить регистрацию путем
                  распознания автоматизированного теста, предназначенного для различия компьютеров и людей («капчи»);
                  (б) подтвердить регистрацию путем по ссылке из пиьсма электронной почты, которое отправляется после
                  регистрации. В случае верного последовательного выполнения всех регистрационных действий на Сайте
                  создается персональная страница Пользователя, имеющая сетевой адрес вида
                  http://pingvin.online/user/[номер]/. Пользователь вправе зарегистрировать не более одной персональной
                  страницы на Сайте.
                </li>
                <li>При регистрации Пользователь соглашается с настоящими Правилами и принимает на себя указанные в них
                  права и обязанности, связанные с использованием и функционированием Сайта.
                </li>
                <li>После успешной регистрации Пользователя на Сайте Администрация принимает на себя права и обязанности
                  перед Пользователем, указанные в настоящих Правилах.
                </li>
                <li>Обработка персональных данных Пользователя осуществляется в соответствии с законодательством
                  Российской Федерации. Администрация Сайта обрабатывает персональные данные Пользователя в целях
                  предоставления Пользователю доступа к использованию функционала Сайта, в том числе в целях проверки,
                  исследования и анализа таких данных, позволяющих поддерживать и улучшать функционал и разделы Сайта, а
                  также разрабатывать новый функционал и разделы Сайта. Администрация Сайта принимает все необходимые
                  меры для защиты персональных данных Пользователя от неправомерного доступа, изменения, раскрытия или
                  уничтожения. Администрация предоставляет доступ к персональным данным Пользователя только тем
                  работникам, подрядчикам и агентам Администрации, которым эта информация необходима для обеспечения
                  функционирования Сайта и предоставления Пользователю доступа к его использованию. Администрация Сайта
                  вправе использовать предоставленную Пользователем информацию, в том числе персональные данные, а также
                  передавать ее третьим лицам, в целях обеспечения соблюдения требований действующего законодательства
                  Российской Федерации, защиты прав и интересов Пользователей, Администрации Сайта, третьих лиц (в том
                  числе в целях выявления, проверки/расследования и/или пресечения противоправных действий). Раскрытие
                  предоставленной Пользователем информации может быть произведено лишь в соответствии с действующим
                  законодательством Российской Федерации по требованию суда, правоохранительных органов, а равно в иных
                  предусмотренных законодательством Российской Федерации случаях. Поскольку Администрация Сайта
                  осуществляет обработку персональных данных Пользователя в целях исполнения настоящих Правил, в силу
                  положений законодательства о персональных данных согласие Пользователя на обработку его персональных
                  данных не требуется.
                </li>
                <li>Выбранные Пользователем логин и пароль являются необходимой и достаточной информацией для доступа
                  Пользователя на Сайт. Пользователь не имеет права передавать свои логин и пароль третьим лицам, несет
                  полную ответственность за их сохранность, самостоятельно выбирая способ их хранения. Пользователь на
                  используемом им аппаратно-программном обеспечении может разрешить хранение кода, который
                  сопоставляется с логином и паролем (с использованием файлов cookies) для последующей автоматической
                  авторизации на Сайте.
                </li>
                <li>Если Пользователем не доказано обратное, любые действия, совершенные с использованием его логина и
                  пароля, считаются совершенными соответствующим Пользователем. В случае несанкционированного доступа к
                  логину и паролю и/или персональной странице Пользователя, или распространения логина и пароля
                  Пользователь обязан незамедлительно сообщить об этом Администрации Сайта в установленном порядке.
                </li>
                <li>После регистрации Пользователь получает право самостоятельно в личных некоммерческих целях
                  создавать, использовать и определять содержание собственной персональной страницы.
                </li>
                <li>Пользователь как обладатель информации, размещенной на собственной персональной странице, осознает,
                  что за исключением случаев, установленных настоящими Правилами и действующим законодательством
                  Российской Федерации, Администрация Сайта не принимает участие в формировании и использовании
                  содержания и контроле доступа других пользователей к персональной странице Пользователя.
                  Размещая информацию на персональной странице, в том числе свои персональные данные, Пользователь
                  осознает и соглашается с тем, что указанная информация может быть доступна другим пользователям
                  сети Интернет с учетом особенностей архитектуры и функционала Сайта.
                </li>
              </ol>
            </li>
            <li class="md-title">Обязанности сторон. Запреты
              <ol class="md-body-1 ol-count">
                <li> При использовании Сайта Пользователь обязан:
                  <ul class="list-marg">
                    <li>соблюдать положения действующего законодательства Российской Федерации, настоящих Правил и иных
                      специальных документов Администрации Сайта;
                    </li>
                    <li>предоставлять при регистрации достоверные, полные и актуальные данные, следить за их
                      актуализацией;
                    </li>
                    <li>информировать Администрацию Сайта о несанкционированном доступе к персональной странице и/или о
                      несанкционированном доступе и/или использовании пароля и логина Пользователя;
                    </li>
                    <li>не предоставлять доступ другим Пользователям к собственной персональной странице или к отдельной
                      содержащейся на ней информации в случае, если это может привести к нарушению законодательства
                      Российской Федерации и/или настоящих Правил, специальных документов Администрации Сайта;
                    </li>
                    <li>не размещать на персональной странице информацию и объекты (включая ссылки на них), которые
                      могут нарушать права и интересы других лиц;
                    </li>
                    <li>перед размещением информации предварительно оценивать законность их размещения;</li>
                    <li>хранить в тайне и не предоставлять другим Пользователям и третьим лицам ставшие ему известными в
                      результате общения с другими Пользователями и иного использования Сайта персональные данные
                      (включая, но не ограничиваясь, домашними адресами, номерами телефонов, адресами электронной почты,
                      ICQ, паспортными данными, банковской информацией) и информацию о частной жизни других
                      Пользователей и третьих лиц без получения соответствующего предварительного разрешения последних;
                    </li>
                    <li>осуществлять резервное копирование важной для Пользователя хранящейся на его персональной
                      странице информации.</li>
                  </ul>

                </li>

                <li>Пользователю при использовании Сайта запрещается:
                  <ol class="md-body-1 ol-count">
                    <li>регистрироваться в качестве Пользователя от имени или вместо другого лица («фальшивый аккаунт»)
                      или регистрировать группу (объединение) лиц или юридическое лицо в качестве Пользователя. При
                      этом, возможна регистрация от имени и поручению другого физического лица или юридического лица при
                      условии получения необходимых полномочий в порядке и форме, предусмотренных законодательством
                      Российской Федерации;
                    </li>
                    <li>вводить Пользователей в заблуждение относительно своей личности, используя логин и пароль
                      другого зарегистрированного Пользователя;
                    </li>
                    <li>искажать сведения о себе, своем возрасте или своих отношениях с другими лицами или
                      организациями;
                    </li>
                    <li>загружать, хранить, публиковать, распространять и предоставлять доступ или иным образом
                      использовать любую информацию, которая:
                      <ol type="a" class="list-marg">
                        <li>содержит угрозы, дискредитирует, оскорбляет, порочит честь и достоинство или деловую репутацию
                          или нарушает неприкосновенность частной жизни других Пользователей или третьих лиц;
                        </li>
                        <li>нарушает права несовершеннолетних лиц;</li>
                        <li>является вульгарной или непристойной, содержит порнографические изображения и тексты или сцены
                          сексуального характера с участием несовершеннолетних;
                        </li>
                        <li>содержит сцены бесчеловечного обращения с животными;</li>
                        <li>содержит описание средств и способов суицида, любое подстрекательство к его совершению;</li>
                        <li>пропагандирует и/или способствует разжиганию расовой, религиозной, этнической ненависти или
                          вражды, пропагандирует фашизм или идеологию расового превосходства;
                        </li>
                        <li>содержит экстремистские материалы;</li>
                        <li>пропагандирует преступную деятельность или содержит советы, инструкции или руководства по
                          совершению преступных действий;
                        </li>
                        <li>содержит информацию ограниченного доступа, включая, но не ограничиваясь, государственной и
                          коммерческой тайной, информацией о частной жизни третьих лиц;
                        </li>
                        <li>содержит рекламу или описывает привлекательность употребления наркотических веществ, в
                          том числе «цифровых наркотиков» (звуковых файлов, оказывающих воздействие на мозг человека за
                          счет бинауральных ритмов), информацию о распространении наркотиков, рецепты их изготовления и
                          советы по употреблению;
                        </li>
                        <li>носит мошеннический характер;</li>
                        <li>а также нарушает иные права и интересы граждан и юридических лиц или требования законодательства
                          Российской Федерации.</li>
                      </ol>
                    </li>
                    <li>незаконно загружать, хранить, публиковать, распространять и предоставлять доступ или иным
                      образом использовать интеллектуальную собственность Пользователей и третьих лиц;
                    </li>
                    <li>осуществлять массовые рассылки сообщений в адрес других Пользователей Сайта без их согласия;
                    </li>
                    <li>использовать программное обеспечение и осуществлять действия, направленные на нарушение
                      нормального функционирования Сайта или персональных страниц Пользователей;
                    </li>
                    <li>загружать, хранить, публиковать, распространять и предоставлять доступ или иным образом
                      использовать вирусы, трояны и другие вредоносные программы;
                    </li>
                    <li>использовать без специального на то разрешения Администрации Сайта автоматизированные скрипты
                      (программы, боты, краулеры) для сбора информации на Сайте и/или взаимодействия с Сайтом и его
                      функционалом;
                    </li>
                    <li>любым способом, в том числе, но не ограничиваясь, путем обмана, злоупотребления доверием,
                      взлома, пытаться получить доступ к логину и паролю другого Пользователя;
                    </li>
                    <li>осуществлять незаконные сбор и обработку персональных данных других лиц;</li>
                    <li>осуществлять использование Сайта иным способом, кроме как через интерфейс, предоставленный
                      Администрацией Сайта, за исключением случаев, когда такие действия были прямо разрешены
                      Пользователю в соответствии с отдельным соглашением с Администрацией;
                    </li>
                    <li> воспроизводить, дублировать, копировать, продавать, осуществлять торговые операции и
                      перепродавать доступ к использованию Сайта, в том числе его неактивированных данных и команд, для
                      каких-либо целей, за исключением случаев, когда такие действия были прямо разрешены Пользователю в
                      соответствии с условиями отдельного соглашения с Администрацией;
                    </li>
                    <li>размещать коммерческую и политическую рекламу вне специальных разделов Сайта, установленных
                      Администрацией Сайта;
                    </li>
                    <li>размещать любую другую информацию, которая, по личному мнению Администрации, является
                      нежелательной, не соответствует целям создания Сайта, ущемляет интересы Пользователей или по
                      другим причинам является нежелательной для размещения на Сайте;
                    </li>
                    <li>осуществлять самостоятельно либо от имени других Пользователей с использованием функционала их
                      аккаунта, в том числе путем введения в заблуждение или с обещанием поощрения, в том числе с
                      использованием любых программ, автоматизированных скриптов, массовые однотипные действия,
                      направленные на искусственное повышение показателей счётчиков Сайта.
                    </li>
                  </ol>
                </li>
                <li>Пользователь несет личную ответственность за любую информацию, которую размещает на Сайте, сообщает
                  другим Пользователям, а также за любые взаимодействия с другими Пользователями, осуществляемые на свой
                  риск
                </li>
                <li>В случае несогласия Пользователя с настоящими Правилами или их обновлениями, Пользователь обязан
                  отказаться от использования Сайта, проинформировав об этом Администрацию Сайта в установленном
                  порядке.
                </li>
              </ol>
            </li>
            <li class="md-title">Права администрации
              <ol class="md-body-1 ol-count">
                <li>Администрация сохраняет за собой право в любое время изменять оформление Сайта, его содержание,
                  функционал, изменять или дополнять используемые скрипты, программное обеспечение и другие объекты,
                  используемые или хранящиеся на Сайте, любые серверные приложения в любое время с предварительным
                  уведомлением или без такового
                </li>
                <li>Администрация Сайта не занимается предварительной модерацией или цензурой информации Пользователей
                  (за исключением Событий) и предпринимает действия по защите прав и интересов лиц и обеспечению
                  соблюдения требований законодательства Российской Федерации только после обращения заинтересованного
                  лица к Администрации Сайта в установленном порядке.
                </li>
                <li>Администрация Сайта не несет ответственности за нарушение Пользователем настоящих Правил и оставляет
                  за собой право по своему собственному усмотрению, а также при получении информации от других
                  пользователей либо третьих лиц о нарушении Пользователем настоящих Правил, изменять (модерировать),
                  блокировать или удалять любую публикуемую Пользователем информацию, нарушающую запреты, установленные
                  настоящими Правилами, приостанавливать, ограничивать или прекращать доступ Пользователя ко всем или к
                  любому из разделов или функционалу Сайта в любое время по любой причине или без объяснения причин, с
                  предварительным уведомлением или без такового. Администрация Сайта закрепляет за собой право удалить
                  персональную страницу Пользователя и/или приостановить, ограничить или прекратить доступ Пользователя
                  к любой из функциональных возможностей Сайта, если Администрация обнаружит, что по ее мнению,
                  Пользователь представляет угрозу для Сайта и/или его Пользователей.
                </li>
                <li>Администрация Сайта обеспечивает функционирование и работоспособность Сайта и обязуется оперативно
                  восстанавливать его работоспособность в случае технических сбоев и перерывов. Администрация Сайта не
                  несет ответственности за временные сбои и перерывы в работе Сайта и вызванные ими потерю информации.
                  Администрация не несет ответственности за любой ущерб компьютеру Пользователя или иного лица,
                  мобильным устройствам, любому другому оборудованию или программному обеспечению, вызванный или
                  связанный со скачиванием материалов с Сайта или по ссылкам, размещенным на Сайте.
                </li>
                <li>Администрация Сайта имеет право направлять Пользователю информацию о развитии Сайта и его
                  функционала, а также рекламировать собственную деятельность.
                </li>
                <li> Ограничение ответственности Администрации Сайта:
                  <ol class="md-body-1 ol-count">
                    <li>АДМИНИСТРАЦИЯ САЙТА ИЛИ ЕЕ ПРЕДСТАВИТЕЛИ НЕ НЕСУТ ОТВЕТСТВЕННОСТЬ ПЕРЕД ПОЛЬЗОВАТЕЛЕМ ИЛИ ПЕРЕД
                      ЛЮБЫМИ ТРЕТЬИМИ ЛИЦАМИ ЗА ЛЮБОЙ КОСВЕННЫЙ, СЛУЧАЙНЫЙ, НЕУМЫШЛЕННЫЙ УЩЕРБ, ВКЛЮЧАЯ УПУЩЕННУЮ ВЫГОДУ
                      ИЛИ ПОТЕРЯННЫЕ ДАННЫЕ, ВРЕД ЧЕСТИ, ДОСТОИНСТВУ ИЛИ ДЕЛОВОЙ РЕПУТАЦИИ, ВЫЗВАННЫЙ В СВЯЗИ С
                      ИСПОЛЬЗОВАНИЕМ САЙТА, СОДЕРЖИМОГО САЙТА ИЛИ ИНЫХ МАТЕРИАЛОВ, К КОТОРЫМ ВЫ ИЛИ ИНЫЕ ЛИЦА ПОЛУЧИЛИ
                      ДОСТУП С ПОМОЩЬЮ САЙТА, ДАЖЕ ЕСЛИ АДМИНИСТРАЦИЯ САЙТА ПРЕДУПРЕЖДАЛА ИЛИ УКАЗЫВАЛА НА ВОЗМОЖНОСТЬ
                      ТАКОГО ВРЕДА.
                    </li>
                  </ol>
                </li>
              </ol>
            </li>
            <li class="md-title">Персональные данные
              <ol class="md-body-1 ol-count">
                <li>Администрация Сайта осуществляет обработку информации о Пользователях, в том числе их персональных
                  данных, в целях выполнения обязательств Администрации Сайта перед Пользователями в отношении
                  использования Сайта
                  <ol class="md-body-1 ol-count">
                    <li>предоставляемые Пользователями и минимально необходимые для регистрации на Сайте: имя, фамилия,,
                      адрес электронной почты;
                    </li>
                    <li>предоставляемые Пользователями с использованием раздела редактирования своих страниц на Сайте
                      <a class="link link_blue link_b" href="/about-me-edit/">pingvin.online/about-me-edit/</a>
                      (в том дата рождения, пол, адрес, контактная информация);
                    </li>
                    <li>дополнительно предоставляемые Пользователями по запросу Администрации Сайта в целях исполнения
                      Администрацией Сайта обязательств перед Пользователями, вытекающих из договора на оказание Услуг
                      Сайта. Администрация Сайта вправе, в частности, запросить у Пользователя копию документа,
                      удостоверяющего личность, либо иного документа, содержащего имя, фамилию, фотографию Пользователя,
                      а также иную дополнительную информацию, которая, по усмотрению Администрации Сайта, будет являться
                      необходимой и достаточной для идентификации такого Пользователя и позволит исключить
                      злоупотребления и нарушения прав третьих лиц.
                    </li>
                  </ol>
                </li>
                <li>Иная информация о Пользователях, обрабатываемая Администрацией Сайта
                  <p>Администрация Сайта может также обрабатывать иную информацию о Пользователях,
                    которая включает в себя:</p>
                  <ol class="md-body-1 ol-count">
                    <li> дополнительные данные, получаемые при доступе к Сайту, включающие в себя данные о технических
                      средствах (устройствах), технологическом взаимодействии с Сайтом (в т.ч. IP-адрес хоста, вид
                      операционной системы пользователя, тип браузера, географическое положение), и последующих
                      действиях Пользователя на Сайте.
                    </li>
                    <li>информация, автоматически получаемая при доступе к Сайту с использованием закладок (cookies);
                    </li>
                    <li> информация, создаваемая пользователями на Сайте вне раздела редактирования страниц
                      <a class="link link_blue link_b" href="/about-me-edit/">pingvin.online/about-me-edit/</a>
                      (в том числе фотографии, комментарии, отзывы, публикации объявлений
                      и событий);
                    </li>
                    <li>информация, полученная в результате действий Пользователя на Сайте. Данная информация о
                      Пользователе может быть доступна для всех пользователей;
                    </li>
                  </ol>
                </li>
                <li>Обработка персональных данных осуществляется на основе принципов:
                  <ol type="a" class="list-marg">
                    <li>законности целей и способов обработки персональных данных;</li>
                    <li>добросовестности;</li>
                    <li>соответствия целей обработки персональных данных целям, заранее определенным и заявленным при
                      сборе персональных данных, а также полномочиям Администрации Сайта;
                    </li>
                    <li>соответствия объема и характера обрабатываемых персональных данных, способов обработки
                      персональных данных целям обработки персональных данных;
                    </li>
                    <li>недопустимости объединения созданных для несовместимых между собой целей баз данных, содержащих
                      персональные данные.
                    </li>

                  </ol>
                  <ol class="md-body-1 ol-count">
                    <li>Условия и цели обработки персональных данных <br>
                      Администрация Сайта осуществляет обработку персональных данных пользователя в целях исполнения
                      договора между Администрацией Сайта и Пользователем на оказание Услуг Сайта (п. 2.2 Правил
                      пользования Сайтом pingvin.online
                      <a class="link link_blue link_b" href="/privacy/">pingvin.online/privacy/</a>
                      ). В силу статьи 6 Федерального закона
                      от 27.07.2006 № 152-ФЗ «О персональных данных» отдельное согласие пользователя на обработку его
                      персональных данных не требуется. В силу п.п. 2 п. 2 статьи 22 указанного закона Администрация
                      Сайта вправе осуществлять обработку персональных данных без уведомления уполномоченного органа по
                      защите прав субъектов персональных данных.
                    </li>
                    <li> Сбор персональных данных <br>
                      Сбор персональных данных Пользователя осуществляется на Сайте при регистрации, а также в
                      дальнейшем при внесении пользователем по своей инициативе дополнительных сведений о себе с помощью
                      инструментария Сайта.
                      Персональные данные, предусмотренные п. 2.3. настоящих Правил, предоставляются Пользователем и
                      являются минимально необходимыми при регистрации.
                      Персональные данные, предусмотренные в п.5.2.1 настоящих Правил, дополнительно предоставляются
                      Пользователем по собственной инициативе.
                    </li>
                    <li>Хранение и использование персональных данных <br>
                      Персональные данные пользователей хранятся исключительно на электронных носителях и обрабатываются
                      с использованием автоматизированных систем, за исключением случаев, когда неавтоматизированная
                      обработка персональных данных необходима в связи с исполнением требований законодательства.
                    </li>
                    <li>Передача персональных данных <br>
                      Персональные данные Пользователей не передаются каким-либо третьим лицам, за исключением случаев,
                      прямо предусмотренных настоящими Правилами.
                      При указании пользователя или при наличии согласия пользователя возможна передача персональных
                      данных пользователя третьим лицам-контрагентам Администрации Сайта с условием принятия такими
                      контрагентами обязательств по обеспечению конфиденциальности полученной информации, в частности,
                      при использовании приложений.
                      Предоставление персональных данных Пользователей по запросу государственных органов (органов
                      местного самоуправления) осуществляется в порядке, предусмотренном законодательством.
                    </li>
                    <li>Уничтожение персональных данных <br>
                      Персональные данные пользователя уничтожаются при: <br>
                      – самостоятельном удалении Пользователем данных со своей персональной страницы; <br>
                      – удалении Администрацией Сайта информации, размещаемой Пользователем, а также персональной
                      страницы
                    </li>
                  </ol>
                </li>
                <li>Размещая информацию на персональной странице, в том числе свои персональные данные,
                  Пользователь осознает и соглашается с тем, что указанная информация может быть доступна другим
                  пользователям сети Интернет с учетом особенностей архитектуры и функционала Сайта.
                </li>
              </ol>
            </li>
            <li class="md-title">Заключительные положения
              <ol class="md-body-1 ol-count">
                <li>Настоящие Правила составляют соглашение между Пользователем и Администрацией Сайта относительно
                  порядка использования Сайта и его функционала и заменяют собой все предыдущие соглашения между
                  Пользователем и Администрацией.
                </li>
                <li>Настоящие Правила регулируются и толкуются в соответствии с законодательством Российской Федерации.
                  Вопросы, не урегулированные Правилами, подлежат разрешению в соответствии с законодательством
                  Российской Федерации.
                </li>
                <li>В случае возникновения любых споров или разногласий, связанных с исполнением настоящих Правил,
                  Пользователь и Администрация Сайта приложат все усилия для их разрешения путем проведения переговоров
                  между ними. В случае, если споры не будут разрешены путем переговоров, споры подлежат разрешению в
                  порядке, установленном действующим законодательством Российской Федерации.
                </li>
              </ol>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-include="'public/html/footer.html'"></div>