<div layout="row" layout-align="center center">
  <div class="md-body-1">
    <span ng-bind="mnc.name()"></span>, Вы еще не откликались на публикации.
    <a class="link link_b link_blue" ng-click="mnc.showPromptHelp()">Как откликнуться?</a>
  </div>
  <md-button class="rst_btn_upper notification-btn-skip" ng-click="mnc.skipPromptHelp()">
    <span>Пропустить</span>
  </md-button>
</div>