<div layout="row" layout-align="center center">
  <div class="md-body-1">
    <span ng-bind="mnc.name()"></span>, Вы еще не создавали публикации.
    <a class="link link_b link_blue" ng-click="mnc.showPromptPublications()">Как создать публикацию?</a>
  </div>
  <md-button class="rst_btn_upper notification-btn-skip" ng-click="mnc.skipPromptPublications()">
    <span>Пропустить</span>
  </md-button>
</div>