<div layout="row" layout-align="center center">
  <div class="md-body-1"><span ng-bind="mnc.name()"></span>, пожалуйста, оставьте отзыв о Pingvin</div>
  <div class="main-notification-stars-wrap">
    <ng-rate-it ng-model="mnc.rating"  step="1" resetable="false">
    </ng-rate-it>
  </div>
  <md-button class="rst_btn_upper" ng-click="mnc.showFeedbackDlg()"><span>Отправить</span></md-button>
</div>