<div class="p-content">
  <div class="reset-password-block md-whiteframe-z1">
    <form role="form" name="resetPswdFrom" autocomplete="off" novalidate
          ng-submit="resetPswdFrom.$valid && $ctrl.changePassword()">
      <h2 class="md-headline">Новый пароль</h2>
      <p class="secondarily">Введите новый пароль. Рекомендуется использовать от 8 и более сомволов,
        используя разные символы - цифры, заглавные и прописные буквы, спецсимволы.</p>
      <div layout="row">
        <md-input-container class="menu-login__input md-block" flex>
          <label>Пароль</label>
          <input ng-model="$ctrl.password" type="password" name="password"
                 minlength="1" required md-no-asterisk ng-change="$ctrl.clear()">
          <div ng-messages="resetPswdFrom.password.$error" role="alert">
            <div ng-message="required">Это поле обязательно для заполнения</div>
            <div ng-message="minlength">Минимальная длина пароля 8 символов</div>
          </div>
        </md-input-container>
      </div>
      <div layout="row">
        <md-input-container class="menu-login__input md-block" flex>
          <label>Пароль еще раз</label>
          <input ng-model="$ctrl.rePassword" type="password" name="repassword"
                 minlength="1" required md-no-asterisk ng-change="$ctrl.clear()">
          <div ng-messages="resetPswdFrom.repassword.$error" role="alert">
            <div ng-message="required">Это поле обязательно для заполнения</div>
            <div ng-message="minlength">Минимальная длина пароля 8 символов</div>
          </div>
        </md-input-container>
      </div>

      <div class="menu-login__text error md-caption" ng-bind="$ctrl.merrorMessage"></div>

      <div layout="row">
        <div flex></div>
        <md-button class="md-primary md-raised" type="submit">Изменить пароль</md-button>
      </div>
    </form>
  </div>
</div>