<div layout="column" class="search-menu-post">
  <div class="search-menu-post__item">
    <md-autocomplete md-clear-button="false" md-selected-item="$ctrl.selectedCategory"
                     md-search-text-change="$ctrl.searchCategoryChange($ctrl.searchTextCategory)"
                     md-search-text="$ctrl.searchTextCategory"
                     md-selected-item-change="$ctrl.selectedCategoryChange(item)"
                     md-items="item in $ctrl.querySearchCategory($ctrl.searchTextCategory)"
                     md-min-length="0" md-item-text="item.display" md-floating-label="Категория">
      <md-item-template>
        <span md-highlight-text="$ctrl.searchTextCategory" md-highlight-flags="^i">{{item.display}}</span>
      </md-item-template>
      <md-not-found>
      </md-not-found>
    </md-autocomplete>
  </div>
  <div class="search-menu-post__item">
    <md-autocomplete md-no-cache= "true" ng-disabled="$ctrl.subcategoryDisable"
                     md-clear-button="false" md-selected-item="$ctrl.selectedSubcategory"
                     md-search-text-change="$ctrl.searchSubcategoryChange($ctrl.searchTextSubcategory)"
                     md-search-text="$ctrl.searchTextSubcategory"
                     md-selected-item-change="$ctrl.selectedSubcategoryChange(item)"
                     md-items="item in $ctrl.querySearchSubcategory($ctrl.searchTextSubcategory)"
                     md-min-length="0" md-item-text="item.display" md-floating-label="Подкатегория">
      <md-item-template>
        <span md-highlight-text="$ctrl.searchTextSubcategory" md-highlight-flags="^i">{{item.display}}</span>
      </md-item-template>
      <md-not-found>
      </md-not-found>
    </md-autocomplete>
  </div>
  <div class="search-menu-post__item" layout="row">
      <md-input-container flex>
        <label>Мотивация</label>
        <md-select ng-model="$ctrl.motivation" ng-change="$ctrl.changeMotivation()">
          <md-option value="0">Не выбрана</md-option>
          <md-option value="1">Благодараность</md-option>
          <md-option value="2">Денежная</md-option>
          <md-option value="3">Другая</md-option>
        </md-select>
    </div>
  </div>



</div>