<div class="p-content">
  <div class="search-page" ng-cloak="">
    <div layout="row" class="search-page__panel md-whiteframe-z1 md-body-1">
      <form id="search-page-from" autocomplete="off" ng-submit="$ctrl.searchw()"
            layout-align="start center" flex ng-cloak="">
        <div  layout-align="center center" layout="row" flex>
          <div class="search-page-form-select-wrap">
            <md-input-container class="search-page-input-wrap">
              <md-select ng-model="$ctrl.context" placeholder="Искать в " ng-change="$ctrl.searchContextChange()">
                <md-option ng-repeat="c in $ctrl.contexts" ng-value="c.val" ng-bind="::c.name">
                </md-option>
              </md-select>
            </md-input-container>
          </div>

          <md-input-container md-no-float flex class="search-input-wrap search-page-input-wrap">
            <input class="page-search-input" placeholder="Поиск" ng-change="$ctrl.searchInputChange()"
                   type="text" ng-model="$ctrl.searchString"/>
          </md-input-container>
          <md-button class="md-icon-button icon-wrap" type="submit">
            <md-icon class="icon-wrap__icon icon-wrap__icon_hov"
                     md-font-set="material-icons">search</md-icon>
          </md-button>

          <md-menu ng-cloak="" md-position-mode="target-right target" md-offset="0 50">
            <md-button aria-label="Show search params" class="md-icon-button icon-wrap"
                       ng-click="$mdMenu.open($event)">
              <md-icon md-menu-origin class="icon-wrap__icon icon-wrap__icon_hov"
                       md-font-set="material-icons">settings</md-icon>
            </md-button>

            <md-menu-content width="3" class="search-menu-content">
              <div dynamic="$ctrl.searchOptHtml"></div>
            </md-menu-content>
          </md-menu>
        </div>
        <md-chips ng-if="$ctrl.searchOptions.length" ng-model="$ctrl.searchOptions"
                  ng-cloak="" md-on-remove="$ctrl.removeChip($chip)">
          <md-chip-template>
            <span class="md-body-1" ng-bind="$chip.text"></span>
          </md-chip-template>
          <input disabled class="hide">
        </md-chips>
      </form>
    </div>
    <div ng-cloak="" layout="column" class="search-page__content"
         dynamic="$ctrl.contentHtml"></div>
  </div>
</div>