<div layout="column" class="search-menu-user">
  <div class="search-menu-user__item">
    <md-autocomplete md-clear-button="false" md-selected-item="$ctrl.selectedCountry"
        md-search-text-change="$ctrl.searchCountryChange($ctrl.searchTextCountry)"
        md-search-text="$ctrl.searchTextCountry" md-selected-item-change="$ctrl.selectedCountryChange(item)"
        md-items="item in $ctrl.querySearchCountry($ctrl.searchTextCountry)"
        md-min-length="0" md-item-text="item.display" md-floating-label="Страна">
      <md-item-template>
        <span md-highlight-text="$ctrl.searchTextCountry" md-highlight-flags="^i">{{item.display}}</span>
      </md-item-template>
      <md-not-found>
      </md-not-found>
    </md-autocomplete>
  </div>
  <div class="search-menu-user__item">
    <md-autocomplete md-no-cache= "true" ng-disabled="$ctrl.cityDisable"
        md-clear-button="false" md-selected-item="$ctrl.selectedCity"
        md-search-text-change="$ctrl.searchCityChange($ctrl.searchTextCity)"
        md-search-text="$ctrl.searchTextCity" md-selected-item-change="$ctrl.selectedCityChange(item)"
        md-items="item in $ctrl.querySearchCity($ctrl.searchTextCity)"
        md-min-length="0" md-item-text="item.display" md-floating-label="Город">
      <md-item-template>
        <span md-highlight-text="$ctrl.searchTextCity" md-highlight-flags="^i">{{item.display}}</span>
      </md-item-template>
      <md-not-found>
      </md-not-found>
    </md-autocomplete>
  </div>

</div>