<div class="p-content">
  <div class="settings-bl-wrap">

    <div class="settings-bl md-whiteframe-z1" flex>
      <div ng-controller="NewPostGoogleMapCtrl as mctrl">
        <form ng-submit="mctrl.save($ctrl.save)" autocomplete="off" layout="column">
          <h2 class="md-headline">Настройки</h2>
          <p class="secondarily">Отредактируйте ваши настройки, что бы в ленту попадали только
            интересные вам публикации.</p>
          <md-divider class="settings-divider"></md-divider>

          <div layout="row" layout-align="space-between center">
            <h5 class="md-title">Категории</h5>
            <a class="icon-wrap" href="/about-me-edit/?act=categories">
              <i class="material-icons icon-wrap__icon icon-wrap__icon_hov icon-wrap__icon_cur">edit</i>
              <md-tooltip md-delay="200">Редактировать категории</md-tooltip>
            </a>
          </div>

          <p class="settings-hint secondarily">
            Отметьте категории. Только публикации указанных вами категорий будут
            отображаться в общей ленте.</p>

          <div ng-if="!$ctrl.availCategories.length" class="settings-hint">
          <span class="md-caption">Пожалуйста,
            <a class="link link_b link_blue" href="/about-me-edit/?act=categories">добавьте</a> ваши категории.</span>
          </div>

          <div layout="row" layout-align="space-between center" ng-if="$ctrl.availCategories.length">
            <span>Показывать публикации всех выбранных категорий</span>
            <md-switch ng-model="$ctrl.isAllCategories" class="md-primary"
                       md-no-ink aria-label="Все категории"></md-switch>
          </div>


          <div layout="row" layout-align="space-between center" ng-repeat="categ in $ctrl.availCategories">

            <span>{{::$ctrl.getTitle(categ)}}</span>
            <md-switch ng-model="$ctrl.categOnlyFlags[$index]" class="md-primary" md-no-ink
                       aria-label="{{::$ctrl.getTitle(categ)}}"
                       ng-change="$ctrl.checkCategFlags($ctrl.categOnlyFlags[$index])"
                       ng-disabled="$ctrl.isAllCategories">
              <span ng-if="$ctrl.isAllCategories" hide>{{$ctrl.categOnlyFlags[$index] = false}}</span>
            </md-switch>

          </div>

          <md-divider class="settings-divider"></md-divider>

          <div layout="row" layout-align="space-between center">
            <h5 class="md-title">Публичные контакты</h5>
            <a class="icon-wrap" href="/about-me-edit/?act=contacts">
              <i class="material-icons icon-wrap__icon icon-wrap__icon_hov icon-wrap__icon_cur">edit</i>
              <md-tooltip md-delay="200">Редактировать контакты</md-tooltip>
            </a>
          </div>

          <p class="settings-hint secondarily">
            Укажите какие из ваших контактов показывать, для дальнейших коммуникаций.
            После того, как вы откликнитесь на какую-нибудь публикацию(соберетесь помочь), человек нуждающийся в помощи
            может выбрать вас. В этом случае именно эти данные ему будут ему показаны.
          </p>

          <div layout="row" layout-align="space-between center" ng-if="$ctrl.availContacts.length">
            <span>Показывать все контакты</span>
            <md-switch ng-model="$ctrl.isAllContacts" class="md-primary"
                       md-no-ink aria-label="Все контакты"></md-switch>
          </div>

          <div layout="row" ng-if="!$ctrl.availContacts.length" class="settings-hint">
          <span class="md-caption">Пожалуйста,
            <a class="link link_b link_blue" href="/about-me-edit/?act=contacts">добавьте</a> ваши контакты.</span>
          </div>

          <div layout="row" layout-align="space-between center" ng-repeat="contact in $ctrl.availContacts">
          <span>{{contact.data}}
            <span class="secondarily"> {{::$ctrl.getDescription(contact.type)}}</span>
          </span>
            <md-switch ng-model="$ctrl.contOnlyFlags[$index]" class="md-primary" md-no-ink
                       aria-label="{{::$ctrl.getDescription(contact.type)}}"
                       ng-change="$ctrl.checkContFlags($ctrl.contOnlyFlags[$index])"
                       ng-disabled = "$ctrl.isAllContacts">
              <span ng-if="$ctrl.isAllContacts" hide>{{$ctrl.contOnlyFlags[$index] = false}}</span>
            </md-switch>

          </div>

          <md-divider class="settings-divider"></md-divider>

          <div layout="row" layout-align="space-between center">
            <h5 class="md-title">Настройки отображения</h5>
          </div>

          <p class="settings-hint secondarily">
            Кастомизируйте внешний вид под себя
          </p>

          <div layout="row" layout-align="space-between center">
          <span>Показывать только пользовательские оформления публикаций в
            <a class="link link_b link_blue" href="/posts/">Объявления</a> и
            <a class="link link_b link_blue" href="/events/">События</a>
          </span>
            <md-switch ng-model="$ctrl.isOnlyCustomHeader" class="md-primary"
                       md-no-ink aria-label="Только кастомные "></md-switch>
          </div>


          <md-divider class="settings-divider"></md-divider>
          <h5 class="md-title">Местоположение</h5>
          <p class="settings-hint secondarily">
            Укажите ваше местоположение, что бы публикации шли в порядке близости от выбранного местоположения.
            Если вы укажете местоположение, то в
            <a class="link link_b link_blue" href="/posts/">Объявления</a> и
            <a class="link link_b link_blue" href="/events/">События</a>
            будут отображаться публикации только с указанным местоположением.
          </p>

          <div layout="row" layout-align="space-between center">
            <span>Местоположение</span>
            <md-switch ng-model="$ctrl.hasLocation" class="md-primary" md-no-ink
                       aria-label="Использовать карту"
                       ng-change="mctrl.coordinates($ctrl.lat, $ctrl.lng); mctrl.isUse=$ctrl.hasLocation">
            </md-switch>
          </div>
          <div ng-if="$ctrl.hasLocation" ng-include="'/public/html/gmap.html'"
               ng-init="mctrl.coordinates($ctrl.lat, $ctrl.lng)"></div>

          <div class="settings-btn-tab"></div>

          <div layout="row" layout-align="center center">
            <md-button type="submit" class="md-raised md-primary">Сохранить</md-button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>