<md-dialog aria-label="Share post" class="share-dialog">
  <form role="form" name="postNewDateForm" autocomplete="off" novalidate
        ng-submit="postNewDateForm.$valid && $ctrl.save()">
    <md-toolbar class="share-dialog__toolbar" md-whiteframe="1">
      <div class="md-toolbar-tools">
        <h2>Поделиться</h2>
        <span flex></span>
        <md-button class="md-icon-button icon-wrap" ng-click="cancel()">
          <md-icon md-font-set="material-icons" class="icon-wrap__icon icon-wrap__icon_hov"
                   aria-label="Close add post">clear
          </md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content layout="column" class="share-dialog__content share-dialog-content">
      <div class="md-body-1 ng-hide" ng-show="::!$ctrl.isPost">
        Хотите поделиться сайтом с друзьями в любимой социальной сети?
      </div>
      <div class="block-share-btns">
        <div class="row">
          <md-button class="md-icon share-btn" aria-label="Vk" ng-click="$ctrl.shareVk()">
            <img class="share-btn__img" src="/public/img/VK.png" alt="Vk">
          </md-button>
          <md-button class="md-icon share-btn" aria-label="Facebook" ng-click="$ctrl.shareFacebook()">
            <img class="share-btn__img" src="/public/img/Facebook.png" alt="Facebook">
          </md-button>
        </div>
        <div class="row">
          <md-button class="md-icon share-btn" aria-label="Twitter" ng-click="$ctrl.shareTwitter()">
            <img class="share-btn__img" src="/public/img/Twitter.png" alt="Twitter">
          </md-button>
          <md-button class="md-icon share-btn" aria-label="GooglePlus" ng-click="$ctrl.shareGooglePlus()">
            <img class="share-btn__img" src="/public/img/GooglePlus.png" alt="GooglePlus">
          </md-button>

        </div>
      </div>

    </md-dialog-content>

    <md-dialog-actions layout-margin layout="row">
      <div flex></div>
      <md-button ng-click="cancel()">Закрыть</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>