<md-dialog aria-label="Зарегистрироваться в Pingvin" class="signup">
  <form name="signUpForm" autocomplete="off" novalidate ng-submit="signUpForm.$valid && $ctrl.signup()">
    <md-toolbar class="signup__toolbar" md-whiteframe="1">
      <div class="md-toolbar-tools">
        <h2>Зарегистрироваться в Pingvin</h2>
        <span flex></span>
        <md-button class="md-icon-button icon-wrap" ng-click="cancel()">
          <md-icon md-font-set="material-icons" aria-label="Close dialog"
                   class="icon-wrap__icon icon-wrap__icon_hov">clear</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content class="signup__content" layout="column" style="max-height: 100%;">

      <div layout="row">
        <md-input-container class="md-block" flex>
          <label>Электронная почта</label>
          <input ng-model="user.email" type="email" name="email" maxlength="256" required md-no-asterisk>
          <div ng-messages="signUpForm.email.$error" role="alert">
            <div ng-message="email">Электронная почта не валидна</div>
            <div ng-message="required">Это поле обязательно для заполнения</div>
            <div ng-message="maxlength">Превышена максимальная длина описания. Максимальная длина 256 символов</div>
          </div>
        </md-input-container>
      </div>

      <div layout="row">
        <md-input-container class="md-block" flex>
          <label>Пароль</label>
          <input ng-model="user.password" type="password" name="password" minlength="1" required md-no-asterisk>
          <div ng-messages="signUpForm.password.$error" role="alert">
            <div ng-message="required">Это поле обязательно для заполнения</div>
            <div ng-message="minlength">Минимальная длина пароля 8 символов</div>
          </div>
        </md-input-container>
      </div>

      <div layout="row">
        <md-input-container class="md-block" flex="50">
          <label>Имя</label>
          <input ng-model="user.first_name" name="firstName" minlength="2" maxlength="128" required md-no-asterisk>
          <div ng-messages="signUpForm.firstName.$error" role="alert">
            <div ng-message="required">Это поле обязательно для заполнения</div>
            <div ng-message="maxlength">Превышена максимальная длина. Максимальная длина 128 символов</div>
            <div ng-message="minlength">Минимальная длина имени 2</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block" flex="50">
          <label>Фамилия</label>
          <input ng-model="user.second_name" name="secondName" minlength="2" maxlength="128" required md-no-asterisk>
          <div ng-messages="signUpForm.secondName.$error" role="alert">
            <div ng-message="required">Это поле обязательно для заполнения</div>
            <div ng-message="maxlength">Превышена максимальная длина. Максимальная длина 128 символов</div>
            <div ng-message="minlength">Минимальная длина фамилии 2</div>
          </div>
        </md-input-container>
      </div>


      <div class="md-body-1" style="text-align: center">У вас уже есть учетная записть ?
        <a class="link link_blue link_b" ng-href="{{::$ctrl.loginUrl}}"> Войти »</a>
      </div>

      <div class="secondarily" style="text-align: center">Нажимая «Зарегистрироваться», Вы соглашаетесь с
        <a class="link link_blue link_b" href="/privacy/">Пользовательским соглашением</a>
      </div>

    </md-dialog-content>

    <md-dialog-actions layout-margin>
      <div flex></div>
      <md-button ng-click="cancel()">Отмена</md-button>
      <md-button class="md-primary md-raised" type="submit">Зарегистрироваться</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>