<md-dialog aria-label="New user avatar" class="new-user-avatar" md-no-ink>
  <md-toolbar class="new-user-avatar__toolbar" md-whiteframe="1">
    <div class="md-toolbar-tools">
      <h2>Загрузка нового изображения</h2>
      <span flex></span>
      <md-button class="md-icon-button icon-wrap" ng-click="cancel()">
        <md-icon md-font-set="material-icons" class="icon-wrap__icon icon-wrap__icon_hov"
                 aria-label="Close post">clear</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content ng-cloak class="new-user-avatar__content" layout="column">

    <img-crop-region type="avatar" pic-file="$ctrl.picFile" crop-coords="$ctrl.cropCoords"
                     progress="$ctrl.progress" loading="$ctrl.loadimg" area-min-size="$ctrl.userMinSizeImg">
    </img-crop-region>

    <div class="error" ng-show="$ctrl.error.show" ng-bind="$ctrl.error.msg"></div>

  </md-dialog-content>

  <md-dialog-actions layout-margin layout="row">
    <div flex></div>
    <md-button ng-click="cancel()">Отмена</md-button>
    <md-button class="md-primary md-raised" ng-click="$ctrl.save()">Загрузить</md-button>
  </md-dialog-actions>

</md-dialog>