<div class="p-content">
  <div class="user-list ng-cloak">
    <div ng-repeat="user in $ctrl.collection"
         class="ng-cloak user-list__user-box user-list__user-box_hov item-user-box md-whiteframe-z1"
         ng-click="$ctrl.openUser(user);">
      <div layout="column" layout-xs="row" flex>

        <div layout-xs="row" layout-align-xs="center center">
          <div class="item-user-box__img image-container">
            <div class="frame-round">
              <div class="crop">
                <img ng-src="{{::$ctrl.avatar(user)}}" alt="фотография">
              </div>
            </div>
          </div>
        </div>

        <div>
          <div layout-xs="row" layout-align-xs="start center">
            <a class="item-user-box__name ellipsis link link_blue md-body-1"
               ng-href="{{ '/user/' + user.id + '/' }}" ng-bind="::$ctrl.fullName(user)"></a>
          </div>

          <div layout="row" class="item-user-box__footer user-item-footer">
            <div class="user-item-footer__helps user-item-footer-el">
              <i class="material-icons user-item-footer-el__icon-first">arrow_forward</i>
              <span class="user-item-footer-el__text" ng-bind="::user.helps"></span>
              <md-tooltip md-direction="top">Столько помог</md-tooltip>
            </div>
            <div class="user-item-footer__mhelps user-item-footer-el">
              <i class="material-icons user-item-footer-el__icon">arrow_back</i>
              <span class="user-item-footer-el__text" ng-bind="::user.mhelps"></span>
              <md-tooltip md-direction="top">Столько помогли</md-tooltip>
            </div>
            <div flex></div>
            <div class="user-item-footer__honors user-item-footer-el">
              <i class="material-icons user-item-footer-el__icon">star</i>
              <span class="user-item-footer-el__text" ng-bind="::user.honors"></span>
              <md-tooltip md-direction="top">Награды</md-tooltip>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <load-more-button ng-cloak="" is-loading="$ctrl.isLoading()"
                    is-show="$ctrl.isShowButton()" on-click="$ctrl.showMore()">
  </load-more-button>
</div>