<div flex layout="column">

  <div layout="row" ng-show="$ctrl.isLoading() && $ctrl.collection.length"  layout-align="center center" flex>
    <md-progress-circular md-mode="indeterminate" md-diameter="40"></md-progress-circular>
  </div>

  <div ng-show="!$ctrl.isLoading() && !$ctrl.collection.length"
       class="ng-cloak user-comment-not-cnmt secondarily" flex>
    {{::$ctrl.userName}} пока не имеет отзывов.
  </div>


  <div ng-show="!$ctrl.isLoading() && $ctrl.collection.length" flex>

    <md-list class="md-dense">
      <md-list-item class="user-comment-comment md-3-line" ng-repeat="comment in $ctrl.collection">
        <div class="md-avatar">
          <div class="frame-round">
            <div class="crop">
              <img ng-src="{{::$ctrl.avatar(comment.created_user)}}" alt="фотография">
            </div>
          </div>
        </div>

        <div class="md-list-item-text user-comment-comment__text user-comment-text" layout="column">
          <div layout="row" layout-align="space-between center" class="user-comment-text__name-time user-comment-nt">
            <span class="user-comment-nt__name md-body-1">
              <a class="link link_blue" ng-href="/user/{{::comment.created_user.id}}/"
                 ng-bind="::$ctrl.getName(comment.created_user)">
              </a>
            </span>
            <span class="user-comment-nt__time secondarily" ng-bind="::$ctrl.fdate(comment.created)"></span>
          </div>
          <ng-rate-it class="user-comment-text__rate" ng-model="comment.rating"
                      step="1" read-only="true"></ng-rate-it>
          <span class="unicode-emojis md-body-1 user-comment-text__comment long-word"
                ng-bind="::comment.text"></span>
        </div>
        <md-divider ng-show="!$last"></md-divider>
      </md-list-item>
    </md-list>

    <load-more-button is-loading="$ctrl.isLoading()" is-show="$ctrl.isShowButton()" on-click="$ctrl.showMore()">
    </load-more-button>

  </div>
</div>