<div class="p-content">
  <div class="user-detail md-body-1 ng-cloak">

    <div class="user-detail__header user-detail-header md-whiteframe-z1"
         layout="row" layout-align="center center">
      <div class="avatar-min" hide-gt-xs>
        <div class="frame-round">
          <div class="crop">
            <img ng-src="{{$ctrl.avatar}}" alt="фотография">
          </div>
        </div>
      </div>
      <h5 class="user-detail-header__name md-title" ng-bind="::$ctrl.name"></h5>
      <div flex></div>

      <div>
        <md-button ng-if="$ctrl.isOwner" class="user-detail-header__btn icon-wrap md-icon-button"
                   href="/about-me-edit/?act=common">
          <md-tooltip md-delay="200">Редактировать профиль</md-tooltip>
          <md-icon md-font-set="material-icons" class="icon-wrap__icon icon-wrap__icon_hov" aria-label="Edit">edit</md-icon>
        </md-button>
      </div>
    </div>

    <div class="user-detail__content user-detal-content" layout="row" layout-sm="column" layout-xs="column">

      <div layout="column" layout-sm="row" class="user-detal-content__avatar-block">
        <div class="detail-bl-avatar md-whiteframe-z1" hide-xs>
          <div class="detail-bl-avatar__img-wrap detail-bl-avatar-img-wrap image-container">
            <div class="detail-bl-avatar-wrap-button">
              <md-button ng-if="$ctrl.isOwner && !$ctrl.isDefaultAva($ctrl.avatar)"
                         class="detail-bl-avatar-img-wrap__icon-wrap md-icon-button"
                         ng-click="$ctrl.removePhoto()">
                <md-tooltip md-delay="200">Удалить фото</md-tooltip>
                <md-icon md-font-set="material-icons" class="detail-bl-avatar-close-icon"
                         aria-label="Remove photo">close</md-icon>
              </md-button>
              <div class="frame-square">
                <div class="crop">
                  <img ng-src="{{$ctrl.avatar}}" alt="фотография">
                </div>
              </div>
            </div>
          </div>
          <div ng-if="::$ctrl.isOwner" hide-sm hide-xs>
            <md-divider></md-divider>
            <div layout="row" class="detail-bl-avatar__btn-wrap">
              <md-button ng-click="$ctrl.addPhoto()" class="add-photo-btn icon-wrap rst_btn_upper">
                <i class="material-icons icon-wrap__icon add-photo-btn__icon">add_a_photo</i>
                <span class="add-photo-btn__text">Изменить фото</span>
              </md-button>
            </div>
          </div>
        </div>

        <div layout="column" flex>
          <div class="detail-bl-categories md-whiteframe-z1">
            <h5 class="md-subhead">Категории:</h5>

            <div ng-if="$ctrl.user.categories.length" class="ng-cloak slider-block slider-block-categories">

              <div class="slider-button-wrap slider-button-wrap_right" ng-show="$ctrl.buttonsCat.show">
                <md-button class="md-fab md-raised slider-button" ng-click="$ctrl.slickConfCat.method.slickNext()"
                           ng-disabled="$ctrl.buttonsCat.disableNext">
                  <md-icon md-font-set="material-icons" aria-label="Edit"
                           class="slider-button__icon">navigate_next</md-icon>
                </md-button>
              </div>

              <div class="slider-button-wrap slider-button-wrap_left" ng-show="$ctrl.buttonsCat.show">
                <md-button class="md-fab md-raised slider-button" ng-click="$ctrl.slickConfCat.method.slickPrev()"
                           ng-disabled="$ctrl.buttonsCat.disablePrev">
                  <md-icon md-font-set="material-icons" aria-label="Edit"
                           class="slider-button__icon">navigate_before</md-icon>
                </md-button>
              </div>

              <slick dots="false" infinite="false" slides-to-show="1" speed="100"
                     center-mode="false" variable-width="true" arrows="false"  draggable="false"
                     settings="$ctrl.slickConfCat">
                <div ng-repeat="c in ::$ctrl.user.categories" on-finish-render="render-categories"
                     class="user-detail-element-box-type" ng-init="c.title=$ctrl.title(c)"
                     ng-class="$ctrl.getStyle(c.title)">
                  <span class="user-detail-element-box-type__letter" ng-bind="::c.title.charAt(0)"></span>
                  <md-tooltip md-delay="200" ng-bind="::c.title"></md-tooltip>
                </div>
              </slick>

            </div>

            <div ng-if="!$ctrl.user.categories.length" class="ng-cloak secondarily user-detail-hint"
                 layout-align="center center" layout="row">
            <span> Нет выбранных категорий.
              <a ng-if="$ctrl.isOwner" href="/about-me-edit/?act=categories"
                 class="secondarily link link_blue">Отредактируйте информацию о себе.</a>
            </span>
            </div>
          </div>

          <div class="detail-bl-categories md-whiteframe-z1">
            <h5 class="md-subhead">Награды:</h5>

            <div ng-if="$ctrl.user.mhonors.length" class="ng-cloak slider-block slider-block-honors">

              <div class="slider-button-wrap slider-button-wrap_right" ng-show="$ctrl.buttonsHon.show">
                <md-button class="md-fab md-raised slider-button" ng-click="$ctrl.slickConfHon.method.slickNext()"
                           ng-disabled="$ctrl.buttonsHon.disableNext">
                  <md-icon md-font-set="material-icons" aria-label="Edit"
                           class="slider-button__icon">navigate_next</md-icon>
                </md-button>
              </div>

              <div class="slider-button-wrap slider-button-wrap_left" ng-show="$ctrl.buttonsHon.show">
                <md-button class="md-fab md-raised slider-button" ng-click="$ctrl.slickConfHon.method.slickPrev()"
                           ng-disabled="$ctrl.buttonsHon.disablePrev">
                  <md-icon md-font-set="material-icons" aria-label="Edit"
                           class="slider-button__icon">navigate_before</md-icon>
                </md-button>
              </div>

              <slick dots="false" infinite="false" slides-to-show="1" speed="100"
                     center-mode="false" variable-width="true" arrows="false"  draggable="false"
                     settings="$ctrl.slickConfHon">
                <div ng-repeat="h in ::$ctrl.user.mhonors" class="user-detail-element-box-type">
                  <!--<md-tooltip md-delay="200">{{::$ctrl.title(c)}}</md-tooltip>-->
                </div>
              </slick>
            </div>

            <div ng-if="!$ctrl.user.mhonors.length" class="secondarily user-detail-hint"
                 layout-align="center center" layout="row">
              Наград пока нет.
            </div>
          </div>
        </div>
      </div>

      <div layout="column" flex class="user-detal-content__info-block">


        <div ng-if="::$ctrl.gender || $ctrl.age || $ctrl.info" layout="column"
             class="detail-bl-info md-whiteframe-z1">

          <div layout="row" layout-xs="column" class="detail-bl-info__gender-age info-gender-age">
            <div ng-if="::$ctrl.gender" class="info-gender-age__gender age-gender">
              <h5 class="age-gender__head md-subhead">Пол: </h5>
              <span class="age-gender__text" ng-bind="::$ctrl.gender"></span>
            </div>
            <div ng-if="::$ctrl.age" class="info-gender-age__age age-gender">
              <h5 class="age-gender__head md-subhead">Возраст: </h5>
              <span class="age-gender__text" ng-bind="::$ctrl.age"></span>
            </div>
          </div>

          <md-divider ng-if=":: ($ctrl.gender || $ctrl.age) && $ctrl.info"></md-divider>
          <div ng-if="::$ctrl.info" class="detail-bl-info__info">
            <h5 class="md-subhead">Обо мне:</h5>
            <p ng-bind="::$ctrl.info"></p>
          </div>
        </div>

        <div class="detail-bl-comments md-whiteframe-z1">
          <h5 class="md-subhead">Отзывы:</h5>
          <user-detail-comments class="ng-cloak" user-name="$ctrl.name"></user-detail-comments>
        </div>
      </div>
    </div>
  </div>
</div>